<div class="modal modal-dialog modal-in-page show modal-lg mt-0" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{# str}}confirm{{/ str}}</h5>
			</div>
			<div class="modal-body">
				<p>{{{message}}}</p>
			</div>
			<div class="modal-footer">
				{{{continue}}}
				{{{cancel}}}
			</div>
		</div>
	</div>
</div>