<div id="page-userinfo">
	<div class="userinfo-desc tabs-left">
		<ul class="nav nav-tabs">
		    <li class="active nav-item-my">
		    	<a data-toggle="tab" href="#tab-my" aria-expanded="true" title="{{# str}}userinfo_tab_my, theme_coursemos{{/ str}}" data-type="my">
		        	{{# str}}userinfo_tab_my, theme_coursemos{{/ str}}
		    	</a>
		    </li>
		    <li class="nav-item-notification">
		    	<a data-toggle="tab" href="#tab-notifications" aria-expanded="false" title="{{# str}}userinfo_tab_notifications, theme_coursemos{{/ str}}"  data-type="notifications">
		        	{{# str}}userinfo_tab_notifications, theme_coursemos{{/ str}}
		    	</a>
		    </li>
		    <li class="nav-item-close">
		    	<a class="userinfo-close" title="close"><i class="fa fa-close"></i></a>
		    </li>
		</ul>
		<div class="tab-content">
			<div id="tab-my" class="tab-pane active">
				<div class="scrollert">
					<div class="scrollert-content">	
						<div class="p-3">Loading...</div>
					</div>
				</div>
			</div>
	
			<div id="tab-notifications" class="tab-pane">
				<div class="scrollert">
					<div class="scrollert-content">	
						<div class="p-3">Loading...</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>