<div class="hd choosertitle">
    {{title}}
</div>

<div class="chooserdialoguebody">
    <div class="choosercontainer">
        <div id="chooseform">
            <form action="{{actionurl}}" id="chooserform" method="{{method}}">
                <div id="typeformdiv">
                    {{#params}}
                        <input type="hidden" id="{{id}}" name="{{name}}" value="{{value}}">
                    {{/params}}
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                </div>

                <div class="options">
                	<div class="container-fluid">
						<div class="row alloptions">
							{{#sections}}
	                            <ul class="col-12 col-md-6 activities">
		                            <li class="moduletypetitle">
										{{label}}
		                            </li>
		                            {{#items}}
		                                {{> theme_coursemos/course_modchooser_item}}
		                            {{/items}}
	                            </ul>
	                        {{/sections}}
                		</div>
                	</div>
                	
                </div>

                <div class="submitbuttons hide">
                    <input type="submit" name="submitbutton" class="submitbutton btn btn-primary" value={{#quote}}{{#str}}add{{/str}}{{/quote}}>
                    <input type="submit" name="addcancel" class="addcancel btn btn-secondary" value={{#quote}}{{#str}}cancel{{/str}}{{/quote}}>
                </div>

            </form>
        </div>
    </div>
</div>
{{#js}}
require([
    'core/yui',
    'core/str'
], function(Y, Str) {
    Str.get_strings([
        { key: 'addresourceoractivity', component: 'moodle' },
        { key: 'close', component: 'editor' },
    ]).then(function(add, close) {
        Y.use('moodle-course-modchooser', function() {
            M.course.init_chooser({
                courseid: {{courseid}},
                closeButtonTitle: close
            });
        });
    });
});
{{/js}}
