<div class="user-info">
	<div class="user-info-picture">
		<img src="{{userpicture}}" alt="{{fullname}}" class="userpicture" />
	</div>

	<div class="user-info-desc">
		<h4 class="username" title="{{fullname}}">{{fullname}}</h4>
		<div class="department" title="{{{department}}}">{{{department}}}</div>
	</div>
    {{{langHTML}}}
</div>
<div class="user-links">
	<a href="{{config.wwwroot}}/user/edit.php" class="link" title="{{# str}}editmyprofile{{/ str}}">{{# str}}editmyprofile{{/ str}}</a>
	
	{{# isSiteAdmin}}
	<a href="{{config.wwwroot}}/local/ubion/" class="link link-admin" target="blank" title="{{# str}}administrator_mode, local_ubion{{/ str}}">{{# str}}administrator_mode, local_ubion{{/ str}}</a>
	{{/ isSiteAdmin}}
	
	{{# isLogin}}
	<a href="{{config.wwwroot}}/login/logout.php?sesskey={{config.sesskey}}" class="link link-logout" title="{{# str}}logout{{/ str}}">{{# str}}logout{{/ str}}</a>
	{{/ isLogin}}
</div>