{{# UBBoardNotices}}
<div class="modal modal-ubboard-notice" tabindex="-1" role="dialog" data-id="{{{id}}}" style="{{{inlineStyle}}}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h6 class="modal-title" title="{{subject}}"><a href="{{{articlelink}}}">{{{subject}}}</a></h6>
			</div>
			<div class="modal-body">
				<div class="modal-body-sub">{{#str}}datecreated, ubboard{{/str}} : {{{date}}}</div>
				{{# file_cnt}}
				<div class="modal-body-sub modal-body-files">
					<ul class="files">
						{{# attachments.files}}
						<li>
							<a href="{{{url}}}">
								<img src="{{{icon}}}" alt="{{{icon_alt}}}" /> {{{text}}}
							</a>
						</li>
						{{/ attachments.files}}
					</ul>
				</div>
				{{/ file_cnt}}
				{{{content}}}
				
				{{# attachments.count}}
					{{# attachments.images}}
					<p>
						<a href="{{{url}}}" class="coursemos-lightbox">
							<img src="{{{url}}}" alt="{{alt}}" />
						</a>
					</p>
					{{/ attachments.images}}
				{{/ attachments.count}}
			</div>
			<div class="modal-footer text-right">
				<button type="button" class="nobtn btn-not-see">{{# str}}not_see_again, ubboard{{/ str}}</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{/ UBBoardNotices}}

{{# js}}
require(['jquery', 'jqueryui', 'theme_coursemos/bootstrap', 'theme_coursemos/jquery.cookie'], function($, jqueryui, bootstrap, cookie) {

	$(".modal-ubboard-notice").modal({show:false, backdrop:false, keyboard:false}).draggable({handle: ".modal-header"});
	
	$(".modal-ubboard-notice .close").click(function() {
		$(this).closest('.modal').hide();
	});

	$('.modal-ubboard-notice .btn-not-see').click(function() {
		modalNotice = $(this).closest('.modal-ubboard-notice')
		articleid = modalNotice.data('id');

		cookiename = 'ubboard-notice-'+articleid;

		cookie(cookiename, 'hide', { expires: 30 });

		modalNotice.remove();
	});

	$('.modal-ubboard-notice').click(function() {
		$('.modal-ubboard-notice').each(function() {
			maxZindex = 50;
			if($(this).css('z-index') > maxZindex) {
				maxZindex = $(this).css('z-index');
			}
		});
		$(this).css('z-index', parseInt(maxZindex)+1);
	});
});
{{/ js}}