<div class="userinfo-title">
	
	<h3 class="title mb-1">
		<i class="fa fa-comments-o"></i> {{# str}}userinfo_notification_title, theme_coursemos{{/ str}}
	</h3>
	<small>{{# str}}userinfo_notification_desc, theme_coursemos, {{listCount}}{{/ str}}</small>
	
	<select class="form-control form-control-type mt-2 mb-3">
		<option value="">{{# str}}userinfo_type_all, theme_coursemos{{/ str}}</option>
		<option value="notification">{{# str}}userinfo_type_notification, theme_coursemos{{/ str}}</option>
		<option value="message">{{# str}}userinfo_type_message, theme_coursemos{{/ str}}</option>
	</select>
	<a href="{{{messageUrl}}}" class="btn btn-sm btn-default">{{#str}}userinfo_message_all, theme_coursemos{{/str}}</a>
	<a href="{{{notificationUrl}}}" class="btn btn-sm btn-default">{{#str}}userinfo_notification_all, theme_coursemos{{/str}}</a>
</div>
<div class="lists">
	{{# lists}}
	<div class="list-item" data-type="{{type}}">
		<a href="{{{url}}}">
			<div class="float-left text-center mr-2">
				<img alt="image" class="img-circle media-object" src="{{{icon}}}">
			</div>
			<div class="media-body media-body-message">
				<div class="mb-1 text-truncate" title="{{text}}">{{text}}</div>
                <small class="text-muted">{{date}}</small>                        
			</div>
		</a>
	</div>
	{{/ lists}}
</div>