<div class="my-course-lists-progress">
	<div class="lists">
		{{# myCourses}}
		<div class="course course-type-{{course_type}} {{^ cu_visible}}course-hidden{{/ cu_visible}}" data-id="{{id}}">
			<a href="{{{url}}}" class="course-link">
				<div class="course-image mr-3">
					<img class="courseimage" src="{{{imageurl}}}" alt="{{coursename}}">
				</div>
				<div class="course-info">
					<h4 class="coursename">
						{{coursename}}
					</h4>
					<small class="prof">{{{profs}}}</small>
				</div>
			</a>
		</div>
		{{/ myCourses}}
		
		{{^ myCourses}}
		<div class="course course-empty">
			{{# str}}no_mycourses, local_ubion{{/ str}}
		</div>
		{{/ myCourses}}
	</div>
</div>