    {{#children}}
        {{^divider}}
            {{#url}}
                <li><a href="{{{url}}}" title="{{{title}}}">{{{text}}}</a></li>
            {{/url}}
            {{^url}}
                <li>{{{text}}}</li>
            {{/url}}
        {{/divider}}
        {{#haschildren}}
            <li>
                <ul class="list-unstyled m-l-1">
                    {{> theme_coursemos/custom_menu_footer }}
                </ul>
            </li>
        {{/haschildren}}
    {{/children}}
