{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="theme-color" content="{{{mobileBrowserThemeColor}}}" />
    {{{ output.standard_head_html }}}
</head>

<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}
	<div id="page">
	
		{{>theme_coursemos/layout-header}}
		
		<div id="page-container">
			<div id="page-lnb">
				{{>theme_coursemos/layout-menus}}
			</div>
			<div id="page-content">
				{{^ isCourseMain}}
					{{# isShowMenu}}
					<div class="page-content-navigation">
					{{{ output.navbar }}}
					</div>
					{{/ isShowMenu}}
				{{/ isCourseMain}}
				
				{{> theme_coursemos/layout-pagecontent}}
				
				
				<div id="page-footer" class="clearfix">
		        	{{> theme_coursemos/layout-footer }}
					
					{{{ output.standard_footer_html }}}	
				</div>
			</div>
        </div>
        
        {{> theme_coursemos/coursemos-userinfo}}
        {{> theme_coursemos/coursemos-ubboard-popup}}
        
		{{# courseEditButton.is}}
		<div id="coursemos-common-buttons">
			<div class="top-sidebar">
				<div class="button-item heading-button">{{{ courseEditButton.headingButton }}}</div>
				{{{courseEditButton.modButtons}}}
			</div>
			<div class="option-btn">
				<img src="/theme/coursemos/pix/layout/popup-icon.png"" alt="" class="option-btn-icon" />
			</div>
			<div class="pagetop-btn">
				{{# pix}}layout/page_top, theme_coursemos{{/ pix}}
			</div>
		</div>
		{{/ courseEditButton.is}}
		
		{{> theme_coursemos/layout-ajaxloading}}
		
		{{#courseEditButton.modButtons}}
		<div id="modal-coursemos-activity" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<ul class="course-sections">
						{{# courseSections}}
						<li class="section-item {{class}}">
							<a href="{{config.wwwroot}}/course/modedit.php?course={{courseid}}&section={{section}}" title="{{stripTitle}}" class="btn-modedit">
								{{{title}}}
							</a>
						</li>
						{{/ courseSections}}
						</ul>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{{/courseEditButton.modButtons}}
	</div>
	{{{ output.standard_end_of_body_html }}}
</body>
</html>