<div id="ajax_loading_submit">&nbsp;</div>
<div id="ajax_loading_container">
	<div id="ajax_loading_submit_img">
		{{#pix}}ajax-loader, theme_coursemos, loading...{{/pix}} Loading...
	</div>
	<div id="ajax_loading_message">
		<p class="save_msg">{{# str}}loading, theme_coursemos{{/ str}}</p>
		<p class="refresh_msg">{{# str}}loading_refresh, theme_coursemos{{/ str}}</p>
	</div>
</div>