<div class="course-container">
	{{{ output.course_content_header }}}
	{{{ output.main_content }}}
	{{! 필요하다면 주석 해제해서 사용하시면 됩니다. }}
	{{{! output.activity_navigation }}}
	{{{ output.course_content_footer }}}
</div>