<div class="login-container container-fluid {{^isSSO}}login-container-person{{/isSSO}} {{#error}}login-container-error{{/error}} {{loginContainerPosition}} {{# banner.is}}login-container-banner{{/ banner.is}}">
	<div class="row">
		<div class="col-loginbox {{^familySiteHTML}}no-family{{/familySiteHTML}}">
			<div class="row">
				<div class="col-login col-login-default">
					<h2 class="login-title">LOGIN</h2>
					<div class="langmenu">
						{{{ langHTML }}}
					</div>
					<div class="loginform">
						<div class="btn-group">
							<a href="{{ssoUrl}}" class="btn btn-login-type btn-login-type-sso">{{# str}}login_sso, theme_coursemos{{/ str}}</a>
							<button type="button" class="btn btn-login-type btn-login-type-person">{{# str}}login_person, theme_coursemos{{/ str}}</button>
						</div>
					</div>
					<div class="loginfind opacity">
						<div class="loginfind-item"><a href="{{findpwd_url}}" target="_blank">{{#str}}forgotten{{/str}}</a></div>
					</div>
				</div>
				<div class="col-login col-login-person">
					<h2 class="login-title">LOGIN</h2>
					{{# isSSO}}
					<div class="login-form-close">
						<button type="button" class="nobtn">&nbsp;</button>
					</div>
					{{/ isSSO}}
					{{^ isSSO}}
					<div class="langmenu">
						{{{ langHTML }}}
					</div>
					{{/ isSSO}}
					
					<form class="mform form-login" method="post" action="{{loginform.default.action}}">
						{{#error}}
				            <p class="loginerrormessage text-danger" title="{{error}}">{{error}}</p>
				        {{/error}}
				        	
						<div class="textform">
							<input type="text" name="{{loginform.default.username}}" id="input-username" class="form-control required"
			                        value="{{username}}"
			                        placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}} />
	
							<input type="password" name="{{loginform.default.password}}" id="input-password" value=""
			                        class="form-control required"
			                        placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
			                        
						</div>
						<div class="submitform">
							<input type="submit" name="loginbutton" class="btn btn-login" value="{{#str}}login{{/str}}" />
						</div>
						
						<div class="rememberpass opacity">
						{{# rememberusername}}
							<label class="checkbox-inline">
								<input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
								{{#str}} rememberusername, admin {{/str}}
							</label>
						{{/ rememberusername}}
						{{# isSeparate}}
							<label class="checkbox-inline">
								<input type="checkbox" name="separateaccount" id="separate-account" value="1" />
								{{# str}}separate_account, theme_coursemos{{/ str}}
							</label>
						{{/ isSeparate}}
						</div>
							
						<div class="loginfind opacity">
							<div class="loginfind-item"><a href="{{loginform.default.findpwd_url}}" target="_blank" class="link-loginfind">{{#str}}forgotten{{/str}}</a></div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="row">
				<div class="col-notice">
					<div class="notice-more">
						<a href="{{{noticeBoardURL}}}">&nbsp;</a>
					</div>
					<h2 class="notice-title">{{#str}} notice, ubboard{{/str}}</h2>
					<ul class="notice-list">
						{{# notices}}
						<li class="notice-item">
							<a href="{{config.wwwroot}}/mod/ubboard/article.php?id={{cmid}}&bwid={{id}}" class="notice-link {{class}}">{{subject}} {{{icon}}}</a>
						</li>
						{{/ notices}}
					</ul>
				</div>
			</div>
			{{# buttonHTML }}
			<div class="row">
				{{{ buttonHTML }}}
			</div>
			{{/ buttonHTML }}
		</div>
		
		{{# banner.is}}
		<div class="col-banner">
			작업 진행되어야 함.
		</div>
		{{/ banner.is}}
	</div>
</div>


{{#js}}
require([
    'jquery', 'theme_coursemos/jquery.validate'
], function($) {

    $(".login-container .form-login").validate({
    	submitHandler:function(form) {
    		$(form.loginbutton).attr('disabled', 'disabled');
    		form.submit();
    	}
    });
    
    {{^error}}
        {{#autofocusform}}
			if ($('#input-username').val()) {
				$('#input-password').focus();
			} else {
				$('#input-username').focus();
			}
        {{/autofocusform}}
    {{/error}}
    
    
    {{# isSSO}}
    $(".login-container  .btn-login-type-person").click(function() {
    	$(".login-container .col-login-default").hide();
    	$(".login-container .col-login-person").show();
    	
    	if($(".login-container .col-login-person #input-username").val().length > 0) {
    		$(".login-container .col-login-person #input-password").focus();
    	} else {
    		$(".login-container .col-login-person #input-username").focus();
    	}
    });
    
    
    $(".login-container .login-form-close .nobtn").click(function() {
    	$(".login-container .col-login-default").show();
    	$(".login-container .col-login-person").hide();
    });
    {{/ isSSO}}
    
    
    {{# isSeparate}}
    // 별도 계정 클릭
    $("#separate-account").click(function() {
    
    	loginform = $(".login-container .form-login");
    	inputUsername = $("#input-username");
    	inputPassword = $("#input-password");
    	linkLoginfind = $(".login-container .link-loginfind");
    	
    	
    	// sso 로그인
    	change_action = 	'{{loginform.sso.action}}';
    	change_username = 	'{{loginform.sso.username}}';
    	change_password = 	'{{loginform.sso.password}}';
    	change_findpwd = 	'{{loginform.sso.findpwd_url}}';
    	
    	if ($(this).is(':checked')) {
    		// 외부인 로그인
    		change_action = 	'{{loginform.person.action}}';
	    	change_username = 	'{{loginform.person.username}}';
	    	change_password = 	'{{loginform.person.password}}';
	    	change_findpwd = 	'{{loginform.person.findpwd_url}}';
    	}
    	
		loginform.attr('action', change_action);
		inputUsername.attr('name', change_username);
		inputPassword.attr('name', change_password);
		linkLoginfind.attr('href', change_findpwd);
    	
    });
    {{/ isSeparate}}
});
{{/js}}
