{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="theme-color" content="{{{mobileBrowserThemeColor}}}" />
    {{{ output.standard_head_html }}}
    {{{ headAddHTML }}}
</head>

<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}
	<div id="page">
		<!-- start: Header -->
		<header id="page-header">
			<div class="logo-toggler pull-left">
				<button type="button" class="toggler">
					<i class="fa fa-bars"></i>
				</button>
		
		        <a href="{{SITECFG.wwwroot}}" class="sitename">
		            Admin System
		        </a>
	        </div>
	        <div class="text-right icons">
	        	<a href="{{config.wwwroot}}" class="icon-button" title="코스모스 메인">
	        		<i class="fa fa-home"></i>
	        	</a>
	        	<a href="{{config.wwwroot}}/login/logout.php?sesskey={{config.sesskey}}" class="icon-button" title="로그아웃">
	        		<i class="fa fa-sign-out"></i>
	        	</a>
				{{{ langHTML }}}
	        </div>
		</header>
		<!-- end: Header -->       
		
        <div id="coursemos-side-menu">
        	{{{ siteMenu }}}
		</div>
		
		<!-- start: Content -->
		<div id="coursemos-content">
			<div class="content-breadcrumb">
				{{{ contentBreadcrumb }}}
			</div>
			<div class="content_wrap">
				{{{ siteMenuSub }}}
				
				<div class="content-content">
					{{{ output.main_content }}}
				</div>
			</div>
			
			<div class="content-footer">
				{{> theme_coursemos/layout-ajaxloading}}	
				{{{ output.standard_footer_html }}}		
			</div>
		</div>
	</div>
	{{{ output.standard_end_of_body_html }}}
</body>
</html>