<div class="course-menus">
	<div class="scrollert">
		<div class="scrollert-content">
			{{# is.lnb}}
			<ul class="menus">
				{{# is.section}}
				<li>
					<div class="block block-coursemos block-coursemos-section" data-name="coursemos-section" id="coursemos-course-sections">
						<div class="block-header">
							<div class="block-controls pull-xs-right">
								<img class="block-hider-hide" alt="{{{menuHelper.hide.title}}}" src="{{{menuHelper.show.icon}}}" title="{{{menuHelper.hide.title}}}" />
								<img class="block-hider-show" alt="{{{menuHelper.show.title}}}" src="{{{menuHelper.hide.icon}}}" title="{{{menuHelper.show.title}}}" />
							</div>
							<h3 class="block-title">{{# str}}block_coursemos_sections, theme_coursemos{{/ str}}</h3>
						</div>
						<div class="block-content">
							<div class="scrollert">
								<div class="scrollert-content">
									<ul class="sections nav" >
										{{#courseSections}}
										<li class="item">
											<a href="{{{url}}}" class="item-link {{class}}" title="{{title}}">
												{{title}}
											</a>
										</li>
										{{/courseSections}}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				{{/ is.section}}
				
				{{# is.courseMenu}}
				<li>
					<div class="block block-coursemos block-coursemos-menu" data-name="coursemos-menu">
						<div class="block-header">
							<div class="block-controls pull-xs-right">
								<img class="block-hider-hide" alt="{{{menuHelper.hide.title}}}" src="{{{menuHelper.show.icon}}}" title="{{{menuHelper.hide.title}}}" />
								<img class="block-hider-show" alt="{{{menuHelper.show.title}}}" src="{{{menuHelper.hide.icon}}}" title="{{{menuHelper.show.title}}}" />
							</div>
							<h3 class="block-title"><a href="{{{menuHelper.courseurl}}}">{{# str}}block_coursemos_menu, theme_coursemos{{/ str}}</a></h3>
						</div>
						<div class="block-content">
							<ul class="topmenu">
								{{# courseMenu}}
									<li class="{{# active}}expand{{/active}} {{# collapse}}expand{{/ collapse}}">
										<a {{^ isSubmenu}}href="{{{url}}}" {{# blank}}target="_blank"{{/blank}}{{/isSubmenu}} class="{{class}} {{^ isSubmenu}}nosubmenu{{/isSubmenu}}" title="{{{name}}}">
											{{{name}}}
										</a>
										
										
										{{#isSubmenu}}
										<ul class="submenu">
											{{# submenu}}
											<li class="{{# active}}active{{/active}}">
												<a href="{{{url}}}" {{# blank}}target="_blank"{{/blank}} class="{{class}} {{# active}}active{{/ active}}" title="{{{name}}}">
													{{{name}}}
												</a>
											</li>
											{{/ submenu}}
										</ul>
										{{/isSubmenu}}
									</li>
								{{/ courseMenu}}
							</ul>
							
							{{{menuHelper.roleChangeHTML}}}
						</div>
					</div>		
				</li>
				{{/ is.courseMenu}}
			</ul>
			{{/ is.lnb}}
			{{{ sidepreblocks }}}
		</div>
	</div>
</div>