{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="theme-color" content="{{{mobileBrowserThemeColor}}}" />
    {{{ output.standard_head_html }}}
</head>
<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}
	<div id="page">
		{{>theme_coursemos/layout-header}}
		
		<div id="page-container">
			<div id="page-lnb">
				{{>theme_coursemos/layout-menus}}
			</div>
			<div id="page-content">
				<div class="container-fluid {{^ col.notifications}}no-notifications{{/ col.notifications}}">
					<div class="row">
						<div class="{{col.dashboard}} col-dashboard">
							<div class="course-container">
								{{{ output.course_content_header }}}
								{{{ output.main_content }}}
								{{{ output.course_content_footer }}}
							</div>
						</div>
						
						{{# col.notifications}}
						<div class="{{col.notifications}} col-notifications">
							<div class="course-container">
								{{{ blockshtml }}}
							</div>
						</div>
						{{/ col.notifications}}
					</div>
				</div>
				
				<div id="page-footer">
					{{> theme_coursemos/layout-footer }}
					
					{{{ output.standard_footer_html }}}	
				</div>
				
				{{> theme_coursemos/coursemos-userinfo}}
				{{> theme_coursemos/coursemos-ubboard-popup}}
			</div>
		</div>
	</div>
	{{{ output.standard_end_of_body_html }}}
</body>
</html>