<div class="footer-menus mb-1">
	{{# footer.privacyurl}}
	<a href="{{{footer.privacyurl}}}" target="_blank" class="btn btn-privacy">{{# str}}privacy_policy, theme_coursemos{{/ str}}</a>
	{{/ footer.privacyurl}}
</div>

<div class="address">
	<p>{{# str}}address, theme_coursemos{{/ str}}</p>
	
	{{# footer.copyright}}
	<p class="copyright">
		{{{ footer.copyright }}}
	</p>
	{{/ footer.copyright}}
</div>
<div id="back-top">
	<a href="#top"><span></span></a>
</div>

{{#footer.familysites}}
<div class="family-sites mt-3 mt-md-0">
	<div class="sites">
		{{{footer.familysites}}}
	</div>
	<button type="button" class="btn btn-family-sites">{{#str}}family_sites, theme_coursemos{{/str}}</button>
</div>
{{/footer.familysites}}