{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_coursemos/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{{mobileBrowserThemeColor}}}" />
    {{{ output.standard_head_html }}}
</head>

<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}
	<div id="page">
		<div id="page-header">
			<a href="{{{ config.wwwroot }}}" class="logo">
	            <span class="sr-only">{{{ sitename }}}</span>
	        </a>		
		</div>
        <div id="page-content" class="clearfix">
            <div id="region-main">
                {{{ output.course_content_header }}}
                {{{ output.main_content }}}
                {{{ output.course_content_footer }}}
            </div>
        </div>
	</div>
	<div id="page-footer">    
        {{> theme_coursemos/layout-footer }}
        {{{ output.standard_footer_html }}}
	</div>
	{{{ output.standard_end_of_body_html }}}
</body>
</html>