<div class="site-menus">
	<div class="scrollert">
		<div class="scrollert-content">
			<ul class="menus">
				{{# siteMenu}}
					<li class="menu-item {{# active}}active{{/active}} {{# isSubmenu}}menu-item-submenu{{/ isSubmenu}}">
						<a {{^ isSubmenu}}href="{{{url}}}" {{# blank}}target="_blank"{{/blank}}{{/isSubmenu}} class="site-menu-link  {{^ isSubmenu}}nosubmenu{{/isSubmenu}}" title="{{{name}}}">
							<i class="fa site-menu-icon {{class}}" aria-hidden="true"></i>
							{{{name}}}
						</a>
						
						{{#isSubmenu}}
						<ul class="submenu">
							{{# submenu}}
							<li class="{{# active}}active{{/active}} submenu-item">
								<a href="{{{url}}}" {{# blank}}target="_blank"{{/blank}} class="{{class}}" title="{{{name}}}">
									{{{name}}}
								</a>
							</li>
							{{/ submenu}}
						</ul>
						{{/isSubmenu}}
					</li>
				{{/ siteMenu}}
			</ul>
		</div>
	</div>
	<div class="site-menu-close"><i class="fa fa-times"></i></div>
</div>