{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="theme-color" content="{{{mobileBrowserThemeColor}}}" />
    
    {{{ output.standard_head_html }}}
</head>

<body {{{ bodyattributes }}}>
{{{ output.standard_top_of_body_html }}}
<div id="page">
    <div id="page-content">
        {{{ output.main_content }}}
    </div>
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>