<div id="page-header" class="navbar navbar-default navbar-fixed-top headroom">
    <button type="button" class="btn-menuonoff">&nbsp;</button>

    <a href="{{{ config.wwwroot }}}" class="logo mr-1 mr-md-3">
        <span class="sr-only">{{{ sitename }}}</span>
    </a>


    <!-- user_menu -->
    <div class="usermenu">
    	{{{ output.user_menu }}}
	</div>

	<div class="coursename">
        <h1 class="page-title pl-2">
            {{# coursename}}
                <a href="{{{courseurl}}}" ><i {{^is.lnb}}class="homeicon"{{/is.lnb}}></i><span style="margin-left: 40px;">{{{coursename}}}</span></a>
                <div class="icons" style="float: right;">
                    <a href="{{config.wwwroot}}/login/logout.php?sesskey={{config.sesskey}}" class="icon-button" title="Logout">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </div>
            {{/ coursename}}
        </h1>
    </div>
</div>