@charset "utf-8";
/* CSS Document */


/* fonts */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}


/* notice */
body { margin:0; padding:0; font-family: 'Nanum Gothic'; background-color:#f7f9fa; }
p { margin:0; padding:0; }

.notice_wrapper { width:100%; }
.notice_inner { width:680px; margin:135px auto 0; font-weight:600; }

.txt_01 { background:url(../images/notice_img.png) no-repeat right top; padding-bottom:70px; border-bottom:1px #e0e0e0 solid; font-size:43px; color:#068053; line-height:46px; letter-spacing:-0.5px; }
.txt_01 span { color:#62b224;  }

.txt_02 { font-size:16px; color:#333; line-height:28px; padding:25px 0; }

.txt_03 { font-size:14px; color:#068053; line-height:30px; background-color:#f2f5f0; border:1px #e0e0e0 solid; padding:20px 30px; }



  
 