$headings-font-family:  $font-family-base;

// well 배경색 override
$well-bg:                   #fff;

$body-color: 				#212529;
$border-width: 				1px !default;

$hr-border-width: 			$border-width !default;
$hr-border-color:           rgba($gray-base, .1) !default;

// stylelint-disable declaration-no-important
.align-baseline    { vertical-align: baseline !important; } // Browser default
.align-top         { vertical-align: top !important; }
.align-middle      { vertical-align: middle !important; }
.align-bottom      { vertical-align: bottom !important; }
.align-text-bottom { vertical-align: text-bottom !important; }
.align-text-top    { vertical-align: text-top !important; }

// button
.btn-noround { border-radius: 0; }
.btn-secondary { @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border); }

// input group 시 높이가 안맞는 문제 수정함.
.input-group {
    .input-group-btn {
        .btn { height: $input-height-base; }
        .btn-lg { height: $input-height-large;}
        .btn-sm { height: $input-height-small; }
        .btn-xs { height: inherit; }
    }
}

.nobtn { 
    background: transparent; 
    border:0; 
    border-radius: 0;
}


// font-size
$h1-font-size:                $font-size-h1;
$h2-font-size:                $font-size-h2;
$h3-font-size:                $font-size-h3;
$h4-font-size:                $font-size-h4;
$h5-font-size:                $font-size-h5;
$h6-font-size:                $font-size-h6;

// border-raius
$border-radius : 			$border-radius-base;
$border-radius-lg:			$border-radius-large;
$border-radius-sm:       	$border-radius-small;

// background-color
$gray-lightest:             #f7f7f9 !default;

$font-size-md :  ceil(($font-size-base * .925)) !default;
$font-size-sm :  $font-size-small !default;
$font-size-xs:   ceil(($font-size-base * .75)) !default;
$font-size-xxs:   ceil(($font-size-base * .625)) !default;
$font-size-lg : ceil(($font-size-base * 1.1)) !default; // ~16px;

.font-size-base { font-size: $font-size-base; }
.font-size-md { font-size: $font-size-md; }
.font-size-sm { font-size: $font-size-sm; }
.font-size-xs { font-size: $font-size-xs; }
.font-size-xxs { font-size: $font-size-xxs; }
.font-size-lg { font-size: $font-size-lg; }


.dl-horizontal-sm {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      width: 100px;
    }
    dd {
      margin-left: 120px;
    }
  }
}

// Form
.form-text {
  display: block;
  margin-top: .25rem;
}

.help-block.text-success { color:$state-success-text; }
.help-block.text-info { color:$state-info-text; }
.help-block.text-warning { color:$state-warning-text; }
.help-block.text-danger { color:$state-danger-text; }

select.custom-select { @extend .form-control; }
.form-control-auto { width: auto; }
.form-control-plaintext {
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: $padding-base-vertical 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    border: 1px solid transparent;
    margin: 0;
}


// Nav
.nav-link { display:block; padding:.5rem 1rem; }

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

// z-index
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;

// Cards well과 동일한 역할을 하는데 향후 고도화를 위

$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius-base !default;
$card-border-color:                 rgba($gray-base, .125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($gray-base, .03) !default;
$card-bg:                           $well-bg;

$card-img-overlay-padding:          1.25rem !default;

$card-group-margin:                 ($grid-gutter-width / 2) !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;

.card {
  position: relative;
  display: block;
  margin-bottom: $card-spacer-y;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
}

// well-bg값을 변경했는데도 well-bg값이 bootstrap값으로 유지되어서 override 함
.well {
    background-color: $well-bg;
    box-shadow: none;
}


// tag
.tag { @extend .label-default; }
.tag-primary { @extend .label-primary; }
.tag-success { @extend .label-success; }
.tag-warning { @extend .label-warning; }
.tag-danger { @extend .label-danger; }
.tag-info { @extend .label-info; }



// table
//
// Condensed table w/ half padding
//
.table-sm {
  th,
  td {
    padding: $table-condensed-cell-padding;
  }
}



// badge bootstrap4 형태로 변경
// Badges
$badge-font-size:                   75% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   .25em !default;
$badge-padding-x:                   .4em !default;
$badge-border-radius:               .25em;

$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          10rem !default;

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius : $badge-border-radius;
  background-color:$label-default-bg;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  border-radius: $badge-pill-border-radius;
}

.badge-primary { background-color:$label-primary-bg; }
.badge-success { background-color:$label-success-bg; }
.badge-info { background-color:$label-info-bg; }
.badge-warning { background-color:$label-warning-bg; }
.badge-danger { background-color:$label-danger-bg; }


// label, badge base
.badge-base,
.label-base { padding: 5px 8px; }

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
) !default;


// Responsive image
//
// Keep images from scaling beyond the width of their parents.

@mixin img-fluid {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}

// Responsive images (ensure images don't scale beyond their parents)
//
// This is purposefully opt-in via an explicit class rather than being the default for all `<img>`s.
// We previously tried the "images are responsive by default" approach in Bootstrap v2,
// and abandoned it in Bootstrap v3 because it breaks lots of third-party widgets (including Google Maps)
// which weren't expecting the images within themselves to be involuntarily resized.
// See also https://github.com/twbs/bootstrap/issues/18178
.img-fluid {
  @include img-fluid;
}



$enable-rounded:            true !default;
@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@import 'breakpoints';


@mixin pull-left {
  float: left !important;
}
@mixin pull-right {
  float: right !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .pull-#{$breakpoint}-left {
      @include pull-left();
    }
    .pull-#{$breakpoint}-right {
      @include pull-right();
    }
    .pull-#{$breakpoint}-none {
      float: none !important;
    }

    .float#{$infix}-left  { @include pull-left; }
    .float#{$infix}-right { @include pull-right; }
    .float#{$infix}-none  { float: none !important; }
  }
}


// text
// CSS image replacement
@mixin text-hide() {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-overflow; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

.font-weight-light  { font-weight: $font-weight-light; }
.font-weight-normal { font-weight: $font-weight-normal; }
.font-weight-bold   { font-weight: $font-weight-bold; }
.font-italic        { font-style: italic !important; }

.text-hide {
    @include text-hide();
}


.text-through { text-decoration: line-through; }

// stylelint-disable declaration-no-important

// Width and height
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);
// stylelint-enable

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }


// stylelint-disable declaration-no-important

// Margin and Padding

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {

        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}t#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }

    // Some special margin utils
    .m#{$infix}-auto { margin: auto !important; }
    .mt#{$infix}-auto,
    .my#{$infix}-auto {
      margin-top: auto !important;
    }
    .mr#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-right: auto !important;
    }
    .mb#{$infix}-auto,
    .my#{$infix}-auto {
      margin-bottom: auto !important;
    }
    .ml#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}


// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s

  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    background-image: none;

  }
}


// stylelint-disable declaration-no-important

//
// Utilities for common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .d#{$infix}-none         { display: none !important; }
    .d#{$infix}-inline       { display: inline !important; }
    .d#{$infix}-inline-block { display: inline-block !important; }
    .d#{$infix}-block        { display: block !important; }
    .d#{$infix}-table        { display: table !important; }
    .d#{$infix}-table-row    { display: table-row !important; }
    .d#{$infix}-table-cell   { display: table-cell !important; }
    .d#{$infix}-flex         { display: flex !important; }
    .d#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}


//
// Utilities for toggling `display` in print
//

@media print {
  .d-print-none         { display: none !important; }
  .d-print-inline       { display: inline !important; }
  .d-print-inline-block { display: inline-block !important; }
  .d-print-block        { display: block !important; }
  .d-print-table        { display: table !important; }
  .d-print-table-row    { display: table-row !important; }
  .d-print-table-cell   { display: table-cell !important; }
  .d-print-flex         { display: flex !important; }
  .d-print-inline-flex  { display: inline-flex !important; }
}
