@font-face {
  font-family: 'Nanum Gothic';
  src: url('[[font:theme|NanumGothic-Regular.eot]]');
  src: url('[[font:theme|NanumGothic-Regular.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|NanumGothic-Regular.woff2]]') format('woff2'),
       url('[[font:theme|NanumGothic-Regular.woff]]') format('woff'),
       url('[[font:theme|NanumGothic-Regular.ttf]]') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url('[[font:theme|NanumGothic-Bold.eot]]');
  src: url('[[font:theme|NanumGothic-Bold.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|NanumGothic-Bold.woff2]]') format('woff2'),
       url('[[font:theme|NanumGothic-Bold.woff]]') format('woff'),
       url('[[font:theme|NanumGothic-Bold.ttf]]') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url('[[font:theme|NanumGothic-ExtraBold.eot]]');
  src: url('[[font:theme|NanumGothic-ExtraBold.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|NanumGothic-ExtraBold.woff2]]') format('woff2'),
       url('[[font:theme|NanumGothic-ExtraBold.woff]]') format('woff'),
       url('[[font:theme|NanumGothic-ExtraBold.ttf]]') format('truetype');
  font-weight: 800;
  font-style: normal;
}