<script type="text/javascript">
	/*
	$(function() {
		var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
		var eventer = window[eventMethod];
		var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
		
		eventer(messageEvent, function (e) {
			alert('parent');
			console.log(e);

		}, false);    
	});
	*/
</script>
<div id="viewer">
  <div class="viewer-header">
     <div class="viewer-close">
         <button type="button" class="btn btn-close">
            {{# pix}} layer/viewer-close, econtents {{/ pix}}
         </button>
     </div>
     <h1 class="viewer-title">{{name}}</h1>
  </div>
  <div class="viewer-content">
     <iframe src="{{{url}}}" width="100%" height="100%"></iframe>
     <div class="alert alert-message"></div>
  </div>
</div>
