.path-backup {
    .progressbar_container {
        max-width: inherit;

        .progress {
            height: 30px;

            .progress-bar {
                line-height: 30px;
                padding-left: 10px;
                text-align: left;
            }
        }
    }

    .wibbler {
        display: none;
    }

    .backup_progress {
        margin-top: 0;
        margin-bottom: 2rem;

        .backup_stage.backup_stage_current {
            color: $coursemos-fontcolor;
        }
    }

    .backup-restore {
        .singlebutton {
            display: block;
            float: inherit;
            text-align: right;
        }
    }

    .backup-section {
        h2.header {
            font-size: $font-size-h3;
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        /* Add card styles to backup sections */
        ::after {
            content: none;
        }


        // 테이블 영역
        .backup-sub-section {
            td.modulename {
                .iconlarge {
                    margin-right: 5px;
                }
            }
        }
    }

    .mform {
        fieldset {
            margin-left: 0;

            legend {
                padding-bottom: 1rem;
            }
        }

        .normal_setting {
            width: 100%;
            float: none;
        }

        .grouped_settings {
            .include_setting {
                width: 70%;
                float: left;
            }
            .normal_setting {
                width: 30%;
                float: left;
            }
        }

        .root_setting:nth-of-type(even),
        .grouped_settings:nth-of-type(even),
        .root_setting:nth-of-type(odd),
        .grouped_settings:nth-of-type(odd) {
            background-color: inherit;
        }

        .root_setting {
            .form-group .icon:first-of-type {
                margin-left: 0;
            }
        }


        #id_coursesettings {
            .grouped_settings {
                background-color: white;
            }
        }
    }


    // import페이지 설정
    .ics-search {
        input.form-control {
            width: auto;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}