// block
.block {
    background-color: white;
    margin: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $coursemos-bordercolor;
    box-shadow: none;

    .block-header {
        padding: 22px 18px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #ebebeb;
        color: #666;
        background-color: white;

        .block-title {
            font-size: 1rem;
            color: $coursemos-fontcolor;
            font-weight: bold;
            margin: 0;
            padding-bottom: 0;

            .badge {
                background-color: #86bfaa;
                color: white;
                font-size: $font-size-xxs;
                margin-left: 4px;
            }
        }

        .block-controls {
            float: right;

            img {
                margin: 0 2px;
                vertical-align: baseline;
                cursor: pointer;
            }

            .moodle-actionmenu {
                position: relative;
                top: -3px;
            }

            .block-hider-show {
                display: none;
            }
        }
    }

    .block-content {
        padding: 16px 20px;
    }

    &.hidden {
        .block-header {
            background-color: #e8ebeb;

            .block-title {
                color: #666;
            }

            .block-hider-hide {
                display: none;
            }
            .block-hider-show {
                display: inline;
            }
        }

        .block-content {
            display: none;
        }
    }
}


.block_settings {
    .block_tree {
        ul {
            padding-left: 1rem;
        }

        // fa 아이콘이 따로 설정되지 않은 항목은 이미지로 대체
        .fa-fw {
            background: url([[pix:core|i/navigationitem]]) no-repeat left center;
            width: 16px;
            height: 16px;
            margin-top: 1px;
            vertical-align: top;
        }

        .tree_item {
            @include text-overflow;
            &.branch {
                margin-left: 0;
            }
        }

        hr {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .type_siteadmin {
            margin-bottom: 15px;
        }

        p.hasicon {
            padding-left: 0;
            text-indent: inherit;
        }
    }
}