.path-calendar {
    .maincalendar {
        .calendarwrapper {
            .header {
                margin-bottom: 3rem;

                .form-control {
                    display: inline-block;
                    width: auto;
                    margin-left: 10px;
                    max-width: 50%;
                }
            }

            .calendar-controls {

                h2 {
                    margin: 0;
                    font-size: $font-size-h5;
                    font-weight: bold;
                }
            }

            .calendarmonth {
                width: 100%;
                table-layout: fixed;

                /* .show-desktop { } */
                .hidden-desktop {
                    display: none;
                }

                @include media-breakpoint-down(sm) {
                    .show-desktop {
                        display: none;
                    }
                    .hidden-desktop {
                        display: block;
                    }
                }

                ul li {
                    .icon {
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                    }
                    .eventname {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}