/* body.coursemos-layout-course {

} */

body.coursemos-coursepage {
    #page-header {

        .logo {
            background-image: url($coursemos-logo_small);
            width: 22px;
            max-width: 22px;
            margin-right: 14px;
            background-size: inherit;
            display: none;
        }
    }
}

/* body.coursemos-headroom-unpin {

 }*/

// 메뉴 숨김상태
/* body.coursemos-menu-hide {

} */

.label-coursetype {
    border-radius: 0;
    color: white;
    font-size: $font-size-xs;
    width: 60px;
    max-width: 60px;
    border: 1px solid #4aadb4;
    background-color: #4aadb4;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 0;
    vertical-align: middle;
    @include text-overflow;


    + .label-coursetype-under {
        background-color: white;
        color: #4aadb4;
    }

    /* &.label-coursetype-re { } */
    &.label-coursetype-ir {
        background-color: #7684b5;
        border-color: #7684b5;
    }
    &.label-coursetype-ir + .label-coursetype-under {
        color: #7684b5;
        border-color: #7684b5;
    }
    &.label-coursetype-pr {
        background-color: #e7b53c;
        border-color: #e7b53c;
    }
    &.label-coursetype-pr + .label-coursetype-under {
        color: #e7b53c;
        border-color: #e7b53c;
    }
    &.label-coursetype-op {
        background-color: #a875ae;
        border-color: #a875ae;
    }
    &.label-coursetype-op + .label-coursetype-under {
        color: #a875ae;
        border-color: #a875ae;
    }
    &.label-coursetype-ec {
        background-color: #94ba43;
        border-color: #94ba43;
    }
    &.label-coursetype-ec + .label-coursetype-under {
        color: #94ba43;
        border-color: #94ba43;
    }
    &.label-coursetype-on {
        background-color: #e7b53c;
        border-color: #e7b53c;
    }
    &.label-coursetype-on + .label-coursetype-under {
        color: #e7b53c;
        border-color: #e7b53c;
    }
    &.label-coursetype-mi {
        background-color: #bdbfbf;
        border-color: #bdbfbf;
    }
    &.label-coursetype-mi + .label-coursetype-under {
        color: #bdbfbf;
        border-color: #bdbfbf;
    }
}

// 강좌 숨김처리
.course-hidden {
    .label-coursetype {
        background-color: #bdbfbf;
        border-color: #bdbfbf;

        + .label-coursetype-under {
            background-color: white;
            color: #bdbfbf;
            border-color: #bdbfbf;
        }
    }
}


.favorite_modchooser {
    text-align: center;
    position: relative;
    float: right;
    margin-top: 20px;

    ul {
        display: none;
        list-style: none;

        li {
            display: inline-block;
            margin: 1px;
            /*width:61px;*/
            /*padding: 10px 15px;*/
            width: 55px;
            padding: 10px 5px;
            background-color: white;

            a {
                display: block;
                /*padding:10px 0 5px;*/
                font-size: $font-size-sm;

                img {
                    height: 24px;
                }

                .modulename {
                    @include text-overflow;
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }

    .modchooser-link {
        margin-top: 0;

        a {
            margin: 0 auto;
            /*width:85%;*/
            display: block;
        }

        .instancename {
            border-radius: 0;
            color: white;
            border: 0;
            padding: 8px 12px 8px 40px;
            background: url([[pix:theme|layout/add_modules]]) no-repeat 15px center #94ba42;
            text-decoration: none;
        }
    }


    &.usefavorite {
        /*width: 166px;*/
        /*padding: 20px 10px;*/
        padding: 15px;
        background-color: #f2f2f2;
        
        @include media-breakpoint-down(md) {
        	padding-left: 10px;
        	padding-right: 10px;
        }


        ul {
            display: block;
            padding: 0;
        }

        .modchooser-link {
            /*margin-top:20px;*/
            margin-top: 15px;

            .instancename {
                font-size: 12px;
                background: #94ba42;
                padding: 8px;
                display: block;
                @include text-overflow;
            }
        }
    }
}

// 강좌 포맷 관련 override
.path-course-view .course-content li.section .sectionname,
.path-course-view .course-content .section-summary .section-title,
.path-course-view .course-content li.section .sectionname a,
.path-course-view .course-content .section-summary .section-title {
    color: $coursemos-fontcolor;
}

/* 학습자원/활동 추가 팝업 */
body.editing {
    .choosercontainer {
        #chooseform {
            .alloptions {
                box-shadow: none;
                max-width: 100%;
                margin: 0;
            }


            .moduletypetitle {
                margin: 0;
                padding: 1rem;
                text-align: center;
                font-size: $font-size-lg;
                color: #333;

                .modicon {
                    display: none;
                }
            }


            .activities {
                margin: 0;
                list-style: none;

                &:first-child {
                    border-right: 1px solid #e9e9e9;
                }

                .nonoption {
                    display: none;
                }

                .option {
                    cursor: pointer;
                    padding: 10px 6px;
                    margin: 0;
                    float: left;
                    min-width: 80px;
                    min-height: 90px;
                    text-align: center;

                    .modicon {
                        margin-bottom: 10px;
                        display: block;

                        .icon {
                            width: inherit;
                            height: inherit;
                            font-size: inherit;
                            padding: 0;
                        }
                    }
                    .typename {
                        width: 80px;
                        text-align: center;
                        padding: 0;
                        @include text-overflow;
                    }

                    &:hover {
                        color: #34b8a0;
                        font-weight: bold;
                        background-color: white;
                        text-decoration: underline;
                    }
                }
            }

            .coursemos-submitbuttons {
                display: none;
            }
        }
    }
}

// 강좌 주차 목록 (학습자원/활동 추가시 사용됨)
#modal-coursemos-activity {
    .modal-body {
        max-height: 350px;
        overflow-y: auto;
    }
    .course-sections {
        .section-item {
            margin: 8px 0;
        }
    }
}


li.section.hidden,
.block.hidden,
.block.invisible {
    visibility: visible;
    display: block !important;
}


.path-course-view .course-content li.section.hidden {
    .sectionname {
        color: $text-muted;
    }
}

#changenumsections {
    padding: 1rem;
}


/************************
 * course/management.php
 ************************/
.coursecat-management-header {
    h2 {
        padding: 0 2rem;
        margin-bottom: 30px;
    }

    .view-mode-selector {
        margin: 10px 1rem;
    }
}

#coursecat-management {
    padding: 0 2rem;
    margin-top: 0;
    margin-bottom: 26px;

}

#course-category-listings {
    @include clearfix;

    margin-left: floor(($grid-gutter-width / -2));
    margin-right: ceil(($grid-gutter-width / -2));


    .category-listing,
    .course-listing,
    .course-detail {
        border: 1px solid #ddd;
        background-color: white;
    }

    .category-listing h3,
    .course-listing h3,
    .course-detail h3 {
        padding: .5rem 1rem;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        font-size: 1.5rem;
    }

    .listing-actions {
        padding: 1rem 0;
    }

    .listing-pagination-totals {
        padding: 0.5rem;
    }

    .bulk-actions {
        .detail-pair {
            border-bottom: 0;

            .pair-key {
                margin: 10px 0;
            }
            .pair-value {
                .form-control {
                    margin-bottom: 10px;
                }
            }
        }
    }


    #category-listing .category-bulk-actions,
    #course-listing .course-bulk-actions {
        margin: 0 0 15px 0;
    }

    ul.ml {
        padding-left: 0;

        .listitem {

            > div {
                line-height: 35px;
            }

            .float-left {
                margin-right: 5px;

                &.ba-checkbox {
                    margin-right: 5px;
                }
                .tree-icon {
                    margin: 0;
                    min-width: 20px;
                    min-height: 20px;
                }
            }
        }
    }


    .course-detail {
        padding: 15px;

        #course-detail-title {
            margin: -15px -15px 0 -15px;
        }

        .detail-pair {
            .pair-key {
                text-align: right;
            }

            .pair-key,
            .pair-value {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

#coursesearch {
    margin: 2rem 0;

    fieldset.coursesearchbox label {
        margin-right: 5px;
    }
}


.section {
    .activity {
        .activityinstance {
            > a {
                display: inline;
                padding-left: 0;
                text-indent: inherit;
            }
        }
    }
}

.activity-navigation {
	#jump-to-activity { width: 100% !important; }
}