.editor_atto_wrap {
    .editor_atto_content_wrap {
        .editor_atto_content {
            border: 0;
            border-radius: 0;
        }
    }
}

/* atto plugin */
#atto_managefiles_manageform {
	#id_filemanagerhdr { 
		margin: 0;
		border-bottom: 0;
		
		legend {
			display: none;
		}
		
		.form-group-files_filemanager {
			.control-label { 
				display: none;
			}
			
			.felement {
				width: 100% !important;
			}
		}
	}
}

.moodle-dialogue {
	.atto_form {
		padding: 0;
		
		select,
		textarea,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		input.fullwidth {
			height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	  		padding: $padding-base-vertical $padding-base-horizontal;
			font-size: $font-size-base;
			line-height: $line-height-base;
			color: $input-color;
			background-color: $input-bg;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
			border: 1px solid $input-border;
			border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
			
			// Customize the `:focus` state to imitate native WebKit styles.
			@include form-control-focus;
			
			// Placeholder
			@include placeholder;

		}
		
		.nav-tabs {
			margin-bottom: 1rem;
		}
		
		input + br,
		button + br,
		select + br,
		label + br {
			display: block;
			content: "";
			margin: 1rem 0;
		}
		
		button,
		input[type="submit"] {
			display: inline-block;
			margin-bottom: 0; // For input.btn
			font-weight: $btn-font-weight;
			text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
			border: 1px solid transparent;
			white-space: nowrap;
			@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
			@include user-select(none);
			
			@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
		}
		
		button[type="submit"],
		input[type="submit"] {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
		
		.atto_image_size { 
			margin-bottom: 1rem;
		}
		
		
		// 특정 plugin 설정
		.openimagebrowser {
			margin-bottom: 1rem;
		}
		
		.atto_equation_groups  {
			margin-bottom: 1rem; 
		}
		
		&.atto_media {
			.atto_media_source {
				margin-bottom: 1rem;
				
				> label {
				    width: calc(100% - 170px);
				}
				
				.openmediabrowser {
					max-width: 170px;
				}
			}
		}
	}
}