.path-grade-report-grader {
    #page-content {
        background-color: $coursemos-body-bgcolor;
    }


    .gradeparent {
        tr:nth-of-type(even) .cell {
            background-color: white;
        }

        th.cell,
        .floater .cell {
            padding: $table-cell-padding;
        }

        /*
        .floater .cell {
            background-color:#f1f1f1;
        }
        */

        td.userreport {
            width: 55px;
            text-align: center;
        }

        .gradeitemheader {
            max-width: 100px;

            .itemicon {
                width: 16px;
                margin-right: 3px;
            }
        }
        input.text {
            display: inline-block;
        }
    }

}
