// 768 해상도 보다 크거나 같은 경우
/* @include media-breakpoint-up(sm) {

} */


// 992px 해상도 보다 크거나 같은 경우
@include media-breakpoint-up(md) {
    // PC화면인 경우에는 메뉴 활성화시 backdrop 화면이 보일 필요가 없음.
    .coursemos-menu-backdrop {
        display: none;
    }
}

/* @include media-breakpoint-up(lg) {

}
 */

// 1200px 해상도 보다 크거나 같은 경우
/* @include media-breakpoint-up(xl) {

} */

@include media-breakpoint-down(md) {
    .pagelayout-frontpage {
        #page-container {
            #page-content {
                .col-dashboard {
                    .course-container {
                        padding-bottom: 0;
                        padding-left: 30px;
                        padding-right: 30px;
                        min-height: auto;
                    }
                }

                .col-notifications {
                    margin: 0 30px 32px 30px;
                    border: 1px solid $coursemos-bordercolor;
                    border-bottom: 0;


                    .course-container {
                        min-height: inherit;
                    }
                }
            }
        }
    }
}


/* 768 해상도 보다 작은 경우 */
@include media-breakpoint-down(sm) {
    #page-header {
        .btn-menuonoff {
            display: inline;
        }
        
        .logo {
            width: $coursemos-layout-header-logo-small;
            max-width: $coursemos-layout-header-logo-small;
            background-size: $coursemos-layout-header-logo-small;
        }
    }

    #page-lnb {
        position: fixed;
        left: -$coursemos-layout-lnb;
        z-index: $zindex-sticky;
        width: 0;

        .sidemenu-container {
            height: 100%;
        }
    }

    #page-container {
        #page-content {
            margin-left: 0;

            .course-container {
                padding: 1.5rem;
            }
            .page-content-navigation {
                .breadcrumb {
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }
            }
        }
    }

    body.coursemos-coursepage {
        #page-lnb {
            left: -$coursemos-layout-lnb-large;
            width: $coursemos-layout-lnb-large;
        }

        #page-container {
            #page-content {
                margin-left: 0;
            }
        }
    }

    body.coursemos-mobile-menu-show {
        // y 영역 스크롤 해제
        overflow: hidden;

        #page-lnb {
            left: 0;
            opacity: 1;
        }
    }

    body.coursemos-body-blur {
        #page-content {
            .course-container {
                filter: blur(2px);
            }
        }
    }


    .pagelayout-frontpage {
        #page-container {
            #page-content {
                .col-dashboard {
                    .course-container {
                        padding: 10px 0;
                    }
                }

                .col-notifications {
                    margin: 0 15px 32px 15px;
                }
            }
        }
    }

    .pagination {
        > li > a,
        > li > span {
            padding-left: 10px;
            padding-right: 10px;
            font-size: $font-size-sm;
        }
    }
}

/* @include media-breakpoint-down(xs) {

} */

/* iphone se */
@media (max-width: 320px) {
    #page-header .logo {
        width: 125px;
        max-width: 125px;
        background-size: 125px;
    }
}