.pagelayout-frontpage {
	#page-header {
		.btn-menuonoff {
			display: none;
		}
	}
	
    #page-container {
        #page-content {
            .container-fluid {
                background-image: url([[pix:theme|layout/front-dash-noti-bar]]);
                background-repeat: repeat-y;
                background-position-x: percentage((9 / $grid-columns));

                @include media-breakpoint-down(lg) {
                    background-position-x: percentage((8 / $grid-columns));
                }

                @include media-breakpoint-down(md) {
                    background-image: none;
                }
                
                &.no-notifications {
                	background-image: none;
                }
            }

            .col-dashboard {
                // .col-dashboard에 곧바로 padding값을 주면 100vh-180px 으로 min-height값주면 padding-top, padding-bottom 크기 만큼 높이 계산이 제대로 안됨.
                .course-container {
                    padding: 32px 25px;

                    .course-lists {

                        // progress는 1
                        &.course-layout-1 {
                            .course-option {
                                .filter {
                                    .form-control-year {
                                        display: none;
                                    }
                                    .form-control-semester {
                                        display: none;
                                    }
                                }
                            }
                        }

                        // hakgi는 2
                        &.course-layout-2 {
                            .course-option {
                                .filter {
                                    .form-control-setting {
                                        display: none;
                                    }
                                }
                            }
                        }


                        // 강좌타입, 연도, 학기 등 selectbox
                        .form-control-submit {
                            width: auto;
                            color: $coursemos-fontcolor;
                            display: inline-block;
                            box-shadow: none;
                            vertical-align: middle;

                            @include media-breakpoint-down(sm) {
                                display: block;
                                width: 100%;
                            }
                        }
                    }

                    .course-option {
                        .filter {
                            .form-control-submit {
                                font-size: $font-size-lg;
                                font-weight: bold;
                            }
                        }

                        .layout-option {
                            .btn-layout {
                                background-color: white;
                                color: #bdbebf;
                                box-shadow: none;
                                border: 1px solid #e0e0e0;
                                margin-top: 1px;

                                &:hover,
                                &:active,
                                &:focus,
                                &.current {
                                    color: #656566;
                                    box-shadow: none;
                                }
                            }
                        }
                    }

                    // 공통적으로 사용되는 항목
                    .fieldset-course {
                        margin-bottom: 2rem;

                        &:last-child {
                            margin-bottom: 0;
                        }


                        legend {
                            font-size: $font-size-large;
                            border-bottom: 0;
                            margin-bottom: 10px;
                            color: $coursemos-fontcolor;
                            font-weight: bold;
                        }


                    }   // fieldset


                    .lists {
                        border: 1px solid #e0e0e0;

                        .course {
                            border-top: 1px solid #e0e0e0;
                            background-color: white;


                            &.course-empty {
                                padding: 21px 20px;
                                border-top: 0;
                            }
                            &:first-child {
                                border-top: 0;
                            }

                            .course-link {
                                display: block;
                                padding: 21px 20px;

                                .course-image {
                                    float: left;

                                    .courseimage {
                                        width: 54px;
                                        height: 54px;
                                        border-radius: 27px;
                                    }

                                    @include media-breakpoint-down(md) {
                                        display: none;
                                    }
                                }

                                .course-label {
                                    float: left;
                                    margin: 4px 10px;
                                    min-height: 46px;

                                    .label-coursetype {
                                        display: block;
                                    }


                                    @include media-breakpoint-down(md) {
                                        margin-left: 0;
                                    }
                                }


                                .course-favorite {
                                    float: right;
                                    font-size: $font-size-h2;
                                    padding: 6px;


                                    &.disabled {
                                        cursor: $cursor-disabled;
                                    }

                                    &:hover {
                                        color: $coursemos-favorite-color;
                                    }

                                    .fa-favorite::before {
                                        content: $fa-var-star-o;
                                    }
                                }

                                .course-info {
                                    margin: 6px 0 7px;

                                    .coursename {
                                        margin: 0;
                                        font-size: $font-size-lg;
                                        font-weight: bold;
                                        color: #000;
                                        margin-bottom: 6px;
                                        @include text-overflow;

                                        .label-period {
                                            display: inline-block;
                                            margin-bottom: 0;
                                            vertical-align: top;
                                        }
                                    }

                                    .prof {
                                        display: block;
                                        font-size: $font-size-sm;
                                        color: #999;
                                        margin: 0;
                                        @include text-overflow;
                                    }

                                }   // course-info
                            }   // course-link


                            // 강좌 미사용 처리
                            &.course-hidden {
                                background-color: #f7f9fa;
                                opacity: 0.6;
                                filter: alpha(opacity=60);

                                .course-link {
                                    .course-info {
                                        .coursename {
                                            color: #999;
                                        }
                                    }
                                }
                            }

                        }  // course
                    }   // lists


                    // 즐겨 찾기
                    .mycourse-favorite {
                        clear: both;
                        margin-bottom: 80px;

                        .lists {
                            .course {
                                .course-link {
                                    .course-favorite {
                                        .fa-favorite {
                                            color: $coursemos-favorite-color;

                                            &::before {
                                                content: $fa-var-star;
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        @include media-breakpoint-down(md) {
                            margin-bottom: 3rem;
                        }
                    }

                    .my-course-lists {
                        clear: both;
                    }

                }

                @include media-breakpoint-down(md) {
                    margin-bottom: 2rem;
                }
            }

            .col-notifications {
                padding: 0 0 0 1px;

                .course-container {
                    padding: 0;
                }
            }
        }
    }

    .block.block-news .block-header,
    .block.block-upcomming .block-header,
    .block.block-notification .block-header {
        border-bottom: 0;
    }

    .block-upcomming {
        .block-content {
            padding-bottom: 0;

            .timeline {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 12px 0;
                    background: url('[[pix:theme|timeline/bar]]') repeat-y 21px;

                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 20px;
                    }

                    a {
                        font-size: $font-size-sm;
                        color: #666;

                        .image {
                            float: left;

                            .icon {
                                width: 42px;
                                margin: 0;
                                height: 42px;
                                background-color: white;
                            }
                        }

                        .title {
                            margin-left: 55px;
                            padding: 3px 0;

                            h5 {
                                margin: 0 0 4px 0;
                                @include text-overflow;
                            }

                            p {
                                margin: 0;
                                color: #999;
                                font-size: $font-size-sm;
                                @include text-overflow;
                            }
                        }
                    }

                    &.more {

                        padding: 10px 0 20px 0;
                        margin-bottom: 0;

                        .btn-more {
                            margin-left: 55px;
                            width: calc(100% - 55px);
                            border-color: #cacbcd;
                            background-color: #edeef0;
                            padding: 6px 12px;
                        }
                    }
                }
            }
        }
    }

    .block-notification {
        .block-content {
            padding-top: 10px;

            .media {
                background: url('[[pix:theme|timeline/bar]]') repeat-y 21px;
                border: 0;
                padding: 12px 0;
                margin-top: 0;

                .media-link {
                    display: block;

                    &.text-through {
                        cursor: not-allowed;
                    }
                }

                .media-heading {
                    color: $coursemos-fontcolor;
                    margin-top: 4px;
                    margin-bottom: 3px;
                    font-weight: bold;
                }

                .media-left {
                    padding-right: 10px;

                    .media-object {
                        background-color: white;
                    }
                }

                .media-desc {
                    color: #666;
                    margin-bottom: 0;
                }

                &:first-child {
                    padding-top: 0;
                }
                &.media-last {
                    padding-bottom: 0;
                    margin-bottom: 20px;
                }
            }

            .nodata {
                padding: 0 20px 20px 20px;
            }
            .more-button {
                margin-top: 8px;

                .btn {
                    width: 100%;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
        }
    }
}