// 기본값 16px은 너무 크기 때문에 14로 맞춰줌.
html {
    font-size: 14px;
}

* {
    font-family: $font-family-base;
}

input,
button,
select,
textarea {
    font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family-base;
}


a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a {
    color: $coursemos-linkcolor;
}

body {
    margin: 0;
    background-color: $coursemos-body-bgcolor;
    padding: $coursemos-layout-header 0 0 0;

    &.no-header {
        padding-top: 0;
        
        #page-header {
        	display: none;
        }
    }
}

#page {
    min-height: 100%;
    margin-top: 0;
}

#page-header {
	height: $coursemos-layout-header;
    max-height: $coursemos-layout-header;
    background: linear-gradient(to right, #00b6f0 50%, #d56fc9);
    z-index: $coursemos-header-zindex;
    border: 0;
    margin-bottom: 0;
    padding: $coursemos-layout-header-padding-y $coursemos-layout-header-padding-x;

    // IE10 미만에서 navbar-fixed-top css가 안먹히는거 같아서 해당 코드 명시해줌
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;

    .btn-menuonoff {
        display: none;
        background: url([[pix:theme|layout/menu]]) no-repeat;
        padding: 0;
        border: 1px solid transparent;
        float: left;
        outline: none;
        width: 22px;
        height: $coursemos-layout-header-content-height;
        margin-right: $coursemos-layout-header-padding-x;
    }

    .logo {
        background: url($coursemos-logo) center center no-repeat;
        width: $coursemos-layout-header-logo;
        max-width: $coursemos-layout-header-logo;
        margin: 0;
        height: $coursemos-layout-header-content-height;
        overflow: hidden;
        float: left;
    }

    .coursename {
		
        .page-title {
            font-size: $font-size-lg;
            color: white;
            margin: 0;
            line-height: $coursemos-layout-header-content-height;
            @include text-overflow;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .usermenu {
        margin-top: 6px;
        margin-left: 10px;
        
        .nav-item-lang {
        	margin-top: 8px;
        	
        	.dropdown-toggle {
        		padding: .5rem;
			    background: white;
			    font-size: .875rem;
			    color: #333;
			    text-decoration: none;
			    border: 1px solid #e0e0e0;
        	}
        	
        	.dropdown-menu {
        		left: auto;
        		right: 0;
        	}
        }

        .nav-item-userinfo {
            margin-right: 10px;

            .btn-userinfo {
                padding: 0;
                cursor: pointer;
                border-radius: 18px;

                .userpicture {
                    margin-right: 0;
                    border-radius: 18px;
                }
            }

            .badge {
                background-color: $coursemos-badge_color;
                position: absolute;
                right: -5px;
                top: -5px;
                padding: 3px 5px;
                border-radius: 10px;
                border: 2px solid #fff;
            }
        }
        .nav-item-loginout {
            margin-top: 1px;

            .btn-loginout {
                background-color: $coursemos-loginoutcolor;
                border-radius: 0;
                border: 0;
                padding: 8px 12px;
                font-size: $font-size-sm;
                height: 32px;
                color: white;
                box-shadow: none;
            }
        }
    }
}


$coursemos-userinfo-nav-tabs-width : 75px;
$coursemos-userinfo-height : calc(100vh - #{$coursemos-layout-header});
$coursemos-userinfo-header-unheader : 100vh;

$coursemos-userinfo-top-border: #e0e0e0;
$coursemos-userinfo-border: #ebebeb;

// 사용자 상세 정보
#page-userinfo {
    display: none;
    position: fixed;
    top: $coursemos-layout-header;
    right: 0;
    bottom: 0;
    width: $coursemos-layout-userinfo;
    background-color: $coursemos-body-bgcolor;
    z-index: $zindex-sticky;
    transition: top $coursemos-header-trans-duration-function;
    height: 100%;

    .userinfo-desc {
        position: relative;
        height: 100%;

        .userinfo-title {
            background-color: $coursemos-body-bgcolor;
            padding: 15px;
            border-bottom: 1px solid #e7eaec;

            .title {
                margin: 0;
                font-size: $font-size-base;
                font-weight: bold;
                color: #676a6c;
            }
        }

        .nav-tabs {
            border-bottom-color: transparent;
            position:absolute;
            width: $coursemos-userinfo-nav-tabs-width;
            left: -$coursemos-userinfo-nav-tabs-width;
            margin-right: 0;
            border-right: 0;

            > li {

                a {
                    border: none;
                    padding: 12px 10px;
                    margin: 0;
                    border-radius: 0;
                    background-color: #2f4050;
                    color: white;
                    text-align: center;
                    border-right: 1px solid #334556;
                    @include text-overflow;
                    cursor: pointer;
                }

                &.active a {
                    border: none;
                    background-color: #f9f9f9;
                    color: #676a6c;
                    font-weight: bold;
                }
            }
        }

        .tab-content {
            height: $coursemos-userinfo-height;
            .tab-pane {
                height: 100%;
            }
        }
        .scrollert {
            height: 100%;
        }


        #tab-my {
            .user-info {
                margin: 30px 20px;

                .user-info-picture {
                    float: left;
                    margin-right: 10px;

                    .userpicture {
                        border-radius: 50%;
                        height: 70px;
                        width: 70px;
                        margin: 0;
                    }
                }

                .user-info-desc {
                    padding: 12px 0;

                    .username {
                        margin: 0 0 10px 0;
                        @include text-overflow;
                    }
                    .department {
                        @include text-overflow;
                    }
                }

                .dropdown-toggle {
                	padding: 5px 8px 6px 8px;
				    background: white;
				    font-size: $font-size-sm;
				    color: #333;
				    text-decoration: none;
				    margin-right: 8px;
				    border: 1px solid #e0e0e0;
                }
            }

            .user-links {
                border-top: 1px solid $coursemos-userinfo-top-border;
                border-bottom: 1px solid $coursemos-userinfo-top-border;

                .link {
                    color: inherit;
                    display: block;
                    padding: 15px 18px;
                    background-color: white;
                    border-top: 1px solid $coursemos-userinfo-border;

                    &:first-child {
                        border-top: 0;
                    }
                    &.link-admin {
                        color: $coursemos-fontcolor;
                        font-weight: bold;
                    }
                }
            }

            .user-mycourses {
                border-top: 1px solid $coursemos-userinfo-top-border;

                ul.courses {
                    padding-left: 0;
                    list-style: none;

                    .course-item {
                        a {
                            display: block;
                            @include text-overflow;
                            padding: 10px 20px;
                            border-bottom: 1px solid $coursemos-userinfo-border;
                            background-color: white;
                        }

                        &.course-item-nodata {
                            padding: 12px 20px;
                            background-color: white;
                            @include text-overflow;
                            border-bottom: 1px solid $coursemos-userinfo-border;
                        }


                        &.course-hidden {
                            opacity: 0.6;
                            filter: alpha(opacity=60);
                        }
                    }
                }
            }
        } // #tab-my


        #tab-notifications {
            .userinfo-title {
                border-bottom-color: $coursemos-userinfo-top-border;
            }

            .form-control-type {
                height: 26px;
                padding: 0 10px;
                line-height: 1;
                border-radius: 3px;
                font-size: $font-size-sm;
            }

            .lists {
                .list-item {
                    padding: 10px;
                    background-color: white;
                    border-top: 1px solid $coursemos-userinfo-border;

                    &:nth-child(even) {
                        background-color: #f9f9f9;
                    }

                    &:first-child {
                        border-top: 0;
                    }

                    a {
                        color: inherit;
                    }
                    .media-object {
                        max-width: 42px;
                    }

                    .media-body-message {
                        display: block;
                        width: auto;
                    }
                }
            }

        } // #tab-notifications
    }
}

body.coursemos-headroom-unpin {
    #page-userinfo {
        .userinfo-desc {
            .tab-content {
                height: $coursemos-userinfo-header-unheader;
            }
        }
    }
}

#page-container {

    #page-content {
        position: relative;
        margin-left: $coursemos-layout-lnb;

        .course-container {
            min-height: $coursemos-page-container-height;
            padding: 2rem;
        }

        // navigation 영역
        .page-content-navigation {
            .breadcrumb {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                margin: 0 2rem;
                color: #666;
                border-bottom: 1px solid $coursemos-bordercolor;
                padding: 8px 0;
                font-size: $font-size-sm;

                .breadcrumb-item {
                    line-height: 35px;

                    &:before {
                        padding: 0 10px;
                    }

                    a {
                        color: #666;
                    }

                    &:last-child {
                        a {
                            color: #333;
                            font-weight: bold;
                        }
                    }
                }

                .breadcrumb-home .icon-home {
                    vertical-align: text-bottom;
                }


            }
        }
    }

    #page-extend {
        width: 0;
        display: none;
        background: blue;
    }
}


#page-lnb {
    position: fixed;
    top: $coursemos-layout-header;
    bottom: 0;

    width: $coursemos-layout-lnb;
    transition: top $coursemos-header-trans-duration-function;
    background-color: $coursemos-page-bgcolor;

    .menu-container {
        position: relative;
        height: 100%;
    }

    .site-menus {
        background-color: $coursemos-page-bgcolor;
        display: inline-block;
        width: $coursemos-layout-lnb;
        height: 100%;

        .scrollert {
            height: 100%;
        }

        .site-menu-close {
            position: absolute;
            top: 0;
            right: -$coursemos-layout-lnb-sitemenu-small;
            width: $coursemos-layout-lnb-sitemenu-small;
            z-index: 2;
            line-height: 60px;
            background-color: $coursemos-page-bgcolor;
            cursor: pointer;
            text-align: center;
            display: none;
            color: white;
        }

        .menus {
            list-style: none;
            margin: 0;
            padding: 0;

            .menu-item {
                border-bottom: 1px solid #252626;
                position: relative;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: none;
                }

                .site-menu-link {
                    color: #999;
                    display: block;
                    text-decoration: none;
                    height: 60px;
                    outline: 0;
                    cursor: pointer;

                    font-weight: bold;
                    @include text-overflow;
                    padding: 22px 25px 22px 10px;

                    .site-menu-icon {
                        font-size: 20px;
                        width: 30px;
                        text-align: center;
                        vertical-align: text-top;
                        margin-right: 6px;
                    }

                    &::after {
                        @extend .fa;
                        content: $fa-var-angle-up;
                        position: absolute;
                        right: 12px;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    &.nosubmenu::after {
                        content: "";
                    }

                    &:hover {
                        color: white;
                        background-color: #484b52;
                    }
                }


                // 메뉴가 활성화 되어 있거나, 메뉴에 마우스 오버한경우
                // 크롬 버그 때문에 hover로 메뉴를 열게 함 (다른 브라우저는 제대로 hover시 클릭 이벤트가 발생해도 문제가 없는데 크롬만 hover out이 됨.)
                /*&:hover,*/
                &.active {

                    > .site-menu-link {

                        color: white;
                        background-color: #3d3e42;

                        &:not(.nosubmenu) {
                            &::after {
                                content: $fa-var-angle-down;
                            }
                        }
                    }


                    .submenu {
                        display: block;
                        padding: 0 0 20px 0;
                        font-size: $font-size-small;
                        background-color: #3d3e42;

                        a {
                            color: #b2b2b2;
                            text-decoration: none;
                            padding: 6px 5px 5px 0;
                            display: block;
                            @include text-overflow;
                        }

                        .submenu-item {
                            padding-left: 55px;

                            &:first-child a {
                                padding-top: 7px;
                            }

                            &.active {
                                background-color: $coursemos-headercolor;

                                a {
                                    color: white;
                                }
                            }

                            &:hover a {
                                color: white;
                            }
                        }
                    }
                }


                .itl_info {
                    margin: 22px 10px 15px 10px;
                    padding: 15px;
                    background-color: #53555c;
                    color: white;

                    h5 {
                        margin: 0 0 12px 0;
                        opacity: 0.8;
                        filter: alpha(opacity=80);
                    }

                    .itl_desc {
                        background: url([[pix:theme|layout/itl_info]]) no-repeat 2px;
                        padding-left: 50px;

                        p {
                            margin: 4px 0;

                            &.tell {
                                opacity: 0.8;
                                filter: alpha(opacity=80);
                            }
                            &.name {
                                opacity: 0.4;
                                filter: alpha(opacity=40);
                            }
                        }
                    }
                }
            }
        }   // menus
    }   // site-menus
}


// 서브 메뉴에 접근하는 경우에는 사이트 메뉴를 작게 표시해줘야됨.
body.coursemos-coursepage {
    #page-lnb {
        width: $coursemos-layout-lnb-large;

        .sidemenu-container {
            width: $coursemos-layout-lnb-large;
        }

        .site-menus {
            position: absolute;
            width: $coursemos-layout-lnb-sitemenu-small;

            .menus {
                .menu-item {
                    .site-menu-link {
                        padding-right: 0;
                        text-overflow: inherit;

                        &:not(.nosubmenu) {
                            &::after {
                                content: "";
                            }
                        }
                    }

                    .submenu {
                        display: none;
                    }
                }
            }


            // &:hover,
            &.hover {
                width: $coursemos-layout-lnb;
                z-index: 2;

                .menus {
                    .menu-item {
                        .site-menu-link {
                            padding-right: 25px;
                            text-overflow: ellipsis;

                            &:not(.nosubmenu) {
                                &::after {
                                    content: $fa-var-angle-down;
                                }
                            }
                        }

                        &.active {
                            .site-menu-link::after {
                                display: inline;
                            }
                            .submenu {
                                display: block;
                            }
                        }
                    }
                }


                .site-menu-close {
                    display: block;
                }
            }
        }


        .course-menus {
            display: inline-block;
            width: $coursemos-layout-lnb-coursemenu;
            height: 100%;

            background-color: $coursemos-body-bgcolor;
            border-right: 1px solid $coursemos-bordercolor;

            position: absolute;
            left: $coursemos-layout-lnb-sitemenu-small;

            .scrollert {
                height: 100%;
            }

            .menus {
                list-style: none;
                margin: 0;
                padding-left: 0;
            }
            
            .block-coursemos-section {
            	.block-content {
            		position: relative;
            		padding-left: 0; 
            		padding-top: 0;
            		padding-bottom: 0;
            		
            		.scrollert {
            			height: 200px;
            			max-height: 200px;
            		}
            	}
            	
            	.sections {
            		padding-left: 0;
            		
            		
            		
            		.item {
            			position: relative;
            		
            			&::before {
	            		    content: "";
						    display: block;
						    position: absolute;
						    z-index: 1;
						    left: 23px;
						    top: 0;
						    bottom: 0;
						    border-left: 1px solid #e2e2e2;
	            		}	
	            		
            			.item-link {
            				display: block;
            				color: #666;
            				padding: 8px 10px 8px 40px;
            				@include text-overflow;
            				
            				&::before {
            					content: "";
							    display: inline-block;
							    position: absolute;
							    width: 5px;
							    height: 5px;
							    left: 21px;
							    top: 15px;
							    background-color: #fff;
							    border: 1px solid #e2e2e2;
							    z-index: 2;
            				}
            				
            				
            			}
            			
            			&:hover,
           				&.active {
           					.item-link {
           						color: $coursemos-linkcolor;
           						background-color: transparent;
           						
           						&::before {
	           						background-color: #25427E;
	           						border-color: #345691;
           						}
           					}
           				} // end hover, active
            		}
            	}
            }
            

            .block-coursemos-menu {
                .block-content {
                    padding: 0;

                    ul.topmenu {
                        padding-left: 0;

                        > li {
                            line-height: 30px;
                            padding: 0 24px;

                            > a {
                                color: #333;
                                cursor: pointer;

                                &:focus {
                                    text-decoration: none;
                                }

                                &::after {
                                    @extend .fa;
                                    content: $fa-var-caret-up;
                                }
                            }

                            ul {
                                list-style: none;
                                margin-left: 7px;
                                font-size: $font-size-md;
                                display: none;
                                padding-left: 0;

                                > li {
                                    background: url([[pix:theme|layout/course-menu-dot]]) no-repeat left center;
                                    padding-left: 10px;

                                    > a {
                                        color: #666;
                                        display: block;
                                        @include text-overflow;

                                        &.active {
                                            color: $coursemos-fontcolor;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }

                            &.expand {
                                background-color: #f1f3f2;
                                border-bottom: 1px solid #fafafa;

                                ul {
                                    display: block;
                                }

                                > a {
                                    font-weight: bold;

                                    &::after {
                                        content: $fa-var-caret-down;
                                    }
                                }
                            }
                        }
                    }


                    .btn-switch {
                        border: 1px solid #2587b8;
                        display: block;
                        background: white;
                        color: #278ec2;
                        margin: 1rem 1.5rem 1.5rem 1.5rem;
                        text-align: center;
                        padding: 4px 0;

                        &:hover {
                            text-decoration: none;
                        }

                        &.btn-switch-prof {
                            background-color: #1f96d1;
                            color: white;
                        }
                    }
                }
            }


            .block-coursemos-activity {
                .activities {
                    padding-left: 0;
                    list-style: none;

                    li {
                        @include text-overflow;
                        line-height: 35px;

                        a {
                            color: #666;
                        }
                    }

                    .btn-add-mod {
                        float: right;
                        background-color: $coursemos-quickbutton_color;
                        color: white;
                        border-radius: 10px;
                        padding: 2px 8px;
                        border: 0;
                        position: relative;
                        top: 8px;
                    }

                    .moduleicon {
                        width: 16px;
                        margin-right: 5px;
                    }


                    li.more-activity {
                        background: url([[pix:theme|layout/block-coursemos-activity-bg]]) repeat-x center 20px;
                        text-align: center;

                        .btn-more {
                            padding: 2px 12px;
                            border-radius: 12px;

                            &::after {
                                @extend .fa;
                                margin-left: 4px;
                                font-weight: bold;
                            }

                            &[data-more="short"]::after {
                                content: $fa-var-angle-up;
                            }

                            &[data-more="all"]::after {
                                content: $fa-var-angle-down;
                            }
                        }
                    }
                }
            }
        }
    }

    #page-container {
        #page-content {
            margin-left: $coursemos-layout-lnb-large;
        }
    }
}


.popover-add-mod {
    .popover-title {
        padding: 14px;
    }
    .popover-content {
        .popover-course-sections {
            margin-bottom: 0;

            > li {
                margin: .5rem 0;

                a {
                    color: inherit;
                }
            }
        }
    }
}

// 메뉴 열/닫기
body.coursemos-menu-hide {
    #page-lnb {
        width: 0;

        .sidemenu-container {
            display: none;
        }
    }

    #page-container {
        #page-content {
            margin-left: 0;
        }
    }
}

#page-footer {
	display: none;
    padding: 1rem 1.5rem;
    // height: $coursemos-footer-height;
    min-height: $coursemos-footer-height;
    background-color: $coursemos-footer-bgcolor;
    color: #999;
    position: relative;

    a {
        text-decoration: none;
    }
    
    .footer-menus {
    	.btn-privacy {
    		background-color: transparent;
    		border: 0;
		    padding: 5px 10px 5px 0;
		    color: white;
		    font-size: $font-size-sm;
    	}
    }
    
    .family-sites {
    	position: absolute;
    	top: 1rem;
    	right: 1.5rem;
    	
    	
    	@include media-breakpoint-down(sm) {
    		position: inherit;
    		top: inherit;
    		right: inherit;
    	}
    	
    	.btn-family-sites {
    	    background-color: #575b63;
		    border: 0;
		    padding: 5px 10px;
		    color: white;
		    font-size: $font-size-sm;
    	}
    	
    	.sites {
    		display: none;
    	}
    	
    	.popover {
    		min-width: 200px;
    		
    		.popover-content {
    			padding: 5px 10px;
    			
    			ul {
	    			list-style: none; 
	    			margin: 0;
	    			padding: 0;
	    			text-align: left;
	    			
	    			.family-item {
	    				margin: 0.2rem 0;
	    				
		    			.family-link { 
		    				color: #666;
		    				display: block;
		    				@include text-overflow;
		    			}
					}
	    		}
    		}
    	}
    }

    .address {
        font-size: $font-size-sm;
        color: #999;

        p {
            margin-bottom: 0;
        }
    }

    .performanceinfo {
        font-size: $font-size-sm;
        margin-top: 1rem;

        &.siteinfo {
            .cache-total-stats,
            .cachesused {
                margin-left: 0.25rem;
            }
            .cache-definition-stats {
                margin: 0.25rem;
                padding: .5rem 1rem;
            }
        }
    }

    .purgecaches {
        margin-top: 1rem;
    }

    #theme_switch_link {
        // 반응형이기 때문에 테마 변경 버튼은 표시될 필요가 없을듯 함.
        display: none;
        .btn-theme-switch {
            color: $btn-default-color;
            width: 100%;
        }
    }
}


///////////////////////////////////////////////////
//////// headroom으로 인해 변경되어야 할 사항 /////
///////////////////////////////////////////////////
body.coursemos-headroom-unpin {
    #page-lnb {
        top: 0;
    }

    #page-userinfo {
        top: 0;
    }
}


//////////////////////////
//////// maintenance /////
//////////////////////////
body.pagelayout-popup {
    background-color: transparent;
    margin-left: 0;

    #page-wrapper {
        padding: 5rem 10rem;
    }

    .page-title {
        font-size: $font-size-large;
        margin-bottom: 1.5rem;
    }

    #page-content {
        margin: 0;
    }
    #region-main {
        padding: 0;
        float: none;
        min-height: inherit;
    }
}


body.pagelayout-maintenance {

    #page {
        padding: 3rem;
        padding-top: 0;

        .page-title {
            margin: 0;
            margin-bottom: 2rem;
            text-align: center;
        }

        #region-main {
            float: none;
        }
    }


    #plugins-check-page {
        .page-description {
            @extend .well;
        }


        #plugins-check-info {
            margin-bottom: 1rem;
        }

        #plugins-check {
            .displayname {
                .pluginicon {
                    margin-right: 5px;
                }
            }

            .sourcetext,
            .statustext {
                font-size: $font-size-base;
                padding-top: $badge-padding-x;
                padding-bottom: $badge-padding-x;
            }
        }
    }


    // #maincontent + h2 { display:none; }

    // 사전에 정의된 형태
    .maintenance_message {
        width: 700px;
        margin: 135px auto 0;
        font-weight: 600;


        .txt_01 {
            padding-bottom: 70px;
            border-bottom: 1px #e0e0e0 solid;
            font-size: 32px;
            color: #068053;
            line-height: 46px;
            letter-spacing: -0.5px;
        }
        .txt_01 span {
            color: #62b224;
            text-align: center;
            display: block;
        }
        .txt_02 {
            font-size: $font-size-lg;
            color: #333;
            line-height: 28px;
            padding: 25px 0;
        }
        .txt_03 {
            font-size: 1rem;
            color: #068053;
            line-height: 30px;
            background-color: #f2f5f0;
            border: 1px #e0e0e0 solid;
            padding: 20px 30px;
        }
    }
}


@include media-breakpoint-down(sm) {
    .modal-ubboard-notice {
        top: $coursemos-layout-header + 10 !important;
        left: 0 !important;
        right: 0 !important;
        margin: 15px;

        .modal-body {
            max-height: 300px;
        }
    }
}

#ajax_loading {
    position: absolute;
    background-color: transparent;
    z-index: 9999991;
    width: 100%;
    left: 0;
    top: 0;
}

#ajax_loading_img {
    width: 224px;
    text-align: center;
    background-color: #fcf5d7;
    border: 1px solid  #ffd512;
    padding: 10px 0;
    font-weight: bold;
}

#ajax_loading_img img {
    margin-right: 5px;
}

#ajax_loading_submit {
    position: absolute;
    display: none;
    background-color: #eee;
    opacity: .8;
    filter: alpha(Opacity=80);
    z-index: 9999991;
    width: 100%;
    left: 1px;
    top: 1px;
}

#ajax_loading_submit_img {
    width: 100px;
    text-align: center;
}

#ajax_loading_container {
    display: none;
    position: absolute;
    width: 500px;
    height: 220px;
    border: 2px solid #34495e;
    background-color: white;
    z-index: 9999992;
    opacity: .9;
    filter: alpha(Opacity=90);
    font-size: $font-size-small;
    box-shadow: 3px 3px 3px #c3c2c2;

    #ajax_loading_submit_img {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 40px 0;
        color: #191919;
        font-weight: bold;
        font-size: 1rem;

        .icon {
            margin: 0;
            width: initial;
            height: initial;
        }
    }

    #ajax_loading_message {
        text-align: center;
        color: #046e3d;
        font-weight: bold;
        margin-top: 10px;
        padding: 10px;

        .save_msg {
            margin: 0 auto;
            font-size: $font-size-lg;
            color: #34495e;
            font-weight: bold;
        }

        .refresh_msg {
            color: #878888;
            margin: 20px 0;
        }
    }
}


.coursemos-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-dropdown;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .8;
    filter: alpha(Opacity=80);
    cursor: pointer;
}

.coursemos-menu-backdrop {
    opacity: .6;
    filter: alpha(Opacity=60);
}

#coursemos-common-buttons {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: $zindex-dropdown + 1;
    text-align: right;
    max-width: $coursemos-common-button;

    .pagetop-btn {
        display: none;
        margin-top: 5px;
        cursor: pointer;
    }

    .option-btn {
        background-color: #e44234;
        border-radius: 50%;
        box-shadow: 0 0 2px 1px rgba(193, 19, 6, 0.6);
        position: relative;
        cursor: pointer;
        text-align: center;
        border: 0;
        display: inline-block;

        .option-btn-icon {
            padding: 15px;
            transition: all .2s ease-in-out;
        }
    }

    .top-sidebar {
        margin-bottom: 1rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: transform, opacity 0.2s ease-in-out;
        height: 0;

        .btn-round {
            border-radius: 50px;
            margin: 2px 0;
            width: $coursemos-common-button;
            height: $coursemos-common-button;
            font-size: $font-size-sm;
            border: 0;

            .btn-txt {
                position: absolute;
                right: 64px;
                margin-top: 4px;
            }

            &::before {
                font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
                text-rendering: auto; // optimizelegibility throws things off #1094
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                font-size: 22px;
            }
        }

        .heading-button button {
            @extend .btn-round;

            background-color: $coursemos-editbutton_color;
            color: white;

            &::before {
                content: $fa-var-edit;
            }
        }

        .button-item-mods {
        	.mod {
        		max-width: $coursemos-common-button;
        		cursor: pointer;
        		display: inline-block;
        		text-align: center;
        		
        		.mod-icon {
	        		width: $coursemos-common-button;
	        		height: $coursemos-common-button;
	        	}
	        	
	        	.mod-name {
	        		color: white;
	        		@include text-overflow;
	        		text-align: center;
	        		font-size: $font-size-sm;
	        	}
        	}
        }

    }

    &.open {
    	max-width: 100%;

        .top-sidebar {
            height: 100%;
        }

        .option-btn {
            .option-btn-icon {
                transform: rotate(45deg);
            }
        }

        .top-sidebar {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
        }
    }
}


// 사용자 강좌 정렬
.local-ubion-user-sortorder {
    .table-coursemos.table-user-sortorder {

        .i-move {
            color: #333;
            cursor: move;
        }

        tr.disabled {
            td {
                background-color: #f7f9fa;
                color: #999;
            }

            a {
                color: #999;
            }

            .label {
                opacity: 0.5;
                filter: alpha(opacity=50);
            }
        }
    }
}

body.coursemos-menu-none {
	#page-header {
		.btn-menuonoff {
			display: none;
		}
		
		.coursename {
			.homeicon {
				position: absolute;
				text-indent: -100000px;
				background: url([[pix:theme|layout/default_logo_small_x2]]) no-repeat;
				width: 35px;
				height: 45px;
			}
		}
	}
	#page-lnb {
		width: 0px;
		display: none;
	}
	
	#page-container {
        #page-content {
            margin-left: 0;
        }
    }
}