/* 768 해상도 보다 작은 경우 */
@include media-breakpoint-down(sm) {
    .coursemos-loginpage {
        #page-header {
            .logo {
                width: 100%;
                max-width: inherit;
                background-position: center center;
            }
        }

        #page-content {
            margin: 0;
            padding: 0 1rem;

            .login-container {
                margin: 0;
                width: 100%;

                .col-loginbox {
                    float: none;
                    width: 100%;

                    .col-login {
                        width: 100%;
                        float: none;
                        height: inherit;

                        &.col-login-person {
                            .loginerrormessage {
                                font-size: $font-size-base;
                            }

                            .form-login {
                                .textform {
                                    float: none;
                                    width: 100%;

                                    input {
                                        margin-bottom: 5px;
                                    }
                                }

                                .submitform {
                                    margin: 0;

                                    .btn-login {
                                        width: 100%;
                                        height: 3rem;
                                    }
                                }
                            }
                        }
                    }   // col-login

                    .col-app {
                        display: block;
                    }
                    .col-family {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                        margin-top: 1rem;
                        display: none;
                    }

                    /* .col-notice {
                        // height: inherit;
                    } */

                    .col-buttonset {
                        .col-button {
                            float: none;
                            margin: 5px 0;
                        }

                        &.col-buttonset-1 {
                            .col-button {
                                width: 100%;
                            }
                        }
                        &.col-buttonset-2 {
                            .col-button {
                                width: 100%;
                            }
                        }
                        &.col-buttonset-3 {
                            .col-button {
                                width: 100%;
                            }
                        }
                        &.col-buttonset-4 {
                            .col-button {
                                width: 100%;
                            }
                        }
                        &.col-buttonset-5 {
                            .col-button {
                                width: 100%;
                            }
                        }
                    }
                }   // col-loginbox

                &.login-container-banner {
                    width: 100%;
                }
                .col-banner {
                    display: none;
                }


                &.login-container-error {
                    .col-loginbox {
                        .col-login {
                            &.col-login-person {
                                .form-login {
                                    margin-top: 18px;

                                    .rememberpass {
                                        label {
                                            padding-top: 7px;
                                        }
                                    }
                                    .loginfind {
                                        margin-top: 6px;
                                    }
                                }
                            }
                        }
                    }
                }

            } // col-container


        } // #page-content

        #page-footer {
            position: inherit;
            margin-top: 2rem;
        }
    }
}