$coursemos-login-height : 200px;

$coursemos-login-button-width : 80px;
$coursemos-login-button-marginLeft : 1px;

.coursemos-loginpage {
    padding-top: 0;
    margin-left: 0;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;

    #page-header {
        padding: 2rem;
        height: inherit;
        max-height: inherit;
        background: none;
        position: inherit;
        min-height: 100px;

        .logo {
            background: url($coursemos-logo_login) 0 0 no-repeat;
            width: 230px;
            height: 90px;
            margin: 0;
            display: block;
            float: none;
        }
    }

    #page-content {
        // margin-bottom값은 #page-footer의 높이값을 입력해주셔야 합니다.
        // 해당 값은 학교마다 달라질수 있기 때문에 따로 높이값에 대해서 변수로 지정하지 않음.
        margin: 3% 0 120px 0;
        padding: 0 3rem;

        .login-container {
            margin-right: inherit;
            margin-left: 0;
            width: $coursemos-loginform-width-base;
            text-align: left;
            padding: 0;

            // 오른쪽 정렬인 경우
            &.login-container-right {
                margin-left: auto;
            }

            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .col-loginbox {
                float: left;
                width: $coursemos-loginform-width-base;

                .col-login {
                    padding: 19px 20px 22px 21px;
                    background: url('[[pix:theme|login/login_box_bg]]');
                    background-size: cover;
                    width: 280px;
                    float: left;
                    height: $coursemos-login-height;

                    .login-title {
                        float: left;
                        margin: 0;
                        color: white;
                        font-size: $font-size-base;
                    }
                    .langmenu {
                        text-align: right;
                        position: relative;
                        font-size: $font-size-sm;
                        top: -2px;

                        .icon {
                            margin-right: 5px;
                        }
                        #user-info-lang {
                            color: white;
                        }

                        .dropdown-menu {
                            margin-top: 5px;

                            a {
                                font-size: $font-size-sm;
                                padding: 3px 15px;
                            }
                        }
                    }

                    .opacity {
                        opacity: 0.6;
                        filter: alpha(opacity=60);
                    }

                    .loginfind {
                        .loginfind-item {
                            a {
                                font-size: $font-size-sm;
                                color: white;
                            }
                        }
                    }

                    &.col-login-default {
                        .loginform {
                            margin: 34px 0 44px;
                            text-align: center;

                            .btn-login-type {
                                padding: 10px 15px;
                                border: 0;
                                color: white;
                                border-radius: 0;

                                &.btn-login-type-sso {
                                    background-color: $coursemos-loginform_sso_btncolor_sso;
                                }
                                &.btn-login-type-person {
                                    background-color: $coursemos-loginform_sso_btncolor_person;
                                }
                            }
                        }
                    }


                    &.col-login-person {
                        display: none;

                        .login-form-close {
                            text-align: right;
                            position: relative;
                            top: -6px;

                            .nobtn {
                                background: url('[[pix:theme|login/login-form-close]]') no-repeat center center;
                                border-radius: 0;
                                border: 0;
                                padding: 0 10px;
                            }
                        }

                        .loginerrormessage {
                            font-size: $font-size-sm;
                            @include text-overflow;

                            background: rgba(255, 255, 255, .9);
                            padding: 5px;
                            margin-bottom: 5px;
                        }

                        .form-login {
                            margin-top: 18px;

                            .textform {
                                width: 158px;
                                float: left;

                                input {
                                    margin-bottom: 1px;
                                    border-radius: 0;
                                    border: 0;
                                    background-color: white;
                                    box-shadow: none;
                                    height: 36px;
                                    width: 100%;
                                }
                            }
                            .submitform {
                                .btn-login {
                                    width: $coursemos-login-button-width;
                                    height: 73px;
                                    margin: 0 0 0 $coursemos-login-button-marginLeft;
                                    border: 0;
                                    border-radius: 0;
                                    box-shadow: none;
                                    background-color: $coursemos-loginform_login_btncolor;
                                    color: white;
                                }
                            }

                            .rememberpass {
                                color: white;
                                font-size: $font-size-sm;

                                // ie9이하에서 문제가 생겨서 clearfix 구문 추가
                                clear: both;

                                input {
                                    margin-top: 2px;
                                }
                            }
                            .loginfind {
                                margin-top: 6px;
                            }
                        }
                    }
                }   // col-login

                .col-app {
                    display: none;
                    margin-top: 1rem;
                    img {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                .col-family {
                    width: 145px;
                    margin-left: 10px;
                    float: left;
                    background: $coursemos-loginfamily_background_rgba;
                    padding: 10px 0;
                    height: $coursemos-login-height;

                    .family-link {
                        color: #edeeed;
                        font-size: $font-size-sm;
                        line-height: 30px;
                        height: 30px;
                        display: block;
                        @include text-overflow;

                        .family-icon {
                            margin-right: 8px;
                            width: 16px;
                        }
                    }
                }   // col-family

                // 공지사항
                .col-notice {
                    padding: 20px;
                    background-color: $coursemos-loginnotice_background_rgba;
                    margin-top: 1rem;
                    height: 180px;

                    .notice-more {
                        float: right;

                        a {
                            background: url('[[pix:theme|login/login-notice-more]]]') no-repeat;
                            width: 15px;
                            height: 15px;
                            display: block;
                            text-decoration: none;
                        }
                    }

                    .notice-title {
                        font-size: $font-size-base;
                        color: #333;
                        margin: 0;
                        font-weight: $font-weight-bold;
                    }

                    .notice-list {
                        list-style: none;
                        margin: 14px 0 0 0;
                        padding-left: 0;

                        .notice-item {
                            background: url('[[pix:theme|login/login-notice]]]') no-repeat 6px center;
                            padding-left: 16px;
                            line-height: 27px;

                            .notice-link {
                                font-size: $font-size-sm;
                                color: #666;
                                @include text-overflow;


                                .new-icon {
                                    background-color: #dc5648;
                                    font-size: $font-size-xxs;
                                    margin-left: 5px;
                                    font-weight: inherit;
                                    vertical-align: middle;
                                    color: white;
                                    padding: 1px 3px;
                                    position: relative;
                                    top: -1px;
                                }
                            }
                        }

                    }
                }   // col-notice


                .col-buttonset {
                    margin-top: 1rem;

                    .col-button {
                        padding-left: 0;
                        float: left;

                        margin-left: 5px;

                        .btn-buttonset {
                            background: url('[[pix:theme|login/login-buttonset-bg]]') no-repeat right 14px top 18px $coursemos-loginbtnset_background_rgba;
                            padding: 13px 20px 13px 13px;
                            width: 100%;
                            font-size: $font-size-sm;
                            border-radius: 0;
                            color: #000;
                            text-align: left;
                            font-weight: $font-weight-bold;
                            @include text-overflow;
                        }

                        &:first-child {
                            margin-left: 0;
                        }
                    }

                    &.col-buttonset-1 {
                        .col-button {
                            width: 435px;
                        }
                    }
                    &.col-buttonset-2 {
                        .col-button {
                            width: 215px;
                        }
                    }
                    &.col-buttonset-3 {
                        .col-button {
                            width: 141.6px;
                        }
                    }
                    &.col-buttonset-4 {
                        .col-button {
                            width: 105px;
                        }
                    }
                    &.col-buttonset-5 {
                        .col-button {
                            width: 83px;
                        }
                    }
                }
                
                
                &.no-family {
                	.col-login {
                		width: 100%;
                		
                		&.col-login-person {
                			.form-login {
                				.textform {
                					width: calc(100% - (#{$coursemos-login-button-width} + #{$coursemos-login-button-marginLeft}));
                					
                					@include media-breakpoint-down(sm) {
                						width: 100%;
                					}
                				}
                			}
                		}
                	}
                	
                	.col-family {
                		display: none; 
                	}
                }
            } // col-loginbox


            // 배너를 사용하는 경우
            &.login-container-banner {
                width: $coursemos-loginform-width-full;
            }
            .col-banner {
                float: left;
                width: $coursemos-loginform-width-banner;
                margin-left: 10px;
            }

            // sso로그인 페이지가 따로 존재하지 않고 무들 로직에 의해서 사용자 로그인되는 경우
            // 또는 일반 로그인에서 id/pw를 잘못 입력한 경우 곧바로 일반 로그인 화면이 보여줘야됨.
            &.login-container-error,
            &.login-container-person {
                .col-loginbox {
                    .col-login {
                        &.col-login-default {
                            display: none;
                        }

                        &.col-login-person {
                            display: block;
                        }
                    }
                }
            }

            &.login-container-person {
                .col-loginbox {
                    .col-login {
                        &.col-login-default {
                            display: none;
                        }

                        &.col-login-person {
                            .login-form-close {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }


            &.login-container-error {
                .col-loginbox {
                    .col-login {
                        &.col-login-person {
                            .form-login {
                                margin-top: 6px;

                                .rememberpass {
                                    label {
                                        padding-top: 0;
                                    }
                                }
                                .loginfind {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }

        }   // col-container
    }

    #page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}