#plugins-check-page #plugins-check-info .actions .singlebutton {
    margin-right: 1rem;
}

// 주메뉴 블록
.block_site_main_menu {
    .unlist li {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
    .activity {
        img.activityicon {
            vertical-align: middle;
        }
    }

    .footer {
        margin-top: 0;
    }
}


/* forum */


/* quiz */
#page-mod-quiz-view {
	#page {
		.quizattempt {
			.singlebutton + .continuebutton {
				margin-top: 1rem;
			}
		}	
	}
}

.path-mod-quiz input[size] {
	min-width: 80px;
	margin-right: 2px;
	
	&[type="checkbox"] {
		min-width: auto;
	}
}

#page-mod-quiz-mod {
	
	#id_reviewoptionshdr {
		.form-group {
			.control-label,
			.col-form-label {
				width: 100%;
				text-align: left;
			}
		}
		
		.fitem.checkbox-inline {
			width: 90%;
			height: 30px;
		}
	}
}

#page-mod-quiz-edit {
	ul.slots {
		padding-left: 0;
		
		li.section {
			li.activity {
				padding: 12px 0;
			}
		}
	}
	
	.last-add-menu {
		margin-top: 1rem; 
	}
	
	@include media-breakpoint-down(md) {
		.maxgrade {
			position: inherit;
			margin: 0 0 1rem 0;
			
			#inputmaxgrade { 
				display: inline;
				vertical-align: middle;
			}
			
		}
	}
}


/* scorm */
.path-mod-scorm {
	.container {
		width: auto;
	}
}

#page-mod-scorm-player {
	&.pagelayout-embedded { 
		background-color: white;
		
		#maincontent + h2 {
			background-color: $coursemos-headercolor;
			padding: $coursemos-layout-header-padding-y $coursemos-layout-header-padding-x;
			font-size: $font-size-lg;
	        color: white;
	        margin: 0;
	        line-height: $coursemos-layout-header-content-height;
		} 
	}
	
	&.pagelayout-incourse {
		#maincontent + h2 { 
			margin: 0;
			padding: 1rem;
			border-bottom: 1px solid #b7b7b7;
		}
	}
	
	
	#scormpage {
		#scorm_layout {
			margin-bottom: 0;
			
			#scorm_toc {
				height: 100%;
				padding: 0.5rem 1rem;
				
				#scorm_tree {
					border-right: 0;
				}
				
				.yui3-resize-handle-inner-r {
					background-repeat: repeat-y;
					height: 100%;
					background-image: url([[pix:theme|layout/resize-bar]]);
					background-position-x: center;
					top: 0;
					right: 0;
					margin-top: 0;
				}
			}
			
			#scorm_toc_toggle, 
			#scorm_content {
				margin-top: 0.5rem;	
			}
			
			/*
			#scorm_navpanel {
				margin: 1rem 0;
			}
			*/
		}
	}
}

/* user */
#participantsform {
    .no-overflow {
        overflow: auto;
    }

    .buttons {
        margin-bottom: 1rem;

        .btn-group {
            margin-right: 1rem;
        }

        #formactionid {
            display: inline-block;
            width: auto;
        }
    }

}

.modal-dialog {
    // /user/index.php 에서 사용됨.
    .table.user-enrol-details {
        th {
            text-align: right;
        }

        th,
        td {
            border: 0;
        }
    }

    // 사용자 등록 페이지에서 더보기/덜보기 영역
    .containsadvancedelements {
        border-bottom: 0;

        legend {
            border-bottom: 0;
        }


    }
}


// enrol
#page-enrol-index {
    .enrolmenticons {
        i.icon {
            margin-top: 11px;
        }
    }
}

// 강좌기록
#page-report-log-index {
    .logselecform select {
        display: inline;
        width: auto;
        margin: 2px;
    }
}


// 활동 보고서
#page-report-outline-index {
    .loginfo {
        margin-bottom: 1rem;
    }

    tr.section {
        td {
            background-color: $coursemos-table-th-bgcolor;
            border-color: $coursemos-table-border-color;

            h3 {
                margin: 10px 0;
                text-align: left;
                font-size: $font-size-lg;
            }
        }
    }

    td.activity {
        padding-left: 28px;

        .icon {
            margin-right: 5px;
        }
    }

    td.numviews {
        text-align: center;
    }
    td.blog {
        text-align: center;
    }
}


#page-report-outline-user {
    .section {
        margin-left: 0;
        margin-right: 0;
        border: 1px solid $well-border;
        background-color: $well-bg;
        padding: 19px;

        h2 {
            font-size: $font-size-h3;
        }

        .content {
            margin-top: 30px;

            h4 {
                font-size: $font-size-base;
            }

            > ul {
                margin-bottom: 2rem;
                padding-left: 2rem;
            }

            > table {
                td:nth-child(1) {
                    width: 45px;
                    text-align: center;
                }
                /* td:nth-child(2) { } */
                td:nth-child(3) {
                    padding: 0;
                    width: 0;
                    display: none;
                }
                td:nth-child(4) {
                    width: 150px;
                    text-align: center;
                }
                td:nth-child(5) {
                    padding: 0;
                    width: 0;
                    display: none;
                }
                td:nth-child(6) {
                    width: 300px;
                    text-align: center;
                    font-size: $font-size-sm;
                }
            }
        }
    }
}

/** 관리자 페이지 영역 **/

#adminsettings {
    h2 {
        @extend %pageheading;
    }
    h3 {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .clearer + h3 {
        margin-top: 0;
    }

    select.form-control {
        width: auto;
    }

    .admin_colourpicker {
        .colourdialogue,
        .previewcolour,
        .currentcolour {
            border-color: #e5e5e5;
        }

        .previewcolour,
        .currentcolour {
            box-sizing: inherit;
        }
    }
}

#page-admin-tool-xmldb-index {
    .form-control {
        width: auto;
        display: inline-block;
    }

    #listdirectories,
    #listtables,
    #listfields,
    #listkeys {

        .cell {
            vertical-align: middle;
            background-color: white;
            padding: 1rem $table-cell-padding;
        }

        .button.cell {
            min-width: 55px;
            max-width: 55px;
            text-align: center;
        }

        > tbody > tr:hover {
            .cell {
                background-color: $table-bg-hover;
            }
        }

        tr.highlight {
            color: inherit;

            &:hover .cell,
            .cell {
                background-color: $state-info-bg;
            }
        }

        .readableinfo {
            min-width: 150px;
            max-width: 150px;
        }
    }

    #formelements {

        #menucommand,
        #menufieldkeyindex {
            margin: 0 20px 0 10px;
        }
    }

    #phpcode {
        textarea {
            width: 100%;
        }
    }
}

#page-admin-search {
    .tab-content {
        ul.list-unstyled > li {
            margin: 3px 0;
        }
    }
}