// 사이트 공통적으로 적용되어야 할 항목들에 대해서 css정의해주시면 됩니다.
#maincontent {
	height: 0;	
}

abbr[title],
abbr[data-original-title] {
    text-decoration: none;
}

.cursor-none {
    cursor: inherit;
}

.icon {
    color: $coursemos-icon-color;
}
.bg-faded {
    background-color: $gray-lightest;
}

.dropdown-toggle::after {
    color: $coursemos-icon-color;
}


// a링크 색상 설정
a {
    color: $coursemos-linkcolor;
}

// 무들 help 버튼
.btn-moodle-help {
    padding: 0;

    &:first-of-type > .icon {
        margin-left: 0;
    }

    .icon {
        color: $state-info-text;
    }
}

.icon.text-primary,
.text-primary .icon {
    color: $brand-primary;
}

.icon.text-info,
.text-info .icon {
    color: $state-info-text;
}

.icon.text-success,
.text-success .icon {
    color: $state-success-text;
}

.icon.text-warning,
.text-warning .icon {
    color: $state-warning-text;
}

.icon.text-danger,
.text-danger .icon {
    color: $state-danger-text;
}

%pageheading {
    font-size: $font-size-h3;
    margin-top: 8px;
    margin-bottom: 26px;
    font-weight: $font-weight-bold;
}

// 무들기본
#maincontent + h2 {
    @extend %pageheading;

    > .icon {
        margin-right: 10px;
    }
}


// form
.mform {
    .collapsible-actions {
        margin-bottom: 10px;
    }

    fieldset.collapsible {
        margin-left: 0;
        border-bottom: 0;

        legend.ftoggler {
            border: 1px solid #e0e0e0;
            font-size: $font-size-lg;
            position: relative;
            background-color: white;
            width: 100%;
            margin: 0;
            padding: 15px 20px;

            a {
                text-decoration: none;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }

                &.fheader {
                    color: $coursemos-fontcolor;
                    margin-left: 0;
                }

                &.btn-link {
                    .icon {
                        margin: 0;
                    }
                }
            }
        }

        .fcontainer {
            padding: 30px;
            border: 1px solid #e0e0e0;
            border-top: 0;
            background-color: white;
        }
    }

    .control-label {
        .icon {
            margin-right: 0;
        }
        .initialism {
            cursor: default;
            border-bottom: 0;
            display: inline-block;
            padding: 0 2px;
            line-height: $line-height-base;
            vertical-align: middle;
            font-size: 100%;
            border: 1px solid transparent;
        }
        .btn-link {
            padding: 0 2px;
            .icon {
                margin-left: 0;
            }
        }
    }

    .fdate_selector .visibleifjs .fa-calendar,
    .fdate_time_selector .visibleifjs .fa-calendar {
        position: relative;
        top: 5px;
    }

    .form-inline .form-group {
        margin-left: 0;
        margin-right: 0;
    }


    .felement.error {
        .error {
            color: $brand-danger;
        }
    }


    .form-control-feedback {
        display: block;
        position: inherit;
        top: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        right: inherit;
        text-align: left;
    }
}

.has-danger {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}


.initialbar {
    // initialbar는 표시할 필요가 없을듯함.
    display: none;
    margin: 1rem 0;

    .letter {
        padding: $padding-base-vertical $padding-base-horizontal;

        height: inherit;
        min-width: inherit;
        color: $coursemos-linkcolor;
    }

}

// modal
.moodle-dialogue {
    .moodle-dialogue-hd {
        h3 {
            font-size: $h4-font-size;
            margin: 0;
        }
    }
}

.moodle-dialogue-confirm {
    .moodle-dialogue-hd {
        h1 {
            font-size: $h5-font-size;
        }
    }

    .moodle-dialogue-bd {
        .confirmation-message {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 2rem;
        }
        .confirmation-buttons {
            text-align: right;
            
            .btn-primary {
            	margin-right: 0.5rem; 
            }
        }
    }
}

.modal-dialog {
    .modal-title {
        &:focus {
            outline: none;
        }
    }
    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
}

@include media-breakpoint-down(md) {
    .modal-dialog {
        .modal-body {
            max-height: inherit;
            overflow-y: inherit;
        }
    }
}


.coursemos-headroom-pin {
    .modal-dialog {
        margin-top: 70px;
    }
}

.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-content {
    top: $coursemos-layout-header;
}

// filepicker 화면
.filepicker-filelist {
    padding: 1rem 0;
}
.filepicker-filelist .filepicker-container {
    left: 0;
    right: 0;
}

.fitem.disabled .filepicker-filelist,
.fitem.disabled .filemanager-container {
    background-color: #eee;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.dndupload-progress-outer {
    height: 1.5rem;
}
.dndupload-progress-inner {
    height: 1.5rem;
    background-color: $progress-bar-bg;
}

.file-picker {
    .fp-repo-area {
        margin-bottom: 1rem;
    }
    .fp-navbar {
        .fp-pathbar {
            margin: 10px 0;
        }
    }
    .fp-content {
        .fp-error {
            padding: 1rem;
        }
    }

    .fp-container {
        padding-left: floor(($grid-gutter-width / 2));
        padding-right: ceil(($grid-gutter-width / 2));
    }

    .fp-dlg-buttons {
        .btn {
            margin-bottom: 5px;
        }
        .fp-dlg-butrename {
            white-space: pre-wrap;
        }
    }
}


.form-autocomplete-selection {
    margin: 0.5rem 0;

    & + input.form-control {
        padding-right: 20px;
    }

    .label {
        font-size: $font-size-sm;
        padding: 0.3rem;
        display: inline-block;
    }
}
.form-autocomplete-suggestions {
    border-width: 1px;
    padding: 5px 10px;

    li {
        padding: .5rem;
    }
}


.panel-collapse {
    .panel-heading-link {
        color: #333;

        &:after {
            @extend .fa;
            content: $fa-var-caret-down;
        }
    }

    &.panel-body-hidden {
        .panel-heading-link {
            &:after {
                @extend .fa;
                content: $fa-var-caret-right;
            }
        }
        .panel-body {
            display: none;
        }
    }
}


.page-context-header {
    .page-header-image,
    .page-header-headings,
    .header-button-group {
        float: none;
        display: inline-block;
    }

    .page-header-image {
        margin-right: 0;
        margin-bottom: 0;

        .userpicture {
            width: 50px;
            height: 50px;
        }
    }

    .page-header-headings {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6, {
            margin: 0;
        }
    }

    .header-button-group {
        margin-left: 1rem;
        a {
            top: inherit;
            .icon {
                margin-left: 0;
            }
        }

        a + a {
            margin-left: 5px;
        }
    }
}

.container.box {
	width: auto;
}