table {
    caption {
        display: none;
    }
}

/* 테이블 형태는 크게 2가지로 구분됨
1. well 또는 modal 안에 table이 존재하는 경우
2. table만 존재하는 경우
well, modal안에 테이블이 있으면 border-top 2px가 붙어야 되고
table만 있으면 thead 사이만 구별이 되어야 함. */
.table-coursemos {
    > colgroup + thead > tr:first-child th,
    > colgroup + thead > tr:first-child td,
    > thead + tbody > tr:first-child td,
    > thead + tbody > tr:first-child th {
        border-top: 2px solid black;
    }

    > thead > tr > th {
        text-align: center;
        background-color: $coursemos-table-th-bgcolor;
        border-color: $coursemos-table-border-color;
    }

    > thead > tr > th,
    > thead > tr > td {
        border-bottom: 1px;
    }

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        border-color: $coursemos-table-border-color;
    }

    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        background-color: white;
        vertical-align: middle;
    }


    thead th .icon {
        margin-left: 0;
    }
    tbody th {
        background-color: $coursemos-table-th-bgcolor;
        color: #333;
    }
}


.well .table-coursemos > thead {
    border-top: 2px solid black;
}

.well .table-coursemos > thead + tbody tr:first-child td {
    border-top: 1px solid $coursemos-table-th-border-color;
}


/**
 * fixedtable 관련해서 css 재정의
 * border-collapse: collapse 설정시 FF 및 IE에서는 border가 표시가 되지 않는 문제가 있어서 separate로 변경함.
*/
.table-fixed {
    border-collapse: separate;
    border-spacing: 0;
    border: 0;

    thead:first-child tr:first-child th,
    thead tr:first-child th {
        border-top: 2px solid black;
    }

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        border-top-width: 0;
    }

    .leftlastfixedcolumn {
        border-right: 1px solid $coursemos-table-th-border-color;
    }
}


// 무들 속성 걷어내기
.table.flexible {
    > tbody > tr > td {
        vertical-align: middle;
    }
}


table.table-mobile-responsive {
    th.borderline,
    td.borderline {
        border-left: 2px solid #c1c1c1;
    }
}

@include media-breakpoint-down(sm) {
    .table-responsive {
        table.table-mobile-responsive {
            > tbody {
                &:last-child > td {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    table.table-mobile-responsive {
        display: block;

        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead {
            display: none;
        }

        > tbody {
            > tr {
                margin-bottom: 20px;
                border-bottom: 2px solid black;

                // thead는 안보이므로 tbody에만 적용하면됨.
                > td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 48%;
                    text-align: left !important;
                    white-space: pre-wrap !important;
                }

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 0;
            width: 45%;
            text-align: right;
            font-weight: bold;
            content: attr(data-title);
            padding: $table-cell-padding 10px $table-cell-padding $table-cell-padding;

            @include text-overflow;
        }

        td.td-mobile-small:before {
            font-size: $font-size-small;
        }

        td.td-title-55 {
            padding-left: 55%;

            &:before {
                width: 52%;
            }
        }
        
        td.td-title-70 {
            padding-left: 70%;

            &:before {
                width: 67%;
            }
        }

        tr {
            td.borderline:first-child {
                border-top: 1px solid #c1c1c1;
            }

            td.borderline {
                border-left: 0;
                border-top: 1px solid #c1c1c1;
            }
        }


        &.table-fixed .leftlastfixedcolumn {
            border-right: 0;
        }
    }

    .table-mobile-responsive.table-coursemos > thead + tbody tr:first-child td {
        border-top: 0;
    }
    .table-mobile-responsive.table-coursemos > thead + tbody tr:first-child td.borderline {
        border-top: 1px solid #c1c1c1;
    }
}