.nav-tabs.nav-coursemos {
    border-bottom: 2px solid $coursemos-headercolor;
    margin-bottom: 0.5rem;

    .nav-item {
        margin-bottom: 0;
    }

    .nav-link {
        color: #999;
        background-color: white;
        border-radius: 0;
        border-color: #e0e0e0;
        border-width: 1px 1px 0 0;
        padding: 1rem 1.5rem;
        margin-right: 0;
        font-weight: bold;
        @include text-overflow;

        &.active {
            border-color: $coursemos-headercolor;
            background-color: $coursemos-headercolor;
            color: white;
        }
    }

    .nav-item:first-child .nav-link {
        border-left-width: 1px;
    }
}

.nav-tabs.nav-coursemos + .nav-tabs.nav-coursemos {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;

    .nav-link {
        border: 0;
        position: relative;
        bottom: -1px;
        padding: 1rem;
        background-color: transparent;

        &.active,
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: $coursemos-fontcolor;
        }

        &.active {
            border: 0;
            border-bottom: 2px solid $coursemos-headercolor;
        }
    }
}

@include media-breakpoint-down(xs) {
    .nav-tabs.nav-coursemos {
        .nav-link {
            border-width: 0 1px 1px 1px;
        }

        .nav-item:first-child {
            .nav-link {
                border-top-width: 1px;
            }
        }

        .nav-item:last-child {
            .nav-link {
                border-bottom-width: 1px;
            }
        }
    }

    .nav-tabs.nav-coursemos + .nav-tabs.nav-coursemos {
        .nav-link {
            border-radius: 0;
        }
    }
}

@include media-breakpoint-down(sm) {
    .nav.nav-tabs.nav-coursemos {
        .nav-item {
            float: none;
        }

        .nav-link {
            border-width: 1px 1px 0 1px;
        }

        .nav-link.active {
            border-radius: 0;
        }
    }
}


.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid $nav-tabs-border-color;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: $nav-tabs-border-color;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
  margin-bottom: 0;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid $nav-tabs-border-color;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eee $nav-tabs-border-color #eee #eee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
  *border-right-color: #fff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid $nav-tabs-border-color;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee $nav-tabs-border-color;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
  *border-left-color: #fff;
}