// sass 형태로 하면 modal 관련되서 파싱이 많이 되기 때문에 풀어서 씀.
.modal-ubboard-notice {
    position: absolute;
    right: inherit;
    bottom: inherit;
    display: block;
    border-radius: 0;

    .modal-dialog {
        margin: 0;

        .modal-header {
            background-color: $coursemos-headercolor;
            color: white;
            padding: 1rem;
            cursor: move;

            .modal-title {
                @include text-overflow;
            }

            .close {
                color: white;
                opacity: .7;
                filter: alpha(opacity=70);
                text-shadow: none;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        .modal-body {
            max-height: 500px;
            overflow-y: auto;
            min-height: 150px;

            .modal-body-sub {
                margin-top: -$modal-inner-padding;
                margin-right: -$modal-inner-padding;
                margin-bottom: $modal-inner-padding;
                margin-left: -$modal-inner-padding;
                border-bottom: 1px solid $modal-content-border-color;
                padding: 0.8rem;
                font-size: $font-size-small;

                .files {
                    margin: 0;
                    list-style: none;
                }


                &.modal-body-files {
                    margin-top: -$modal-inner-padding;
                    padding: 0.4rem 0.8rem;

                    li {
                        margin: 4px 0;
                    }
                }
            }

            .coursemos-lightbox > img {
                max-width: 100%;
            }
        }

        .modal-footer {
            background-color: #e3e3e3;
            padding: 0.5rem;

            .btn-not-see {
                color: #666;
                background: url([[pix:ubboard|icon/close_notice]]) no-repeat left center transparent;
                border: 0;
                font-size: $font-size-small;
                padding-left: 20px;
                font-weight: 600;
            }
        }
    }
}
