// bootstrap 변수 override
$font-family-base:          arial, sans-serif, "Nanum Gothic", "나눔고딕", NanumGothic, "돋움", dotum;
$font-family-sans-serif:    $font-family-base;
$font-family-serif:         $font-family-base;


// 코스모스 기본 설정
$coursemos-layout-header: 60px;
$coursemos-layout-header-padding-y: 7px;
$coursemos-layout-header-padding-x: 14px;
$coursemos-layout-lnb: 0px;
$coursemos-layout-lnb-sitemenu-small: 0px;
$coursemos-layout-lnb-coursemenu: 220px;
$coursemos-layout-lnb-large: $coursemos-layout-lnb-coursemenu + $coursemos-layout-lnb-sitemenu-small;
$coursemos-layout-userinfo: 260px;
$coursemos-page-bgcolor: #2f3033;
$coursemos-body-bgcolor: #f7f9fa;

$coursemos-layout-header-logo: $coursemos-layout-lnb-coursemenu - $coursemos-layout-header-padding-x - $coursemos-layout-header-padding-x;
$coursemos-layout-header-logo-small: 150px;
$coursemos-layout-header-content-height: $coursemos-layout-header - $coursemos-layout-header-padding-y - $coursemos-layout-header-padding-y;

// 코스모스 설정
$coursemos-logo: '/theme/coursemos/pix/layout/default_logo.png' !default;
$coursemos-logo_small: '/theme/coursemos/pix/layout/default_logo_small.png' !default;
$coursemos-logo_login: '/theme/coursemos/pix/layout/default_logo_login.png' !default;
$coursemos-fontcolor: #068053 !default;
$coursemos-linkcolor: #337ab7 !default;
$coursemos-headercolor: #068053 !default;
$coursemos-headercolor_rgba:  rgba(6, 128, 83, 0.8) !default;
$coursemos-editbutton_color: #068053 !default;
$coursemos-badge_color: #bfcd18 !default;
$coursemos-quickbutton_color: #86bfaa !default;
$coursemos-loginoutcolor: #62b224 !default;
$coursemos-privacycolor: #ffd000 !default;

$coursemos-bordercolor: #d9dbdb;


// 로그인 화면
$coursemos-loginform-width-base: 435px;
$coursemos-loginform-width-banner: 225px;
$coursemos-loginform-width-full: $coursemos-loginform-width-base + $coursemos-loginform-width-banner;

$coursemos-loginform_background_rgba: rgba(15, 67, 131, .9) !default;
$coursemos-loginform_login_btncolor: #2464b2 !default;
$coursemos-loginform_sso_btncolor_sso: #05264d !default;
$coursemos-loginform_sso_btncolor_person: #30abd0 !default;

$coursemos-loginfamily_background_rgba: rgba(76, 76, 76, 0.9) !default;
$coursemos-loginnotice_background_rgba: rgba(255, 255, 255, 0.9) !default;
$coursemos-loginbtnset_background_rgba: rgba(229, 229, 195, 0.9) !default;


$coursemos-table-th-bgcolor: #f7f7f7;
$coursemos-table-th-border-color: #bababa;
$coursemos-table-border-color: #e9ecef;

$coursemos-course-header-navbar-height: 61px;  // 강좌 메뉴 => block title크기만큼 지정

// icon color
$coursemos-icon-color: #999; // #bfbfbf;


$coursemos-footer-height: 80px;
$coursemos-footer-bgcolor: #282929;

// header 영역이 popover, tooltip 보다 z-index가 작아서 popover, tooltip에 header보다 위에 보이는 문제를 잡기 위한 변수임
$coursemos-header-zindex: $zindex-modal + 1;

// headroom, menu, coursesection 등 transition-duration, transition-timing-function속성 정의
$coursemos-header-trans-duration-function: 0.2s ease-in-out;


// 메뉴 및 본문 높이 지정
//$coursemos-page-container-height: calc(100vh - #{$coursemos-layout-header} + #{$coursemos-footer-height});
$coursemos-page-container-height: calc(100vh - #{$coursemos-layout-header});

// favorite color
$coursemos-favorite-color: #e0e00e;

// common-button size
$coursemos-common-button: 52px;