{{!
    @template theme_coursemos/block

    Example context (json):
    {
        "id": "block0",
        "showskiplink": true,
        "type": "html",
        "ariarole": "complementary",
        "title": "Test block",
        "blockinstanceid": 1,
        "content": "<p>Hello block world!</p>"
    }

}}
{{! Block Skip Link }}
{{#showskiplink}}
  <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
{{/showskiplink}}

{{! Start Block Container }}
<aside id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} block block_{{type}} {{#hascontrols}}block_with_controls{{/hascontrols}} m-b-1"
     role="{{ariarole}}"
     data-block="{{type}}"
     {{#arialabel}}
        aria-label={{#quote}}{{{arialabel}}}{{/quote}}
     {{/arialabel}}
     {{^arialabel}}
        {{#title}}
          aria-labelledby="instance-{{blockinstanceid}}-header"
        {{/title}}
     {{/arialabel}}>

	<div class="block-header">
		{{#hascontrols}}
        <div class="block-controls pull-xs-right">
            {{{controls}}}
        </div>
        {{/hascontrols}}

        {{! Block header }}
        {{#title}}
            <h3 id="instance-{{blockinstanceid}}-header" class="block-title">{{{title}}}</h3>
        {{/title}}
	</div>

    {{! Block contents }}
    <div class="block-content">
        {{{content}}}
        <div class="footer">{{{footer}}}</div>
        {{{annotation}}}
    </div>

{{! End Block Container }}
</aside>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <span id="sb-{{skipid}}"></span>
{{/showskiplink}}
