<div class="file-picker fp-select">
    <div class="fp-select-loading">
        <span class="sr-only">{{#str}}loadinghelp{{/str}}</span>
        {{#pix}}i/loading_small{{/pix}}
    </div>
    <div class="fp-container">
        <form>
            <fieldset class="form-group row">
                <div class="form-check fp-linktype-2">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefileinternal, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-1">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilelink, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilereference, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-8">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilecontrolledlink, repository{{/str}}
                    </label>
                </div>
            </fieldset>
            <div class="fp-saveas form-group row">
                <label class="control-label">{{#str}}saveas, repository{{/str}}</label>
                <input class="form-control" type="text">
            </div>
            <div class="fp-setauthor form-group row">
                <label class="control-label">{{#str}}author, repository{{/str}}</label>
                <input class="form-control" type="text">
            </div>
            <div class="fp-setlicense form-group row">
                <label class="control-label">{{#str}}chooselicense, repository{{/str}}</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group row">
                <div class="fp-select-buttons">
                    <button class="fp-select-confirm btn-primary btn">{{#str}}getfile, repository{{/str}}</button>
                    <button class="fp-select-cancel btn-secondary btn">{{#str}}cancel{{/str}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="fp-info clearfix">
        <hr>
        <p class="fp-thumbnail"></p>
        <div class="fp-fileinfo">
            <div class="fp-datemodified">{{#str}}lastmodified, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-datecreated">{{#str}}datecreated, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-size">{{#str}}size, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-license">{{#str}}license, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-author">{{#str}}author, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-dimensions">{{#str}}dimensions, repository{{/str}}<span class="fp-value" dir="ltr"></span></div>
        </div>
    </div>
</div>
