<div class="fp-def-search">
    <label class="sr-only">{{#str}}searchrepo, repository{{/str}}</label>
    <input type="search" class="form-control input-sm" id="reposearch" name="s" placeholder="{{#str}}search, repository{{/str}}"/>
</div>