{{#haspages}}
    <div class="text-center">
        <ul class="pagination">
            {{#previous}}
                <li class="page-item">
                    <a href="{{url}}" class="page-link">
                        <i class="fa fa-angle-double-left"></i>
                        <span class="sr-only">{{#str}}previous{{/str}}</span>
                    </a>
                </li>
            {{/previous}}
            {{#first}}
                <li class="page-item">
                    <a href="{{url}}" class="page-link">{{page}}</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&hellip;</a>
                </li>
            {{/first}}
            {{#pages}}
                <li class="page-item {{#active}}active{{/active}}">
                    <a href="{{url}}" class="page-link">
                        {{page}}
                        {{#active}}
                            <span class="sr-only">{{#str}}currentinparentheses, theme_coursemos{{/str}}</span>
                        {{/active}}
                    </a>
                </li>
            {{/pages}}
            {{#last}}
                <li class="page-item disabled">
                    <span class="page-link">&hellip;</a>
                </li>
                <li class="page-item">
                    <a href="{{url}}" class="page-link">{{page}}</a>
                </li>
            {{/last}}
            {{#next}}
                <li class="page-item">
                    <a href="{{url}}" class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                        <span class="sr-only">{{#str}}next{{/str}}</span>
                    </a>
                </li>
            {{/next}}
        </ul>
    </div>
{{/haspages}}
