<table class="table table-bordered table-coursemos">
	<colgroup>
		<col class="wp-50" />
		<col />
		<col class="wp-80" />
	</colgroup>
	<thead>
		<tr>
			<th class="text-center">{{#str}} number, local_ubion{{/str}}</th>
			<th class="text-center">action</th>
			<th class="text-center">count</th>
		</tr>
		</thead>
	<tbody>
		{{# logs}}
		<tr>
			<td class="text-center">{{index}}</td>
			<td class="text-center">{{eventname}}</td>
			<td class="text-center">{{count}}</td>
		</tr>
		{{/ logs}}
		{{^ logs}}
		<tr>
			<td class="text-center">&nbsp;</td>
			<td class="text-center">&nbsp;</td>
			<td class="text-center">&nbsp;</td>
		</tr>
		{{/ logs}}
	</tbody>
</table>