<div class="well">
	<table class="table table-bordered table-coursemos">
		<colgroup>
			<col />
			<col class="wp-150" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col">{{#str}}course_name, local_ubion{{/str}}</th>
				<th scope="col">{{#str}}open, local_ubion{{/str}}</th>
			</tr>
		</thead>
		<tbody>
			{{#courses}}
			<tr>
				<td>{{fullname}}</td>
				<td class="text-center">
					<a href="{{{url}}}" class="btn btn-default btn-sm" target="_blank">
						{{#str}}open, local_ubion{{/str}}
					</a>
				</td>
			</tr>
			{{/courses}}
							
		</tbody>
	</table>
</div>