<div class="local-ubion-user-sortorder">
	<div class="well">
		<p class="text-danger">{{# str}}user_sortorder_help, local_ubion{{/ str}}</p>
		<p class="text-info">{{# str}}user_sortorder_move, local_ubion, <i class="fa fa-arrows"></i>{{/ str}}</p>
		
		<table class="table table-bordered table-coursemos table-user-sortorder coursemos-sortable mt-4">
			<colgroup>
				<col class="wp-50" />
				<col />
				<col class="wp-150" />
			</colgroup>
			<thead>
				<tr>
					<th class="text-center">&nbsp;</th>
					<th class="text-center">{{# str}}course_name, local_ubion{{/ str}}</th>
					<th class="text-center">{{# str}}professor_name, local_ubion{{/ str}}</th>
				</tr>
			</thead>
			<tbody class="my-course-lists">
				{{# courses}}
				<tr class="{{trclass}}" data-courseid="{{id}}">
					<td class="text-center">
						<i class="fa fa-arrows i-move"></i>
					</td>
					<td>
						{{{label}}}
						{{fullname}}
						
						{{^ cu_visible}}
						<label class="label label-danger">{{# str}}not_use, local_ubion{{/ str}}</label>
						{{/ cu_visible}}
					</td>
					<td class="text-center">
						{{profs}}
					</td>
				</tr>
				{{/ courses}}
				
				{{^ courses}}
				<tr>
					<td colspan="3" class="p-3">
						{{# str}}no_favorite_course, local_ubion{{/ str}}
					</td>
				</tr>
				{{/ courses}}
			</tbody>
		</table>
	</div>
</div>