

.local-ubion-group .fieldset-group { display:block; border: 1px solid #E5E5E5; padding: 10px 20px; margin-bottom:20px; position: relative; background-color:white; }
.local-ubion-group .fieldset-group legend { display:block; font-size:16px; font-weight:bold; margin:0 0 0 20px; border-width:0px; padding:0 5px; width:auto; line-height:20px; }
.local-ubion-group .fieldset-group .users .ellipsis { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:block; }
.local-ubion-group .fieldset-group .users li { margin:5px 0;  list-style:none; }
.local-ubion-group .fieldset-group .users li a { color:#666; text-decoration:none; }