.theme-coursemos-family { }
.theme-coursemos-family .family-box { border:1px solid #ccc; padding-bottom: 30px; margin-bottom: 3rem; }
.theme-coursemos-family .family-box legend { margin-left: 2rem; width: inherit; border-bottom: 0; padding:0 10px; }
.theme-coursemos-family .family-box .family-sites { padding: 0 2rem; margin: 0; list-style: none; }
.theme-coursemos-family .family-box .family-sites .sites { border:1px solid #ccc; padding:10px 15px; margin: 5px; }

.theme-coursemos-family .family-box .family-sites .sites .moveicon { cursor: move; }    
.theme-coursemos-family .family-box .family-sites .sites .lang { padding-left: 3rem; }
.theme-coursemos-family .family-box .family-sites .sites .site-name { }
.theme-coursemos-family .family-box .family-sites .sites .site-name .moveicon { vertical-align: inherit; margin-right:10px; }
.theme-coursemos-family .family-box .family-sites .sites .lang .lang-item { }
.theme-coursemos-family .family-box .family-sites .sites .lang .lang-item .lang-title { text-align:right; margin-right: 10px; }

.theme-coursemos-family .family-box .family-sites .placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}
.theme-coursemos-family .family-box .family-sites .placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; 
}