.format-ubstopics #completionprogressid { top : 28px; margin-right:30px; }
.format-ubstopics #completionprogressid .btn { vertical-align: top; padding:0; }

.format-ubstopics .course-content { position:relative; }

/* 강좌 공통 */
.format-ubstopics .course-content h2.main,
.format-ubstopics .course-content .section-title-one { font-size:16px; margin:0; color:#333333; font-weight:bold; padding: 21px 28px 20px; border-bottom: 1px solid #d9dbdb; background-color:#e4f0eb; }

/* 강좌 개요 영역 */
.format-ubstopics .course_box { border:1px solid #d9dbdb; background-color:white; }


.format-ubstopics .course-content .course_box0 { margin-bottom:1.5rem; }
.format-ubstopics .course-content .course_box0 h2.main { font-size:20px; color:#333; padding: 29px 0 28px; border-bottom: 1px solid #ebebeb; margin:0 30px; background-color:transparent; }
.format-ubstopics .course-content .course_box0 ul li.section { border-bottom:0px; padding:22px 30px 18px 30px; }


/* 특정 모듈 선택 */
.format-ubstopics .total-sections .course-filter { float:right; margin:12px 15px; }
.format-ubstopics .total-sections .course-filter select { border-radius:0px; }

/* section 영역 */
/* section 공통 */
.format-ubstopics .course-content li.section { border:0px; border-bottom:1px solid #e0e0e0; margin:0; padding:39px 27px 38px 27px; }
.format-ubstopics .course-content li.section:last-child { border-bottom:0px; }

.format-ubstopics .course-content ul.ubstopics li.section { 
    padding: 39px 27px 38px 27px;
    border-bottom: 1px solid #e0e0e0;
}
.format-ubstopics .course-content ul.ubstopics li.section .left,
.format-ubstopics .course-content ul.ubstopics li.section .right { display:none; }

.format-ubstopics .course-content li.section ul.section { margin:26px 0 0 0; padding:0; }

.format-ubstopics .course-content li.section .sectionname,
.format-ubstopics .course-content .section-summary .section-title,
.format-ubstopics .course-content li.section .sectionname a,
.format-ubstopics .course-content .section-summary .section-title a { padding:0px; font-size:16px; margin:.5rem 0; }

.format-ubstopics .course-content li.section .content .summary,
.format-ubstopics .course-content .section-summary .summarytext { color:#666; }

.format-ubstopics .course-content li.section .content .section_availability,
.format-ubstopics .course-content li.section .content .summary,
.format-ubstopics .course-content .section-summary .summarytext { margin:1rem; }


.format-ubstopics .course-content li.section li.activity { padding:7px 12px; border: 1px solid transparent; }
.format-ubstopics .course-content li.section li.activity.label { border-width: 1px 0 0 0; border-radius: 0;}
.format-ubstopics .course-content li.section li.activity:first-child { border-top:0px; }
.format-ubstopics .course-content li.section li.activity:hover { background-color:#f0f2f2; border-color: #ebebeb; }


.format-ubstopics .course-content li.activity a { color:#333; }
.format-ubstopics .course-content li.activity a.editing_title { display:none; }
.format-ubstopics .course-content li.activity img.activityicon { vertical-align:middle; margin-right:10px; }
.format-ubstopics .course-content li.activity .displayoptions,
.format-ubstopics .course-content li.activity .resourcelinkdetails { color:#f3773a; font-size:12px; }

.format-ubstopics .course-content li.activity .dropdown-toggle img { margin:0; }
.format-ubstopics .course-content li.activity .dropdown-toggle::after { display:none; }


/* 0 주차는 모양이 달라짐 */
.format-ubstopics .course-content li#section-0 ul { margin:0px; }
.format-ubstopics .course-content li#section-0 li.activity { 
	display:inline-block; 
	width:104px; max-width:104px; 
	text-align:center; vertical-align:top; 
	padding:0px;
	border:1px solid transparent; 
	border-radius: 5px;
	margin:0 1px;
}

/* 김호영 임시 추가 */
.format-ubstopics .course-content .course_box0 h2.main { border-bottom-width:0; }
.format-ubstopics .course-content li#section-0 .sectionname { display:none; }
.format-ubstopics .course-content li#section-0 .content { margin-top:-55px; }
.format-ubstopics .course-content li#section-0 .summary { margin:0 10px 0 10px; }
/* 김호영 끝 */

.format-ubstopics .course-content li#section-0 li.activity > div { padding:5px 0; }
.format-ubstopics .course-content li#section-0 li.activity .mod-indent-outer { padding:0; display:block; }
.format-ubstopics .course-content li#section-0 li.activity .mod-indent-outer .mod-indent { display:none; }
.format-ubstopics .course-content li#section-0 li.activity .activityinstance {  display:block; padding:0px; }
.format-ubstopics .course-content li#section-0 li.activity .activityinstance .activity-link { display:block; padding:13px 8px; text-align:center; text-indent:0; }
.format-ubstopics .course-content li#section-0 li.activity .activityinstance .groupinglabel { padding-left:0px; }
.format-ubstopics .course-content li#section-0 li.activity img.activityicon { width:auto; height:auto; margin-right:0px; }
.format-ubstopics .course-content li#section-0 li.activity .instancename { display:block; margin-top:10px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; font-size:1rem; color:#666; }
.format-ubstopics .course-content li#section-0 li.activity span.commands { display:inline-block; *display:inline; *zoom:1; width:90%; text-align:center; margin:0 auto; }
.format-ubstopics .course-content li#section-0 li.activity img.new_modules { position:absolute; top:12px; left:40px; }
.format-ubstopics .course-content li#section-0 li.activity.dndupload-hidden { display:none; }
.format-ubstopics .course-content li#section-0 li.activity .dimmed .instancename { color:#999; }
.format-ubstopics .course-content li#section-0 li.activity .actions { top:inherit; right:inherit; position: inherit; display:block; margin:5px 0; }
.format-ubstopics .course-content li#section-0 li.activity .actions .filler { display:none; }
.format-ubstopics .course-content li#section-0 span.autocompletion,
.format-ubstopics .course-content li#section-0 form.togglecompletion { top:5px; position:absolute; right: 5px; }
.format-ubstopics .course-content li#section-0 li.activity .editing_title { visibility:hidden; }


.format-ubstopics .course-content li#section-0 li.activity .availabilityinfo,
.format-ubstopics .course-content li#section-0 li.activity .contentafterlink { margin:0px 5px; font-size:12px; }


.format-ubstopics .course-content hr.exclude_hr { }
.format-ubstopics .course-content ul.exclude_mod { margin:0; }
.format-ubstopics .course-content ul.exclude_mod .no-overflow { margin-bottom:0px; }


/* 현재 주차 */
.format-ubstopics .course-content .course_box_current { margin-bottom:1.5rem; }

/* editing */
.format-ubstopics.editing .section .activity .activityinstance .quickeditlink { display:none; }
.format-ubstopics.editing .section .activity .editing_move .icon { margin-right:0px; }

.format-ubstopics.editing .course-content ul.ubstopics li.section .left,
.format-ubstopics.editing .course-content ul.ubstopics li.section .right { display:block; }

.format-ubstopics.editing .course-content ul.ubstopics li.section .actions .caret { display:none; }
.format-ubstopics.editing .course-content ul.ubstopics li.section .content { margin:0px 1rem; }


/* 편집 버튼을 학습자원/활동명 바로 뒤에 위치하게 하고 싶은 경우 
.format-ubstopics .course-content li.activity .activityinstance { padding-right:15px; }
.format-ubstopics.editing .section .activity .actions { position:static; top: inherit; right: inherit; }

.format-ubstopics .course-content li.activity span.autocompletion, 
.format-ubstopics .course-content li.activity form.togglecompletion { position:absolute; top:5px; right:0px; }
*/

/* 편집 버튼을 무들 기본으로 설정하고 싶은 경우 */
.format-ubstopics .course-content li.activity .activityinstance { padding-right:5rem; }
.format-ubstopics .course-content li.activity .actions img { vertical-align: text-bottom; }

/* 탭형 보기인 경우 */
.format-ubstopics .course-content ul.ubsweeks.tab-pane li.section { min-height:300px; }

@media (max-width: 576px) {
    .format-ubstopics .course-content .course_box0 h2.main { margin:0 20px; }
    .format-ubstopics .course-content ul.ubsweeks li.section { padding:20px; }
    .format-ubstopics .course-content li#section-0 li.activity { width:92px; max-width:92px; }
    
    
    .format-ubstopics .course-content ul.ubsweeks.tab-pane li.section { min-height:inherit; }
}


/* 메트로 형태 뷰 */
.format-ubstopics .total-sections.ui-metro {
	
}

.format-ubstopics .course-content .ui-metro li#section-0 li.activity,
.format-ubstopics .course-content .ui-metro li.section li.activity {
	display: inline-block;
	max-width: 172px;
	width: 172px;
	margin: 1rem;
	vertical-align: top;
	padding: 0;
	background-color: #f2f2f2;
	border-radius: 0;
	height: 208px;
}

.format-ubstopics .course-content .ui-metro li#section-0 li.activity:hover,
.format-ubstopics .course-content .ui-metro li.section li.activity:hover {
	background-color: #f2f2f2;
}

.format-ubstopics .course-content .ui-metro li#section-0 li.activity > div,
.format-ubstopics .course-content .ui-metro li.section li.activity > div { 
	padding: 0;
}


.format-ubstopics.editing .course-content .ui-metro li.section li.activity .mod-indent-outer,
.format-ubstopics .course-content .ui-metro li.section li.activity .mod-indent-outer { 
	display: block; 
	padding-left: 0;
}


.format-ubstopics .course-content .ui-metro li#section-0 li.activity .activityinstance .activity-link,
.format-ubstopics .course-content .ui-metro li.section li.activity .activityinstance .activity-link {
	padding: 0;
	height: 208px;
	display: block;
}


.format-ubstopics .course-content .ui-metro li.section li.activity .activityinstance .activity-link .activity-image img {
	width: 100%;
}

.format-ubstopics.editing .course-content .ui-metro li#section-0 li.activity .activityinstance .activity-link,
.format-ubstopics.editing .course-content .ui-metro li.section li.activity .activityinstance .activity-link {
	height: inherit;
} 

.format-ubstopics .course-content .ui-metro li.section li.activity .activityinstance {
	display: block;
	min-width: inherit;
	padding-right: 0;
}

.format-ubstopics .course-content .ui-metro li.section li.activity .activityinstance .activity-title {
	display: block;
}

.format-ubstopics .course-content .ui-metro li.section li.activity .instancename {
	display: block;
	margin-top: 10px;
	text-align: center;
	padding: 0 5px;
	max-height: 60px;
	overflow: hidden;
}

.format-ubstopics.editing .course-content .ui-metro li.section li.activity .editing_move { 
	top: 5px;
}


.format-ubstopics.editing .course-content .ui-metro li.section li.activity .actions {
	top: inherit;
    right: inherit;
    position: inherit;
    display: block;
    margin: 5px 0;
    text-align: center;
}

.format-ubstopics .course-content .ui-metro li.section#section-0 li.activity span.autocompletion,
.format-ubstopics .course-content .ui-metro li.section li.activity span.autocompletion,
.format-ubstopics .course-content .ui-metro li.section li.activity .togglecompletion {
	top: 114px;
	right: 77px;
	position: absolute;
}

.format-ubstopics .course-content .ui-metro li.section#section-0 li.activity span.autocompletion img,
.format-ubstopics .course-content .ui-metro li.section li.activity span.autocompletion img {
	margin: 0;
}

/* 모바일 */
.coursemos-page-xs.format-ubstopics .course-content .ui-metro ul.ubstopics li.section {
	padding: 0 0 38px 0;	
}

.coursemos-page-xs.format-ubstopics .course-content .ui-metro li#section-0 li.activity,
.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section li.activity {
	width: 144px;
	max-width: 144px;
	margin: 4px 2px;
} 

.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section#section-0 ul.section,
.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section ul.section {
	margin: 28px 8px;
	clear: both;
}

.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section .sectionname {
	margin: 1.5rem 1rem;	
}

.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section#section-0 li.activity span.autocompletion,
.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section li.activity span.autocompletion,
.coursemos-page-xs.format-ubstopics .course-content .ui-metro li.section li.activity .togglecompletion {
	top: 94px;
	right: 63px;
	position: absolute;
}

.coursemos-page-xs.format-ubstopics.editing .course-content ul.ubstopics li.section .content { 
	margin: 0; 
}

.coursemos-page-xs.format-ubstopics.editing .favorite_modchooser.usefavorite {
	margin-right: 1rem; 
}

.coursemos-page-xs.format-ubstopics.editing .course-content ul.ubstopics li.section .left, 
.coursemos-page-xs.format-ubstopics.editing .course-content ul.ubstopics li.section .right {
	margin-top: 20px;
}