.local_ubsend .users { margin:0; list-style:none; max-height:350px; overflow-y:auto; padding-left: 0; }
.local_ubsend .groupusers { max-height:500px; overflow-y:auto; }
.local_ubsend .groupusers .users { max-height:150px; }

.local_ubsend .btn-collapsed-expanded { background:url([[pix:core|t/collapsed]]) no-repeat center center; padding:0 8px; }

.local_ubsend .nomaxheight .users { max-height:inherit; }
.local_ubsend .nomaxheight .groupusers { max-height:inherit;}

.local_ubsend .nomaxheight .btn-collapsed-expanded { background-image : url([[pix:core|t/expanded]]); }

.local_ubsend .users .userinfo { display: inline-block; vertical-align: top; }
.local_ubsend .users li { margin-top:2px; margin-bottom:2px; }
.local_ubsend .users li .disabled { cursor:not-allowed; }
.local_ubsend .users li .userpicture { border-radius:0; width:40px; }

.coursemos-page-sm .local_ubsend .users li .userpicture,
.coursemos-page-xs .local_ubsend .users li .userpicture { width:35px; }

.local_ubsend .users .nomember { margin:4px 0; }

.local_ubsend .fieldset { display: block; border: 1px solid #E5E5E5; padding: 10px; margin-bottom: 20px; position: relative; }
.local_ubsend .fieldset.fieldset-grouping { padding-left:20px; padding-right:20px; }
.local_ubsend .fieldset legend { display: block; font-weight: bold; margin: 0 0 0 20px; border-width: 0; padding: 0 5px; width: auto; line-height: 20px; font-size:1rem; }
.local_ubsend .fieldset .btn-group-checked { position: absolute; top: 0; right: 20px; }

.local_ubsend .log-users { max-height:150px; overflow-y:auto; }

.local_ubsend_sms .form-control-sms { resize: none; width: 100%; height: 130px; min-height: 130px; margin: 0 auto;}
.local_ubsend_sms .col-special-char { display: none; }


/**************
 메시지
**************/
.local-ubsend-message { 
    
}

/* 메시지 목록 */
.local-ubsend-message .media-list { 
    margin: 0;
}

.local-ubsend-message .media-list .media { 
    border-top: 1px solid #dedede;
    margin:0;
    padding: 8px 0;
}

.local-ubsend-message .media-list .media .media-body { 
    position: relative; 
    padding: 2px 0; 
    width: 10000px; 
}
.local-ubsend-message .media-list .media:first-child { 
    border-top: 0; 
}
.local-ubsend-message .media-list .userpicture { 
    border: 1px solid #dddddd; 
    box-shadow: none; 
    width: 35px; 
    height: 35px;
}
.local-ubsend-message .media-list .media-heading { 
    font-size: 14px; 
    margin: 0; 
}
.local-ubsend-message .media-list .time { 
    float: right; 
    font-size: .9em; 
    color: #777; 
    position: absolute; 
    right: 5px; 
    top: 0; 
}
.local-ubsend-message .media-list .msg { 
    color: #666; 
    margin-top: 5px;
}
.local-ubsend-message .media-list .tools { 
    position: absolute; 
    bottom: 0; 
    right: 5px; 
    display: none; 
}

.local-ubsend-message .media-list .tools .btn-message-delete {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.local-ubsend-message .media-list .media .media-body:hover .tools { 
    display: block; 
}


/** 메시지 내용 **/

.local-ubsend-message .message-history hr { 
    display:none; 
}
.local-ubsend-message .message-history .heading { 
    width: 100%; 
    clear: both; 
    padding: 2rem 0; 
    position: relative; 
}

.local-ubsend-message .message-history .heading:first-child {
    padding-top: 0;
}
.local-ubsend-message .message-history .heading .btn-day-delete { 
    display: none; 
    vertical-align: middle;
}

.local-ubsend-message .message-history .heading:first-child .btn-day-delete {
    top: 8px;
}

.local-ubsend-message .message-history .heading:hover .btn-day-delete { 
    display: inline-block; 
}

 
.local-ubsend-message .message-history .messages .day { 
    font-size: 1rem; 
    font-weight: bold;  
    background-color: #f9f9f9; 
    padding: 10px; 
    text-align: center; 
    margin: 0; 
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0; 
}

.local-ubsend-message .message-history .messages .day .dayname { 
    display: inline-block;
    min-height: 22px;
    vertical-align: middle;
    line-height: 1.5;
}

.local-ubsend-message .message-history .from { 
    width: 60%; 
    margin: 0 25px 10px 0; 
    float: right; 
    clear: both; 
}

.local-ubsend-message .message-history .to { 
    width: 60%; 
    margin: 0 0 10px 25px; 
    float: left; 
    clear: both; 
}



.local-ubsend-message .message-history .message { 
    border: 1px solid #75c7d3; 
    padding:10px 20px; 
    background-color:#e9f8ff; 
    border-radius:10px; 
    position:relative; 
}

/* 받은 메시지 */
.local-ubsend-message .message-history .to .message { 
    background-color: #fffee1; 
    border-color:#f5c056; 
}

/* 통지 */
.local-ubsend-message .message-history .notification .message { 
    background-color: #fdeaea; 
    border-color:#f27b81; 
}

/* 메시지 arrow */
.local-ubsend-message .message-history .message .arrow,
.local-ubsend-message .message-history .message .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 11px;	
}
.local-ubsend-message .message-history .message .arrow { 
    top: 30%; 
}
.local-ubsend-message .message-history .message .arrow:after { 
    border-width:10px; 
    bottom: -10px; 
    content: " "; 
}

/* 받은 메시지 arrow */
.local-ubsend-message .message-history .to .message .arrow {
	left: -11px;
	margin-top: -11px;
	border-right-color: #f5c056;
	border-left-width: 0;
}

.local-ubsend-message .message-history .to .message .arrow:after {
	left: 1px;
	border-right-color: #FFFEE1;
	border-left-width: 0;
}

/* 보낸 메시지 arrow */
.local-ubsend-message .message-history .from .message .arrow {
	right: -11px;
	margin-top: -11px;
	border-left-color: #75c7d3;
	border-right-width: 0;
}

.local-ubsend-message .message-history .from .message .arrow:after {
	right: 1px;
	border-left-color: #e9f8ff;
	border-right-width: 0;
}

/* 통지 보낸 메시지 */
.local-ubsend-message .message-history .to.notification .message .arrow {
	border-right-color: #f27b81;
	border-left-width: 0;
}

.local-ubsend-message .message-history .to.notification .message .arrow:after {
	border-right-color: #fdeaea;
	border-left-width: 0;
}


/* 통지 받은 메시지 */
.local-ubsend-message .message-history .from.notification .message .arrow {
	border-left-color: #f27b81;
	border-right-width: 0;
}

.local-ubsend-message .message-history .from.notification .message .arrow:after {
	border-left-color: #fdeaea;
	border-right-width: 0;
}

.local-ubsend-message .message-history .time { 
    float: right; 
    font-size: .9em; 
    min-height: 25px;
}

.local-ubsend-message .message-history .message .buttons { 
    float: right; 
    margin: -2px 0 0 5px; 
    display: none; 
}

.local-ubsend-message .message-history .message:hover .buttons { 
    display: block; 
}
  
.local-ubsend-message .message-history .message .content { 
    clear: both; 
}

.local-ubsend-message .message-history .readtime { 
    color: #999; 
    text-align: right; 
    font-size: .9em; 
    margin: 10px 0 0 0; 
}
.local-ubsend-message .message-history .notread {  
    color: #5d9fa9; 
}

.local-ubsend-message .form-send {
    
}

.local-ubsend-message .form-send .form-control-message {
    width: 100%;
    resize: none;
}

.local-ubsend-message .form-send .btn-message-send {
    width: 100%;
}

/* 그룹 메시지 명단 */
.local-ubsend-message .message-history .readdate { 
    font-size:12px; 
}