{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Setting.
}}
<div class="form-group row" id="{{id}}">
    <div class="form-label col-sm-3 text-sm-right">
        <label {{#labelfor}}for="{{labelfor}}"{{/labelfor}}>
            {{{title}}}
            {{#override}}
                <div class="form-overridden">{{override}}</div>
            {{/override}}
            {{#warning}}
                <div class="form-warning">{{warning}}</div>
            {{/warning}}
        </label>
        <span class="form-shortname d-block small text-muted">{{{name}}}</span>
    </div>
    <div class="form-setting col-sm-9">
        {{#error}}
            <div><span class="text-danger">{{error}}</span></div>
        {{/error}}
        {{{element}}}
        {{#default}}
            <div class="form-defaultinfo text-muted {{#forceltr}}text-ltr{{/forceltr}}">{{{default}}}</div>
        {{/default}}
        <div class="form-description m-t-1">{{{description}}}</div>
    </div>
</div>
