<div class="table-responsive">
	<table class="table table-bordered table-coursemos">
		<colgroup>
			<col class="wp-50" />
			<col />
			<col class="wp-80" />
			<col class="wp-150" />
			<col class="wp-160" />
			<col class="wp-80" />
		</colgroup>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>{{# str}}course_modules, local_ubonattend{{/ str}}</th>
				<th>{{# str}}time_attend, local_ubonattend{{/ str}}</th>
				<th>{{{cumulativeTitle}}}</th>
				<th>{{# str}}attendance_status, local_ubonattend{{/ str}}</th>
				<th>{{# str}}attendance_section_status, local_ubonattend{{/ str}}</th>
			</tr>
		</thead>
		<tbody>
			{{{tbody}}}
		</tbody>
	</table>
</div>