<div class="table-responsive">
	<table class="table table-bordered table-coursemos">
		<colgroup>
			<col class="wp-50" />
			<col />
			<col class="wp-100" />
			<col class="wp-150" />
			<col class="wp-150" />
		</colgroup>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>{{# str}}course_modules, local_ubonattend{{/ str}}</th>
				<th>{{# str}}playtime, local_ubonattend{{/ str}}</th>
				<th>{{{cumulativeTitle}}}</th>
				<th>{{# str}}progress_rate, local_ubonattend{{/ str}}</th>
			</tr>
		</thead>
		<tbody>
			{{{tbody}}}
		</tbody>
	</table>
</div>