{{{tabHTML}}}

<div class="local-ubonattend">
	<form method="post" class="form-coursemos well form-validate form-horizontal form-grade" action="action.php">
		<fieldset>
			<div class="hidden">
				<input type="hidden" name="{{typename}}" value="{{type}}" />
				<input type="hidden" name="id" value="{{courseid}}" />
				<input type="hidden" name="sesskey" value="{{config.sesskey}}" />
			</div>

		
			{{# isGrade}}
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}itemname, grades{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<input type="text" name="itemname" placeholder="{{# str}}itemname, grades{{/ str}}" class="required itemname form-control" value="{{gradeName}}" />
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}setting_grade_score, local_ubonattend{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<select name="gradescore" class="form-control">
						{{# gradeScoreOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{value}}</option>
						{{/ gradeScoreOption}}
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}setting_grade_minscore, local_ubonattend{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<select name="minscore" class="form-control">
						{{# minScoreOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{value}}</option>
						{{/ minScoreOption}}
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}setting_grade_lateness, local_ubonattend{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<select name="lateness" class="form-control">
						{{# latenessOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{value}}</option>
						{{/ latenessOption}}
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}setting_grade_absence, local_ubonattend{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<select name="absence" class="form-control">
						{{# absenceOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{value}}</option>
						{{/ absenceOption}}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-9 col-lg-2 col-md-offset-3 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">{{# str}}save, local_ubion{{/ str}}</button>
				</div>
			</div>
			{{/ isGrade}}
	
			{{^ isGrade}}
			<div class="form-group row">
				<label class="control-label col-md-3 col-lg-2">{{# str}}itemname, grades{{/ str}}</label>
				<div class="col-md-9 col-lg-10">
					<input type="text" name="itemname" placeholder="{{# str}}itemname, grades{{/ str}}" class="required itemname form-control" value="{{gradeName}}" />
					<div class="form-text mt-3">
						<span class="text-danger">
							{{# str}}grade_noexist, local_ubonattend{{/ str}}
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-offset-3 col-lg-offset-2 col-md-9 col-lg-10">
					<button type="submit" class="btn btn-primary">{{# str}}add{{/ str}}</button>
					<a href="{{{settingURL}}}" class="btn btn-default">{{# str}}cancel{{/ str}}</a>
				</div>
			</div>	
			{{/ isGrade}}
			
		</fieldset>
	</form>
</div>