<div class="local-ubonattend">
	<div class="text-right mb-3">
		<a href="{{listurl}}" class="btn btn-default">{{# str}}all_list, local_ubonattend{{/ str}}</a>
	</div>
	<div class="well">
		<dl class="dl-horizontal mb-0">
			<dt class="mb-2">{{# str}}idnumber{{/ str}}</dt>
			<dd class="mb-3">{{user.idnumber}}</dd>
			<dt class="mb-2">{{# str}}fullnameuser{{/ str}}</dt>
			<dd class="mb-3">{{fullname}}</dd>
			<dt class="mb-2">{{# str}}phone2{{/ str}}</dt>
			<dd class="mb-3">{{user.phone2}}</dd>
			<dt class="mb-2">{{# str}}email{{/ str}}</dt>
			<dd class="mb-3">{{user.email}}</dd>
		</dl>
	</div>
	
	<div class="well">
		{{# isOnlinePage}}
			{{> local_ubonattend/_my_status_attendance}}
		{{/ isOnlinePage}}
		
		{{^ isOnlinePage}}
			{{> local_ubonattend/_my_status_progress}}
		{{/ isOnlinePage}}
	</div>
	<div class="text-right">
		<a href="{{listurl}}" class="btn btn-default">{{# str}}all_list, local_ubonattend{{/ str}}</a>
	</div>
	
	
	<div class="modal modal-progress modal-attempt" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					
					<div class="moduleInfoTable"></div>
					 
					<p class="background-color-desc mb-3">
						{{{trackBackgroundDesc}}}
					</p>
					<div class="table-responsive">
						<table class="table table-bordered table-coursemos table-progress-lists">
							<colgroup>
								<col class="wp-50" />
								<col class="wp-100" />
								<col class="wp-200" />
								<col class="wp-200" />
								<col class="wp-100" />
								<col class="wp-110" />
							</colgroup>
							<thead>
								<tr>
									<th class="text-center">{{# str}}attempt, local_ubonattend{{/ str}}</th>
									<th class="text-center">{{# str}}ip, local_ubonattend{{/ str}}</th>
									<th class="text-center">{{# str}}time_start, local_ubonattend{{/ str}}</th>
									<th class="text-center">{{# str}}time_end, local_ubonattend{{/ str}}</th>
									<th class="text-center">
										{{# str}}time_study, local_ubonattend{{/ str}}
										<i class="fa fa-question-circle text-info" title="{{# str}}time_study_help, local_ubonattend{{/ str}}" data-toggle="tooltip" ></i>
									</th>
									<th class="text-center">
										<span class="cumulative-title">{{{cumulativeTitle}}}</span>
										<i class="fa fa-question-circle text-info cumulative-help" title="{{{cumulativeTitleHelp}}}" data-toggle="tooltip" ></i>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{# str}}close, local_ubion{{/ str}}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div class="modal modal-progress modal-track-detail" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">track detail</h4>
				</div>
				<div class="modal-body">
				
					<div class="moduleInfoTable"></div>
					 
					 
					<p class="form-text">trackid : <span class="trackid"></span></p>
					<p class="background-color-desc mb-3">
						{{{trackDetailBackgroundDesc}}}
					</p>
					
					<div class="table-responsive">
						<table class="progress_detail table table-bordered table-coursemos table-trackdetail">
							<colgroup>
								<col class="wp-50" />
								<col class="wp-80" />
								<col class="wp-80" />
								<col class="wp-100" />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th class="text-center">attempt</th>
									<th class="text-center">state</th>
									<th class="text-center">positionold</th>
									<th class="text-center">positionnew</th>
									<th class="text-center">time</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{# str}}close, local_ubion{{/ str}}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
