<div class="local-ubonattend">
	<form method="post" class="form-horizontal well form-setting" action="action.php">
		<input type="hidden" name="id" value="{{courseid}}" />
		<input type="hidden" name="sesskey" value="{{config.sesskey}}" />
		<input type="hidden" name="{{typename}}" value="sectionChange" />
		
		
		{{# isDisabled}}
		<p class="text-danger font-size-lg mb-3">{{# str}}course_end_message, local_ubonattend{{/ str}}</p>
		{{/ isDisabled}}
		<div class="table-responsive">
			<table class="table table-bordered table-coursemos table-sections">
				<colgroup>
					<col class="wp-50" />
					<col />
					<col />
					<col class="wp-80" />
					
					{{# isLate}}
					<col />
					<col class="wp-80" />
					{{/ isLate}}
					
					<col class="wp-80" />
				</colgroup>
				<thead>
					<tr>
						<th>{{# str}}week, local_ubonattend{{/ str}}</th>
						<th>{{# str}}attendance_start, local_ubonattend{{/ str}}</th>
						<th>{{# str}}attendance_end, local_ubonattend{{/ str}}</th>
						<th>{{# str}}attendance_percent, local_ubonattend{{/ str}}</th>
						
						{{# isLate}}
						<th>{{# str}}attendance_lateness, local_ubonattend{{/ str}}</th>
						<th>{{# str}}attendance_lateness_percent, local_ubonattend{{/ str}}</th>
						{{/ isLate}}
						
						<th>
							{{# str}}attendance_week_batch, local_ubonattend{{/ str}}
							
							<a href="#" data-content="{{# str}}attendance_week_batch_help, local_ubonattend{{/ str}}" data-toggle="popover" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-question-circle text-info"></i>
							</a> 
						</th>
					</tr>
				</thead>
				<tbody>
					{{# sections}}
					<tr class="section" data-section="{{section}}">
						<td class="text-center">{{section}}</td>
						<td class="text-center">
							<input type="text" 
									name="start_time_{{section}}" 
									class="required form-control form-datepicker wp-120 text-center d-inline" 
									readonly="readonly"
									value="{{time_start_ymd}}"
									placeholder="{{section}} : {{# str}}attendance_start, local_ubonattend{{/ str}}" 
									{{# isDisabled}}disabled="disabled"{{/ isDisabled}}
									/>
						</td>
						<td class="text-center">
							<input type="text" 
									name="end_time_{{section}}" 
									class="required form-control form-datepicker wp-120 text-center d-inline" 
									readonly="readonly" 
									value="{{time_end_ymd}}"
									placeholder="{{section}} : {{# str}}attendance_end, local_ubonattend{{/ str}}"
									{{# isDisabled}}disabled="disabled"{{/ isDisabled}} 
									/>
						</td>
						<td class="text-center">
							<input type="text" 
									name="attendance_percent_{{section}}" 
									class="required form-control wp-50 text-center d-inline number" 
									value="{{attendance_percent}}"
									placeholder="{{section}} : {{# str}}attendance_percent, local_ubonattend{{/ str}}"
									{{# isDisabled}}disabled="disabled"{{/ isDisabled}} 
									/>
						</td>
						
						{{# isLate}}
						<td class="text-center">
							<input type="text" 
									name="lateness_time_{{section}}" 
									class="required form-control form-datepicker wp-120 text-center d-inline" 
									readonly="readonly"
									value="{{time_lateness_ymd}}"
									placeholder="{{section}} : {{# str}}attendance_lateness, local_ubonattend{{/ str}}"
									{{# isDisabled}}disabled="disabled"{{/ isDisabled}} 
									/>
						</td>
						<td class="text-center">
							<input type="text" 
									name="lateness_percent_{{section}}" 
									class="required form-control wp-50 text-center d-inline number" 
									value="{{lateness_percent}}"
									placeholder="{{section}} : {{# str}}attendance_lateness_percent, local_ubonattend{{/ str}}"
									{{# isDisabled}}disabled="disabled"{{/ isDisabled}} 
									/>
						</td>
						{{/ isLate}}
						
						<td class="text-center">
							<input 
								type="checkbox" 
								name="force_{{section}}" 
								value="1" 
								{{# force_attendance}}checked="checked"{{/ force_attendance}}
								{{# isDisabled}}disabled="disabled"{{/ isDisabled}} 
								/>
						</td>
					</tr>
					{{/ sections}}
					
					{{^ sections}}
					<tr>
						<td colspan="{{colspan}}" class="p-4 text-center text-danger">{{# str}}notfound_week, local_ubonattend{{/ str}}</td>
					</tr>
					{{/ sections}}
				</tbody>
			</table>
		</div>
		
		{{^ isDisabled}}
			{{# sections.0}}
			<div class="text-center">
				<input type="submit" class="btn btn-primary btn-save" value="{{# str}}save, local_ubion{{/ str}}" />
			</div>
			{{/ sections.0}}
		{{/ isDisabled}}
		
	</form>
</div>