.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

svg .icon {
    font-family: FontAwesome;
}

.legend-line {
    white-space: nowrap;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
}


.user-progress .circliful { 
	max-height: 230px;
}

.user-progress .user-progress-well {
	background-color: #fff;
	border: 1px solid #ddd;
	
}

.user-progress .nav-tab-container {
    background-color: #f4f6f9;
    
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 0 -30px;
    height: 69px;
}

.user-progress .nav-tab-container .nav-tabs {
    border-bottom: 0;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.user-progress .nav-tab-container .nav-tabs::before {
	content: "";
	display: inherit;
}


.user-progress .nav-tabs + .user-progress-well,
.user-progress .nav-tab-container + .user-progress-well {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.user-progress .nav-tabs > li {
	float: none;
	flex: 1;
	text-align: center;
}

.user-progress .nav-tabs > li a { 
	color: #666;
	padding: 21px 30px 22px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 0;
	border-bottom: 4px solid transparent;
	margin: 0;
	border-radius: 0;
}

.user-progress .nav-tabs > li.active > a,
.user-progress .nav-tabs > li.active > a:hover,
.user-progress .nav-tabs > li.active > a:focus,
.user-progress .nav-tabs > li.active > a:active {
	border: 0;
	border-bottom: 4px solid #379dee;
	color: #4298ed;
	background-color: #f4f6f9;
}

.user-progress .nav-tabs > li > a:hover,
.user-progress .nav-tabs > li > a:focus
.user-progress .nav-tabs > li > a:active {
	border: 0;
	border-bottom: 3px solid transparent;
}

.user-progress .panel-group .panel { 
	border-radius: 0;
}

.user-progress .panel-group .panel + .panel {
	margin-top: 10px;
}

.user-progress .panel .panel-heading {
	padding: 14px 15px;
	background-color: white;
	border-color: #ddd;
}

.user-progress .panel.active {
	border-color: #1eacea;
}

.user-progress .panel.active .panel-heading {
	border-color: #1eacea;
}

.user-progress .panel .panel-heading .panel-title {
	color: #666;
	font-weight: bold;
	margin: 7px 0 6px 0;
}

.user-progress .panel .panel-heading .panel-title .fa {
	font-size: 14px;
	margin-left: 10px;
	margin-right: 18px;
	color: #567ed6;
}

.user-progress .panel .ul-activities {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.user-progress .panel .ul-activities .li-activity {
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #f9f9f9;
	border-top: 1px dotted #e7e7e7;
}

.user-progress .panel .ul-activities .li-activity a {
	color: #666;
	font-size: 16px;
}

.user-progress .panel .panel-body {
	padding-top: 0;
	padding-bottom: 0;
}

.user-progress .panel .ul-activities .li-activity:first-child {
	border-top: 0;
}

.user-progress .panel .ul-activities .li-activity .div-activityname {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.user-progress .panel .ul-activities .li-activity .div-activityname .mod-icon {
	margin: 0 7px;
}

.user-progress .panel .text-percent {
	color: #567ed6;
	font-size: 16px;
	font-weight: bold;
}

.user-progress .panel .panel-heading .text-percent .badge-percent {
	background-color: #f8b723;
	color: white;
	font-size: 16px;
	padding: 7px 10px;
	margin-bottom: 0;
	border-radius: 15px;
}


#page-local-vn-index #page-container #page-content .course-container {
	padding: 0;
}

.user-progress .userinfo {
	color: white;
	background: url([[pix:local_vn|bg]]) no-repeat right top, linear-gradient(to right, #00b6f0 50%, #d56fc9);  
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 70px;
}

.user-progress .userinfo .form-userinfo {
	padding: 21px 0;
}

.user-progress .userinfo .form-userinfo .form-group {
	margin-bottom: 0;	
}

.user-progress .userinfo .form-userinfo .control-label {
	padding-top: 7px;
	font-weight: normal;
}

.user-progress .userinfo .form-userinfo .form-control-static {
	font-weight: bold;
	font-size: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.user-progress .user-progress-well {
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
	border: 1px solid #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: -70px;
	margin-bottom: 30px;
}

.user-progress .user-progress-well .page-title {
	color: #444;	
}

.user-progress .user-progress-well .page-title .text-primary {
	color: #567ed6;
}

.user-progress .user-progress-well .btn-automove {
	background: #222;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    box-shadow: 1px 3px #e7e7e7;
}

@media (max-width: 767px) {
	.user-progress .user-progress-well {
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}	
	
	.user-progress .nav-tab-container {
		margin: 0 -15px;
		height: inherit;
	}
	
	.user-progress .panel .panel-heading .panel-title .fa {
		margin-right: 10px;
	}
	
	.user-progress .nav-tab-container .nav-tabs {
		flex-direction: column;
		border-bottom: 0;
	}
	
	.user-progress .nav-tabs > li {
		text-align: left;
		margin-bottom: 0;
	}
	
	.user-progress .nav-tabs > li a {
	    border-bottom: 1px solid #ddd;
	    padding-top: 23px;
    	padding-bottom: 23px;
	}
	
	.user-progress .nav-tabs > li > a:hover,
	.user-progress .nav-tabs > li > a:focus
	.user-progress .nav-tabs > li > a:active {
		border: 0;
		border-bottom: 1px solid #ddd;
	}
	
	.user-progress .nav-tabs > li.active > a,
	.user-progress .nav-tabs > li.active > a:hover,
	.user-progress .nav-tabs > li.active > a:focus,
	.user-progress .nav-tabs > li.active > a:active {
		border-bottom: 1px solid #379dee;
	}
	
	.user-progress .panel .panel-heading .text-percent .badge-percent {
		font-size: 12px;
		padding: 7px 5px;
	}
}