<form method="get" action="{{action}}" class="adminsearchform form-inline" role="search">
    <div class="input-group w-100">
        <label class="sr-only" for="adminsearchquery">{{label}}</label>
        <input class="form-control" type="text" name="query" value="{{searchvalue}}" id="adminsearchquery" size="10">
        <span class="input-group-btn">
    		<input type="submit" class="btn btn-default" value={{#quote}}{{#str}}search{{/str}}{{/quote}}>
    	</span>    
    </div>
</form>
