<div class="local-ubsend-message">
	<div class="userarea well">
		<div class="row">
			<div class="col-xs-6 text-left">
				<div class="float-none float-md-left mr-0 mr-md-3">
					<img src="{{{targetInfo.userpicture}}}" alt="{{targetInfo.fullname}}" width="80" />
				</div>
				<div class="userinfo">
					<h4 class="mt-3 mb-2">
						{{targetInfo.fullname}}
						
						{{#targetInfo.idnumber}}
						<small>({{targetInfo.idnumber}})</small>
						{{/targetInfo.idnumber}}
					</h4>
					<div>
						<button type="button" class="btn {{myContacts.class}} btn-sm btn-contact" data-type="{{myContacts.type}}">{{myContacts.text}}</button>
					</div>
				</div>
			</div>
			
			<div class="col-xs-6 text-right">
				<div class="float-none float-md-right ml-0 ml-md-3">
					<img src="{{{userInfo.userpicture}}}" alt="{{userInfo.fullname}}" width="80" />
				</div>
				<div class="userinfo">
					<h4 class="mt-3 mb-2">
						{{userInfo.fullname}}
						{{#userInfo.idnumber}}
						<small>({{userInfo.idnumber}})</small>
						{{/userInfo.idnumber}}
					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="message-history">
		<div class="messages well clearfix">
			{{{html}}}
		</div>
	</div>
	
	{{#isSend}}
	<form action="action.php" method="post" class="mfrom form-send well form-validate">
		<div class="row">				
			<div class="col-xs-12 col-md-9">
				<input type="hidden" name="{{coursemostype}}" value="send" />
				<input type="hidden" name="sesskey" value="{{config.sesskey}}" />
				<input type="hidden" name="to" value="{{targetInfo.id}}" />
				<textarea name="message" class="form-control form-control-message min-hp-100 required" placeholder="{{#str}}message, message{{/str}}"></textarea>
			</div>
			<div class="col-xs-12 col-md-3 mt-3 mt-md-0">
				<input type="submit" class="btn btn-primary btn-message-send hp-50 hp-md-100" value="{{#str}}sendmessage, message{{/str}}" />
			</div>
		</div>
	</form>
	{{/isSend}}
	
	<div class="text-center mt-3">
		<a href="{{{mainurl}}}" class="btn btn-default">{{#str}}message_list, local_ubsend{{/str}}</a>
	</div>
</div>
