<div class="local-ubsend-message">
	<form class="form-horizontal form-search well">
		<div class="form-group">
			<label class="control-label col-sm-3">{{#str}}mycontacts, local_ubsend{{/str}}</label>
			<div class="col-sm-9">
				<button type="button" class="btn btn-info btn-mycontacts">{{#str}}mycontacts, local_ubsend{{/str}}</button>
			</div>
		</div>
		
		{{# mycourses.0}}
		<div class="form-group">
			<label class="control-label col-sm-3">{{#str}}course{{/str}}</label>
			<div class="col-sm-9">
				<select name="courseid" class="form-control form-control-auto">
					<option value="">{{#str}}total{{/str}}</option>
					{{#mycourses}}
					<option value="{{id}}" {{#selected}}selected="selected"{{/selected}}">{{fullname}}</option>
					{{/mycourses}}
				</select>
			</div>
		</div>
		{{/ mycourses.0}}
		
		<div class="form-group">
			<label class="control-label col-sm-3">{{#str}}search{{/str}}</label>
			<div class="col-sm-9 form-inline">
				<select name="keyfield" class="form-control">
					{{#keyfields}}
					<option value="{{key}}" {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
					{{/keyfields}}
				</select>
				<input type="text" name="keyword" class="form-control" value="{{keyword}}" />
				<button type="submit" class="btn btn-default">{{#str}}search{{/str}}</button>
				
				{{#isSearch}}
				<a href="{{{baseurl}}}" class="btn btn-default">{{#str}}search_cancel, local_ubion{{/str}}</a>
				{{/isSearch}}
			</div>
		</div>
	</form>
	
	{{#deleteMessage}}
	<div class="alert alert-warning mt-5" role="alert">
		{{{deleteMessage}}}
	</div>
	{{/deleteMessage}}
	<div class="well well-message">
		{{#totalCount}}
			<ul class="media-list">
			{{#messages}}
				<li class="media">
					<div class="media-left">
						<img src="{{{userpicture}}}" alt="{{fullname}}" class="userpicture" />
					</div>
					
					<div class="media-body">
						<a href="{{{readurl}}}">
							<h4 class="media-heading">
								{{username}}
								
								{{#isNew}}
									{{#pix}}new, local_ubsend, new{{/pix}}
								{{/isNew}}
							</h4>
							<div class="time">
								{{date}}
							</div>
							<div class="msg">
								{{message}}
							</div>
						</a>
						<div class="tools">
							<button type="button" class="btn btn-xs btn-danger btn-delete" data-mtype="{{mtype}}" data-id="{{mid}}" data-username="{{username}}">
								<i class="fa fa-trash"></i>
							</button>
						</div>
					</div>
				</li>
			{{/messages}}
			</ul>
		{{/totalCount}}
		
		{{^totalCount}}
			{{#isSearch}}
				{{#str}}no_search_message, local_ubsend{{/str}}
			{{/isSearch}}
			
			{{^isSearch}}
				{{#str}}no_message, local_ubsend{{/str}}
			{{/isSearch}}
		{{/totalCount}}
	</div>
	
	<div class="modal modal-mycontacts" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title font-weight-bold">{{#str}}mycontacts, local_ubsend{{/str}}</h5>
				</div>
				<div class="modal-body">
					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>