<div class="local-ubsend-message">
	<div class="message-history">
		<div class="well">
			 {{#isNoReadUser}}
			 <div class="text-right">
			 	<button type="button" class="btn btn-default btn-send-all-cancel">{{#str}}group_message_all_cancel, local_ubsend{{/str}}</button>
			 </div>
			 {{/isNoReadUser}}
			 
			 <div class="container-fluid">
				<div class="row">
					{{#users}}
					<div class="col-xs-12 col-md-4 col-lg-3 my-2 col-user" >
						<img src="{{{userpicture}}}" alt="{{fullname}}" class="" />
						{{fullname}}
						
						{{#readDate}}
						<span class="ml-1 readdate" data-toggle="tooltip" title="{{readDate}}">({{readDateShort}})</span>
						{{/readDate}}
						
						{{^readDate}}
						<button type="button" class="nobtn btn-send-cancel text-danger" data-touserid="{{useridto}}">
							<i class="fa fa-remove"></i>
						</button>
						{{/readDate}}
					</div>
					{{/users}}			    
				</div>
			</div>
		</div>
		<div class="messages well clearfix">
			{{{html}}}
		</div>
	</div>
</div>