<div class="contacts">
	<form action="mycontact.php" action="get" class="form-horizontal mb-3">
		<div class="form-inline">
			<input type="text" name="keyword" class="form-control mb-2 mb-md-0" value="{{keyword}}" placeholder="{{#str}}fullnameuser{{/str}}" />
			<input type="hidden" name="oldkeyword" value="{{keyword}}" />
			<button type="submit" class="btn btn-default">{{#str}}search{{/str}}</button>
		</div>
	</form>
	<table class="table table-bordered table-coursemos">
		<colgroup>
			<col class="wp-50" />
			<col class="wp-100" />
			<col />
		</colgroup>
		<thead>
			<tr>
				<th>{{#str}}number, local_ubion{{/str}}</th>
				<th>{{#str}}userpic{{/str}}</th>
				<th>{{#str}}fullnameuser{{/str}}</th>
			</tr>
		</thead>
		<tbody>
			{{#totalCount}}
			{{#contacts}}
			<tr>
				<td class="text-center">{{number}}</td>
				<td class="text-center">
					<img src="{{{userpicture}}}" alt="{{fullname}}" class="userpic" />
				</td>
				<td>
					<a href="{{{messageurl}}}">
						{{fullname}}
						
						{{#idnumber}}
						<small>({{idnumber}})</small>
						{{/idnumber}}
					</a>
				</td>
			</tr>
			{{/contacts}}
			{{/totalCount}}
			
			{{^totalCount}}
			<tr>
				<td class="text-center" colspan="3">{{#str}}no_mycontacts, local_ubsend{{/str}}</td>
			</tr>
			{{/totalCount}}
		</tbody>
	</table>
	
	<div class="paging">
		{{{paging}}}
	</div>
</div>