<div class="heading clearfix">
	<h4 class="day">
		<span class="dayname">{{#userdate}} {{timecreated}}, {{#str}} strftimedaydate {{/str}} {{/userdate}}</span>
		
		{{^isGroup}}
		<button type="button" class="btn btn-xs btn-danger btn-day-delete" data-day="{{#userdate}} {{timecreated}}, %Y%m%d{{/userdate}}">
			<i class="fa fa-trash"></i>
		</button>
		{{/isGroup}}
	</h4>
	
</div>