<div class="{{class}} message-fromto" data-timecreated="{{timecreated}}">
	<div class="message">
		<div class="arrow"></div>
		<a name="m{{id}}"></a>
		{{^isGroup}}
		<div class="buttons">
		{{{buttonHtml}}}
		</div>
		{{/isGroup}}
		
		<div class="time" title="{{time}}">{{twitterTime}}</div>
		<div class="content">{{{message}}}</div>
		
		{{#timeReadText}}
		<div class="readtime">{{{timeReadText}}}</div>
		{{/timeReadText}}
	</div>
</div>