#econtents_container #econtents-hd { cursor: move; }
#econtents_container #econtents-hd .close { 
    color: white;     
    opacity: inherit;
    filter: alpha(opacity=100);
    text-shadow: inherit;
    margin-top: 2px;
}

#econtents_container #econtents-bd { padding: 25px; max-height: inherit; }

#econtents_container .pageinfo { border-bottom:1px solid #000; position:relative; }
#econtents_container .pageinfo .name { font-size:18px; color:#333333; margin:0 0 18px 0; }
#econtents_container .pageinfo .name .count { color:#d1412e; }
#econtents_container .pageinfo .name .refresh { position:relative; top:-1px; cursor: pointer; }
#econtents_container .pageinfo .econtents_search { position: relative; top:-6px; }


/**********
 * econtents header 색상 변경
 **********/
 #econtents_container .modal-header { background-color:[[setting:headercolor]]; color:white; }


/* 뷰어 */


#viewer .viewer-header { 
    height:50px; 
    background-color: [[setting:headercolor]]; 
    color:white;
    position: fixed;
    width: 100%;
}

#viewer .viewer-header .viewer-close { float: right; }

#viewer .viewer-header .viewer-close .btn-close { 
    background: transparent; 
    border-radius: 0; 
    border: 0; 
    padding: 10px; 
    cursor: pointer; 
    margin: 5px 10px; 
} 

#viewer .viewer-header .viewer-title { 
    margin: 0; 
    padding: 17px 16px 18px; 
    font-size: 14px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#viewer .viewer-content {
    position: fixed; 
    top: 51px; 
    bottom: 0; 
    width: 100%;
}

#viewer .viewer-content iframe { border:0; width: 100%; }
#viewer .viewer-content .alert-message { 
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    border: 0;
    color: white;
    cursor: pointer;
    padding-right: 65px;
}

#viewer .viewer-content .alert-danger {   
    background: rgba(255, 80, 80, 0.8) url('[[pix:mod_econtents|layer/viewer-message-bg]]') no-repeat right 10px center;
}


#viewer .viewer-footer {
    height: 45px; 
    background-color: #17181a; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: right;
}

#viewer .viewer-footer .progress-date {
    color: white; 
    text-align: left;
    font-size: 12px;
}
