{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/activityinstance

    Activity completion selector.

    Example context (json):
    {
        "activities": [{
            "cmid": "4",
            "modname": "Test activity",
            "icon": "https://raw.githubusercontent.com/moodle/moodle/master/mod/feedback/pix/icon.png",
            "completionstatus": {
                "string": "Manual",
                "icon": "https://raw.githubusercontent.com/moodle/moodle/master/pix/i/completion-manual-enabled.png"
            }
        }]
    }
}}
{{#activities}}
<div class="row m-b-1 row-fluid">
    <div class="activityinstance col-xs-7">
        <div class="mod-indent-outer"></div>
        <div>
        	<label class="checkbox-inline">
	            {{#canmanage}}
	            <input type="checkbox" id="selectactivity_{{cmid}}" class="m-r-1" name="cmid[]" data-section="{{sectionnumber}}" value="{{cmid}}" aria-label="{{#str}}checkactivity, completion, {{{modname}}}{{/str}}">
	            {{/canmanage}}
	            
	            <a href="{{url}}">
		            <img src="{{icon}}" class="iconlarge activityicon" alt=" " role="presentation" />
		            <span class="instancename">{{{modname}}}</span>
	            </a>
            </label>
        </div>
    </div>
    <div class="activity-completionstatus col-xs-5" id="completionstatus_{{cmid}}">
        <label class="checkbox-inline pl-0 cursor-none">
            {{#completionstatus.icon}}
                {{{completionstatus.icon}}}
            {{/completionstatus.icon}}
            {{^completionstatus.icon}}
                <span class="m-r-3"></span>
            {{/completionstatus.icon}}
        
            <span class="text-muted muted">{{{completionstatus.string}}}</span>
        </label>
    </div>
</div>
{{/activities}}
