{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/editdefaultcompletion

    Edit default module completion screen

    Example context (json):
    {
        "form": "<form><p>Placeholder for the form</p></form>",
        "modulescount": 1,
        "modules": [{
            "id": "10",
            "formattedname": "Assignment",
            "icon": "https://raw.githubusercontent.com/moodle/moodle/master/mod/assign/pix/icon.png"
        }]
    }
}}
<p class="my-3">{{#str}}modifybulkactions, completion{{/str}}</p>
{{{form}}}
<hr />
<p class="mt-3">{{#str}}affectedactivities, completion, {{modulescount}}{{/str}}</p>
<div class="container-fluid">
    <div class="modules">
        <div class="row">
            {{#modules}}
                <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2 my-2">
                    <img src="{{icon}}" alt=" " role="presentation" />
                    <span>{{{formattedname}}}</span>
                </div>
            {{/modules}}
        </div>
    </div>
</div>
