@charset "utf-8";
/* CSS Document */

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("layout.css");

/****************************************************************************************************************
common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select { margin:0; padding:0; }
body,input,textarea,select,button,table { color:#666; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; font-family: 'Nanum Gothic', 'nanumgothic' ; }
body { background-color:#f7f9fa; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; margin:0; padding:0; }
button, p, ul, ol, input, textarea { margin:0; padding:0; font-family: 'Nanum Gothic'; }

ul,ol{list-style:none}
em,address{font-style:normal}
img,fieldset { border:0; }
a { text-decoration:none; color:#666; }
a:hover,a:active,a:focus { text-decoration:none; }
div,p,input,select { box-sizing:border-box; }


