@charset "utf-8";
/* CSS Document */

@import url("layout.css");
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/****************************************************************************************************************
 fonts */

/*
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/

/****************************************************************************************************************
common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select { margin:0; padding:0; }
body,input,textarea,select,button,table { color:#666; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; font-family: 'Nanum Gothic'; }
body { background-color:#f7f9fa; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; margin:0; padding:0; }
button, p, ul, ol, input, textarea { margin:0; padding:0; font-family: 'Nanum Gothic'; }

ul,ol{list-style:none}
em,address{font-style:normal}
img,fieldset { border:0; }
a { text-decoration:none; color:#666; }
a:hover,a:active,a:focus { text-decoration:none; }
div,p,input,select { box-sizing:border-box; }
