@charset "utf-8";
/* CSS Document */

/************************************************************************************************************
browser_info_popup */
.browser_info_popup { width:640px; height:630px; font-weight:600; }
.browser_info_popup_inner { padding:25px 35px; }
.browser_info_popup_title { color:#fff; font-size:28px; text-align:center; background-color:#333; line-height:65px; }

.browser_info_popup_grey { color:#333; }
.browser_info_popup_green { color:#719e2a; }
.browser_info_popup_blue { color:#0370a6; }
.browser_info_popup_orange { color:#f0670b; }
.browser_info_popup_dot { width:4px; height:4px; background-color:#2ac4f4; display:block; float:left; margin:8px 5px 0 0; }

.browser_info_popup_txt01 { color:#333; font-size:18px; line-height:26px; margin-bottom:20px; }
.browser_info_popup_txt02 { color:#666; font-size:14px; line-height:20px; margin-bottom:5px; }
.browser_info_popup_txt03 { color:#fff; font-size:14px; background-color:#2ac4f4; padding:2px 3px; margin-left:75px; }
.browser_info_popup_txt04 { color:#333; font-size:14px; line-height:24px; border-top:1px #dedede solid; margin:25px 0; padding-top:25px; }
.browser_info_popup_txt04 .browser_info_popup_blue { border-bottom:1px #0370a6 solid; }

.browser_box { background-color:#f4f4f4; border:1px #dedede solid; font-size:14px; line-height:18px; text-align:center; padding:20px 25px; }
.browser_box li { display:inline-block; cursor:pointer; margin-top:15px; }
.browser_box a { display:block; width:100px; padding-top:70px; }
.browser_box a:hover { text-decoration:underline; color:#0370a6; }
.browser_box .browser_icon01 { background:url(../images/b_chrome.png) no-repeat center top; }
.browser_box .browser_icon02 { background:url(../images/b_firefox.png) no-repeat center top; }
.browser_box .browser_icon03 { background:url(../images/b_ie.png) no-repeat center top; }
.browser_box .browser_icon04 { background:url(../images/b_safari.png) no-repeat center top; }
.browser_box .browser_icon05 { background:url(../images/b_opera.png) no-repeat center top; }


/************************************************************************************************************
compatibility_popup */
.compatibility_popup { width:770px; height:630px; font-weight:600; }
.compatibility_popup_inner { height:630px; padding:25px 35px; font-size:14px; color:#555; line-height:20px; overflow-y:scroll;  }
.compatibility_popup_title { color:#fff; font-size:28px; text-align:center; background:url(../images/icon_ie.png) no-repeat 35px 15px #333; line-height:65px; }

.compatibility_popup_dot { width:4px; height:4px; background-color:#2ac4f4; display:block; float:left; margin:8px 5px 0 0; }
.compatibility_popup_bgblue { color:#fff; background-color:#2ac4f4; }
.compatibility_popup_bggreen { color:#fff; background-color:#92c83e; }
.compatibility_popup_orange { color:#f0670b; }
.compatibility_popup_line { height:1px; background-color:#dbdbdb; margin-top:30px; }

.compatibility_popup_txt01 { font-size:16px; font-weight:600; color:#333; margin-bottom:10px; }
.compatibility_popup_txt02 { color:#666; line-height:26px; margin:30px 0 15px; }