.local-ubnotification .description { margin-bottom:14px; }

.local-ubnotification .nodata { padding:20px; }
.local-ubnotification .media { border-top:1px solid #ebebeb; padding:15px; margin:0px; }
.local-ubnotification .media .media-left { padding-right:20px; }
.local-ubnotification .media:first-child { border-top:0px; }
.local-ubnotification .media a { display:block; text-decoration:none; }
.local-ubnotification .media .text-through { text-decoration:line-through; cursor:not-allowed; }
.local-ubnotification .media-heading { color:[[setting:fontcolor]]; margin-top:4px; margin-bottom:3px; font-weight:bold; }
.local-ubnotification h4.media-heading { font-size:16px; }
.local-ubnotification .media-body p.timeago { color:#999; font-size:12px; margin-bottom:10px; }
.local-ubnotification .media-body p { color:#666; margin-bottom:0px; }