
@media (max-width: 767px) {
    .coursemos-admin #page-header .toggler { display:inline; }
	.coursemos-admin #coursemos-side-menu { width:0; }
    .coursemos-admin #coursemos-content { margin-left:0; }
    
    .coursemos-admin.coursemos-menu-show #coursemos-side-menu {
        width:220px;
        z-index:1003;
    }
    
    .coursemos_menu_backdrop {
		position:fixed;
		left:0;
		top:0;
		bottom:0;
		z-index:990;
		width:100%;
		height:100%;
		background:#eee;
		opacity: .8;
        filter: Alpha(Opacity=80);
	} 
	
	
	#coursemos-content .content-breadcrumb { padding:20px 1rem; }
	#coursemos-content .content_wrap { margin:15px; }
	
	.nav-tabs.nav-submenu {
        margin-bottom: 2rem;	
	}
	
	.nav-tabs.nav-submenu li .nav-link {
        background-color: white;
        border:1px solid #dddddd;
        border-radius:0; 
	}
	
	.nav-tabs.nav-submenu li.active .nav-link {
        border-bottom-color:#ddd;
	}
	
	.coursemos-admin .content-submenu { padding: 0; }
	.coursemos-admin .content-content { margin: 0; }
	
	.coursemos-admin .content-submenu + .content-content { border-top: 1px solid #e3e3e3;}
}


/* @media (min-width: 576px) { */
    .modal-dialog { margin-top:90px; }
/* } */