.coursemos-admin { background-color:#f5f7fa; margin-left:0; }
.coursemos-admin .text-coursemos { color:#656565; }
.coursemos-admin select { width: auto;}

.coursemos-admin .well { background-color: #f5f5f5; border: 1px solid #e3e3e3; }

.coursemos-admin .form-search .form-group:last-child { margin-bottom: 0; }

.coursemos-admin #page-header { height:60px; }
.coursemos-admin #page-header .toggler { 
    display: none;
    margin-right: 5px;
    font-size: 24px;
    padding: 6px 12px;
    margin-left: -6px;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    color: white;    
}
.coursemos-admin #page-header .sitename { color:white; vertical-align: middle; font-size:18px; line-height:46px; }

.coursemos-admin #page-header .icons { margin-top:10px; }
.coursemos-admin #page-header .icon-button {
    color:white;
    text-decoration: none;
    outline:none;
    margin-left: 20px;
    font-size: 18px;
}

.coursemos-admin #coursemos-side-menu { 
    width: 220px;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    overflow: hidden;
    z-index: 9; 
    background:white;
    overflow-y:auto;
    transition: width .2s cubic-bezier(.35,0,.25,1);
}
.coursemos-headroom-unpin.coursemos-admin #coursemos-side-menu {
    top:0;
}
 
.coursemos-admin #coursemos-side-menu:after {
    content: "";
    background: rgba(0,0,0,.15);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
}

#coursemos-side-menu .menu { 
    list-style:none; 
    padding-left:0px;
}
#coursemos-side-menu .menu li { position:relative; display:block; font-size:.9rem; }

#coursemos-side-menu .menu li a { color:#515253; }
#coursemos-side-menu .menu li a,
#coursemos-side-menu .menu li a:hover,
#coursemos-side-menu .menu li a:active,
#coursemos-side-menu .menu li a:focus { text-decoration:none; outline:none; }

#coursemos-side-menu .menu > li { border-left:3px solid transparent; transition:border-left-color .4s ease; }
#coursemos-side-menu .menu > li > a { padding:15px 20px; color:#515253; display:block; }
#coursemos-side-menu .menu > li > a.dropmenu:after { 
    position: absolute;
    right: 5px;
    width: 20px;
    font-family: FontAwesome;
    content: "\f105";
    font-weight:bold;
}

#coursemos-side-menu .menu > li.open > a.dropmenu:after {
    content: "\f107";
}



#coursemos-side-menu .menu > li:hover,
#coursemos-side-menu .menu > li.open { background-color:#fcfcfc; }
#coursemos-side-menu .menu > li.open.active { border-left-color:#23b7e5; }

#coursemos-side-menu .menu > li.open > a { color:#23b7e5; }


#coursemos-side-menu .menu .side-menu-sub { padding-left:0; display:none; position:relative; }
#coursemos-side-menu .menu .side-menu-sub:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 16px;
    bottom: 16px;
    border-left: 1px solid #e2e2e2;
}
#coursemos-side-menu .menu .side-menu-sub a { padding: 10px 10px 10px 40px; text-transform: none; display:block; }
#coursemos-side-menu .menu .side-menu-sub a .fa-minus:before { font-size:6px; margin-right:10px; }

#coursemos-side-menu .menu .side-menu-sub a:hover,
#coursemos-side-menu .menu .side-menu-sub a.active { color:#23b7e5; }

#coursemos-side-menu .menu .side-menu-sub a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 23px;
    top: 16px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    z-index: 2;
}

#coursemos-side-menu .menu .side-menu-sub a.active:before {
    border-color:#23b7e5;
}

/*#coursemos-side-menu .menu > li:hover ul,*/
#coursemos-side-menu .menu > li.open ul { display:block; }





.coursemos-admin #coursemos-content {
    margin-left:220px;
}


#coursemos-content .content-breadcrumb { background-color:white; border-bottom:1px solid #cfdbe2; padding:20px 2rem; }
#coursemos-content .content-breadcrumb a { color:#676a6c; }
#coursemos-content .content-breadcrumb h2 { font-size: 24px; margin:0 0 10px 0; font-weight:400; color:#929292; }
#coursemos-content .content-breadcrumb .breadcrumb { padding:8px 15px; margin-bottom:0px; }
#coursemos-content .content-breadcrumb .breadcrumb .breadcrumb-item:before {
    color:#ccc; 
}
#coursemos-content .content-breadcrumb .breadcrumb .breadcrumb-item > .dropdown { display:inline-block; }

#coursemos-content .content_wrap { 
    
}

#coursemos-content .content-footer { margin: 0 20px; }


.coursemos-admin.coursemos-menu-collapsed #coursemos-side-menu { width:0; }
.coursemos-admin.coursemos-menu-collapsed #coursemos-content { margin-left:0; }


.coursemos-admin .content-submenu { padding:20px 20px 0 20px; }
.nav-tabs.nav-submenu { }
.nav-tabs.nav-submenu li { background:none; border:none; }
.nav-tabs.nav-submenu li .nav-link { 
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}
.nav-tabs.nav-submenu li.active .nav-link {
    background: white;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.coursemos-admin .content-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: white; 
}

.coursemos-admin .content-submenu + .content-content { border-top: 0; margin-top:0; }

.coursemos-admin.coursemos-admin-content-transparent .content-content { background:transparent; border:0; padding:10px;}


#coursemos-content .etc-icon-btn { margin: 3px 8px; text-align: center; display:inline-block; }