.ubboard { }

.ubboard h2 { margin-bottom:1.5rem; }

.ubboard span.search { background-color:red; color:yellow; }

.ubboard table .noarticles { padding:1rem; }
.ubboard table select.form-control-category { max-width:70px; }

.ubboard table.table tr.active td { background-color:#f5f5f5; }

.ubboard .article-subject { margin: 0px; background-color: #f7f7f7; color: #343434; border-top: 2px solid black; height: 50px; border-bottom: 1px solid #bababa; }
.ubboard .article-subject h3 { margin: 0px; text-align: center; padding: 1rem; font-size:1rem; font-weight: bold; }
.ubboard .article-info { border-bottom:1px solid #bababa; }
.ubboard .article-info .col-info { padding-top:8px; padding-bottom:8px; }
.ubboard .article-files { padding:8px 15px; border-bottom:1px solid #bababa; }
.ubboard .article-files .files { list-style:none; margin:0px; }
.ubboard .article-files .files li { margin-bottom:5px; }

.ubboard .article-content { padding:20px; }
.ubboard .article-content .lightbox_image  img { max-width:100%; }

.ubboard .coursemos-sortable .orders { cursor: move; }

.ubboard .modal select.form-control { max-width:100%; }

/* comment */
#ubboard-comment .form-control-comment { width:100%; height:80px; }
#ubboard-comment .comment-lists { margin-bottom: 10px; border-bottom: 1px solid #d7d7d7; padding-bottom: 10px;}
#ubboard-comment .comment-lists:last-child { border-bottom:0px; }
#ubboard-comment .comment-lists .userinfo { margin-bottom:10px; }
#ubboard-comment .comment-lists .info { margin-right: 10px; font-size: .9em; color: #6D6D6D; }


#form-comment-clone { margin-top:15px; width:100%; }
#form-comment-clone .well-comment-form { background-color:#f5f5f5; }


/* mobile 화면 */
.ubboard-mobile .lists .list-group-item .list-group-item-heading { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:1rem; }
.ubboard-mobile .lists .list-group-item .list-group-item-text { color: #808080; font-size: .9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0px;}
.ubboard-mobile .lists .list-group-item.active { background-color: #eee; border-color: #ddd;}

.ubboard_mobile .lists .list-group-item .commentcount { font-weight:normal; font-size:.9rem; color:#808080; }
.ubboard_mobile .lists .list-group-item .list-group-item.noarticles { padding:20px; }

/* 공유 selectbox */
.ubboard .modal-share select.form-control { width:100%; }

.ubboard .panel-share { margin-top:20px; }
.ubboard .panel-share .panel-body { max-height:150px; overflow-y:auto; }
.ubboard .panel-share .panel-body ul li { list-style-position: inside; }