{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/event_list

    Calendar event list.

    The purpose of this template is to render a list of events.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div class="eventlist m-y-1">
    {{#events}}
        {{> core_calendar/event_item }}
    {{/events}}
    {{^events}}
        <div class="calendar-information calendar-no-results well">
            {{#str}}daywithnoevents, calendar{{/str}}
        </div>
    {{/events}}
</div>