{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/event_item

    Calendar event item.

    The purpose of this template is to render the event item.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div{{!
    }} data-type="event"{{!
    }} data-course-id="{{course.id}}"{{!
    }} data-event-id="{{id}}"{{!
    }} class="event"{{!
    }} data-eventtype-{{calendareventtype}}="1"{{!
    }} data-event-title="{{name}}"{{!
    }} data-event-count="{{eventcount}}"{{!
    }}>
    <div class="well">
        <div class="box clearfix py-1">
            <div class="commands pull-xs-right">
                {{#canedit}}
                    {{#candelete}}
                        <a href="{{deleteurl}}" data-action="delete">
                            {{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}
                        </a>
                    {{/candelete}}
                    <a href="{{editurl}}" data-action="edit">
                        {{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}
                    </a>
                {{/canedit}}
            </div>
            {{#icon}}{{#pix}} {{key}}, {{component}}, {{alttext}} {{/pix}}{{/icon}}
            <h3 class="name d-inline-block m-0 align-middle">{{name}}</h3>
            <span class="date pull-xs-right mr-1">{{{formattedtime}}}</span>
        </div>
        <div class="description calendar_event_{{eventtype}}">
            <p>{{{description}}}</p>
            {{#iscourseevent}}
                <div><a href="{{url}}">{{course.fullname}}</a></div>
            {{/iscourseevent}}
            {{> core_calendar/event_subscription}}
            {{#isactionevent}}
                <a href="{{url}}">{{#str}} gotoactivity, core_calendar {{/str}}</a>
            {{/isactionevent}}
            {{#groupname}}
                <div><a href="{{url}}">{{{course.fullname}}}</a></div>
                <div>{{{groupname}}}</div>
            {{/groupname}}
        </div>
    </div>
</div>
