.local-ubmenu { }


body.dragging, body.dragging * {
  cursor: move !important; 
}

.local-ubmenu-management .dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; 
}

.local-ubmenu-management ul.menu {
  margin: 0 0 9px 0;
  min-height: 10px; 
  padding-left: 0;
}

.local-ubmenu-management ul.menu li {
    display: block;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: #0088cc;
    /*background: #eeeeee;*/
    background:white;
}

.local-ubmenu-management ul.menu li li { background-color:#eee; }

.local-ubmenu-management ul.menu li .menu-actions { float:right; position:relative; top: -35px;}
.local-ubmenu-management ul.menu li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}
.local-ubmenu-management ul.menu li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; 
}

.local-ubmenu-management ul.menu ul { margin-top:15px; margin-left:2rem; }
.local-ubmenu-management ul.menu ul .menu-actions .btn-menu-insert { display:none; }
.local-ubmenu-management ul.menu .menu-actions .btn { border-radius:0px; margin:0 1px; padding:3px 8px; font-size:12px; }
.local-ubmenu-management ul.menu .menu-name { margin-left:5px; }
.local-ubmenu-management ul.menu .menu-url { margin-left:15px; color:#666; font-size:.9rem; }
.local-ubmenu-management ul.menu .menu-lang { margin-left: 15px; color: #666; font-size: 12px;}
.local-ubmenu-management ul.menu .menu-lang .menu-lang-title { margin-right: 5px; }
.local-ubmenu-management ul.menu .menu-label { margin-left:15px; }
.local-ubmenu-management ul.menu .menu-label .label { margin-right:5px;}
.local-ubmenu-management ul.menu .moveicon { cursor: move; }
.local-ubmenu-management ul.menu span.label { margin-right:5px; }
.local-ubmenu-management ul.menu .menuHide { /*background:rgba(238,238,238, 0.7);*/ }

.local-ubmenu-management .actions { margin-top:50px; }
.local-ubmenu-management .actions .div-save { display:none; }
#modal-menu .modal-body { max-height:550px; overflow-y:auto; }

@media (max-width: 767px) {
    .local-ubmenu-management ul.menu ul { margin-left:.5rem; }
    
    .local-ubmenu-management ul.menu li .menu-actions { float:none; margin-left:15px; position:inherit; top:inherit; right:inherit; }
    .local-ubmenu-management ul.menu .menu-actions .btn { padding:1px 5px; }    
}