// bootstrap-tabs
$responsivetabs-btn-background: #f2f2f2 !default;

.responsive-tabs-container {
    position: relative;

    .responsive-tabs {
        padding-right: 102px;
        float: left;
        width: 100%;
        border-bottom: 0;


        .js-tab {
            .nav-link {
                text-align: center;
                @include text-overflow;
                margin-right: 0;
                border-top: 0;
                border-radius: 0;
            }
        }
    }


    .tabs-dropdown {
        position: absolute;
        right: 0;
        margin-right: 0 !important;

        &.navbar-nav {
            margin: 0 !important;
        }


        .dropdown-toggle {
            width: 102px;
            text-align: center;
            border: none;
            border-right: 1px solid $nav-tabs-active-link-hover-border-color;
            @include text-overflow;

            padding: 10px 0;
            background: #f2f2f2;
            margin-left: 2px;
            cursor: pointer;

            .count {
                margin-right: 5px;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $responsivetabs-btn-background;
                border-color: $nav-tabs-active-link-hover-border-color;
                box-shadow: none;
            }
        }


        .dropdown-menu {
            max-width: 120px;
            max-height: 200px;
            overflow-y: auto;

            .dropdown-header {
                display: none;
                padding: 3px 20px;
                line-height: $line-height-base;
                color: #999;
            }

            .js-tab {
                margin: 5px 0;
            }
            .nav-link {
                @include text-overflow;
            }
        }
    }


    // prev next 버튼을 사용하는 경우
    &.responsive-tabs-nav {
        padding-left: 25px;
        border-top: 1px solid $nav-tabs-active-link-hover-border-color;

        .responsive-tabs {
            padding-right: 127px;
        }

        .btn-nav {
            position: absolute;
            padding: 10px 0 9px 0;
            text-align: center;
            width: 25px;
            outline: none;
            background-color: $responsivetabs-btn-background;
            border-radius: 0;
            border-bottom: 1px solid $nav-tabs-active-link-hover-border-color;

            &:active {
                box-shadow: none;
            }

            &.disabled {
                cursor: not-allowed;

                &:focus {
                    box-shadow: none;
                }
            }

            &.btn-nav-prev {
                left: 0;
                border-left: 1px solid $nav-tabs-active-link-hover-border-color;
                border-right: 1px solid $nav-tabs-active-link-hover-border-color;
            }

            &.btn-nav-next {
                right: 102px;
                border-left: 1px solid $nav-tabs-active-link-hover-border-color;
                border-right: 1px solid $nav-tabs-active-link-hover-border-color;
            }
        }


        // 화면내에 탭이 모두 표시가 되어서 prev, next, moretab 항목이 표시가 불필요한 경우
        &.responsive-tabs-nav-hide {
            padding-left: 0;
            padding-right: 0;

            .tabs-dropdown {
                display: none;
            }
            .btn-nav {
                display: none;
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .responsive-tabs-container .tabs-dropdown {
        .dropdown-menu {
            position: fixed;
            top: 70px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            padding-top: 50px;
            overflow: hidden;
            overflow-y: auto;
            max-width: inherit;
            max-height: inherit;

            .dropdown-header {
                display: block;
                position: fixed;
                left: 21px;
                right: 21px;
                margin-top: -50px;
                padding-top: 14px;
                background-color: white;

                .close {
                    position: absolute;
                    top: 14px;
                    right: 25px;
                }

                .divider {
                    margin: 0;
                }
            }
        }
    }

}