/* sortable */
body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}

.table-coursemos-sortable,
.coursemos-sortable {
    tr.placeholder {
        position: relative;
        background-color: red;
        display: block;

        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            margin-top: -5px;
            left: -5px;
            border: 5px solid transparent;
            border-left-color: red;
            border-right: none;
        }
    }

    li.placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;

        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            margin-top: -5px;
            top: -4px;
            left: -5px;
            border: 5px solid transparent;
            border-left-color: red;
            border-right: none;
        }
    }
}
