.vjs-text-track-settings .vjs-track-settings-colors, 
.vjs-text-track-settings .vjs-track-settings-font, 
.vjs-text-track-settings .vjs-track-settings-controls {
    display: block;
}


.vjs-text-track-settings select { 
    color: black;
    padding: 3px;
}

.vjs-text-track-settings legend {
    font-size: 18px;
}

.vjs-track-settings-controls button {
    padding: 5px 8px;
    
}