.report_statistics { }

.report_statistics .search form { margin-bottom:0px; }
.report_statistics .search .control-group:last-child { margin-bottom:0px; }

.report_statistics .course_status { margin:30px 0; }

.report_statistics table thead th { text-align:center; }

.report_statistics .user_statistics { overflow:auto; }
.report_statistics .user_statistics table { margin-bottom:0px; position:relative; }
.report_statistics .user_statistics thead th,
.report_statistics .user_statistics tbody td { vertical-align:middle; }

.report_statistics .user_statistics thead .th_moduleicon { border-top:1px solid #e1e1e1; }
.report_statistics .user_statistics thead .th_rw { font-weight:normal; min-width:50px; font-size:12px; }

.report_statistics .user_statistics .fixedcolumn { z-index:2; }

.report_statistics .user_statistics .table-statistics { clear: none; float: left;}
.report_statistics .user_statistics .table-statistics .number { width:50px; }
.report_statistics .user_statistics .table-statistics .department { max-width:100px; }
.report_statistics .user_statistics .table-statistics td.idnumber { min-width:100px; width:100px; font-size:12px; }
.report_statistics .user_statistics .table-statistics .fullname { max-width:120px; }
.report_statistics .user_statistics .table-statistics .group { width:80px; }

.report_statistics .user_statistics .table-statistics col.resource { min-width:50px; width:50px; }
.report_statistics .user_statistics .table-statistics .border_line { border-left:1px solid #777; }
.report_statistics .user_statistics .table-statistics .activity_line { border-left:1px solid #ccc; }


.report_statistics .ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.report_statistics .logdetail { cursor:pointer; }

.report_statistics dl,
.report_statistics dd { margin-bottom:0; }
.report_statistics dl.sections { border:1px solid #e9e9e9; border-bottom:0; }
.report_statistics dl.sections > dt { background-color:#f7f7f7; border-bottom:2px solid #aaa; padding:1rem; }
.report_statistics dl.activities > dt { border-bottom:1px dashed #bbb; padding:0.8rem 1rem; font-weight:normal; }
.report_statistics dl.activities dd.nomodules { border-bottom:2px solid #bbb; padding:0.8rem; }
.report_statistics dl.activities .row { margin:0; }

.report_statistics dl.counts { padding:0; font-size:0.9rem; }
.report_statistics dl.counts dt { text-align:center; border-right:1px dashed #bbb; border-bottom:1px dashed #bbb; font-weight:normal; padding:0.3rem; }
.report_statistics dl.counts dd { text-align:center; border-bottom:2px solid #bbb; border-right:1px dashed #bbb; padding:0.3rem; line-height:2rem; } 
.report_statistics dl.counts:last-child dt,
.report_statistics dl.counts:last-child dd { border-right:0; } 