// 필요시 pix값 더 추가해주시면 됩니다.
$coursemos-sizes: (
    10: 10px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    70: 70px,
    80: 80px,
    90: 90px,
    100: 100px,
    110: 110px,
    120: 120px,
    130: 130px,
    140: 140px,
    150: 150px,
    160: 160px,
    170: 170px,
    180: 180px,
    190: 190px,
    200: 200px,
    210: 210px,
    220: 220px,
    230: 230px,
    240: 240px,
    250: 250px,
    260: 260px,
    270: 270px,
    280: 280px,
    290: 290px,
    300: 300px,
    310: 310px,
    320: 320px,
    330: 330px,
    340: 340px,
    350: 350px
) !default;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    @each $prop, $abbrev in (min-width: min-wp, min-height: min-hp) {
      @each $size, $length in $coursemos-sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length; }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    @each $prop, $abbrev in (max-width: max-wp, max-height: max-hp) {
      @each $size, $length in $coursemos-sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length; }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    @each $prop, $abbrev in (width: wp, height: hp) {
      @each $size, $length in $coursemos-sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length; }
      }
    }
  }
}


// percent
$coursemos-percent-sizes: (
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%,
    100: 100%
) !default;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $coursemos-percent-sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}