.course-users .panel-professor { }
.course-users .panel-professor .card-box { }
.course-users .panel-professor .card-box .user-thumb { width:44px; height:44px; margin:0 auto; }
.course-users .panel-professor .card-box .user-thumb .img-thumb { padding:.25rem; background:#fff; border:1px solid #dee2e6; max-width:100%; height:auto; border-radius: 50%; }