.local-ubonattend .form-setting .form-datepicker[readonly] { background-color: transparent; }
.local-ubonattend .form-setting .form-datepicker[disabled] { background-color: #eee; }







.local-ubonattend .modal-progress .warning { font-weight: normal; }
.local-ubonattend .modal-progress .danger { color:#c21b0e; }

.local-ubonattend .modal-progress tr.bordertopbold td,
.local-ubonattend .modal-progress tr.bordertopbold th { border-top:2px solid black; }

.local-ubonattend .modal-progress tr.borderbottombold td,
.local-ubonattend .modal-progress tr.borderbottombold th { border-bottom:2px solid black; }


.local-ubonattend .modal-progress .background-color-desc .label { padding:.4rem 0.7rem; font-weight: normal; color: inherit; border: 1px solid #e9ecef; }

.local-ubonattend .modal-progress .background-color-desc .label-info,
.local-ubonattend .modal-progress tr.info td,
.local-ubonattend .modal-progress tr.info th { background-color: #edfaff; }

.local-ubonattend .modal-progress .background-color-desc .label-danger,
.local-ubonattend .modal-progress tr td.danger, 
.local-ubonattend .modal-progress tr.danger td,
.local-ubonattend .modal-progress tr.danger th { background-color: #fff1f1; color:#c21b0e; }

.local-ubonattend .modal-progress tr td.warning,
.local-ubonattend .modal-progress .background-color-desc .label-warning { background-color: #fcf8e3; }

.local-ubonattend .modal-progress tr td.default,
.local-ubonattend .modal-progress .background-color-desc .label-default { background-color: transparent; }

.local-ubonattend .table-progress .borderbottom { border-bottom:1px solid #e9ecef; }