<div class="local-ubnotification">
	<div class="text-info description">
		{{#str}}notification_kept_period, local_ubnotification, {{keptPeriodText}}{{/str}}
	</div>
	
	<div class="well p-0">
		{{#totalCount}}
		
			{{#notifications}}	
			<div class="media">
				{{#isdelete}}
				<div class="text-through">
				{{/isdelete}}
				
				{{^isdelete}}
				<a href="{{{url}}}">
				{{/isdelete}}
				
				<div class="media-left">
					<img class="media-object" src="{{{icon}}}" alt="" />
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						{{{newIcon}}}
						
						{{courseName}}
						
						{{#sectionName}} 
						- <span class="sectionname">{{{sectionName}}}</span>
						{{/sectionName}} 
					</h4>
					<p class="timeago">{{twitterTime}}</p>
					<p>{{{message}}}</p>
				</div>
				
				{{#isdelete}}
				</div>
				{{/isdelete}}
				
				{{^isdelete}}
				</a>
				{{/isdelete}}
			</div>
			{{/notifications}}
			{{{paging.html}}}
		{{/totalCount}}
		
		{{^totalCount}}
		<div class="nodata">{{#str}}no_notification, local_ubnotification{{/str}}</div>
		{{/totalCount}}
	</div>
</div>