{{< core_form/element-template-inline }}
    {{$element}}
        <span class="fdate_selector">
        {{#element.elements}}
            {{{html}}}
        {{/element.elements}}
        </span>
    {{/element}}
{{/ core_form/element-template-inline }}
