{{!
@template theme_coursemos/core_form/element-radio-online

   Example context (json):
   {
    "element": {
        "id": "id_test_radio0",
        "name": "test_radio_button"
      }
   }

}}
<label class="radio-inline {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}}">
{{^element.hardfrozen}}{{#element.frozen}}{{#element.checked}}
    <input type="hidden" name="{{element.name}}" value="{{element.value}}">
{{/element.checked}}{{/element.frozen}}{{/element.hardfrozen}}
<input type="radio" {{^element.frozen}}name="{{element.name}}"{{/element.frozen}}
    id="{{element.id}}" value="{{element.value}}"
    {{#element.checked}}checked{{/element.checked}}
    {{#element.frozen}}disabled{{/element.frozen}}
    {{#error}}
        autofocus aria-describedby="id_error_{{element.name}}"
    {{/error}}
    {{{element.attributes}}} >
    {{{label}}}
</label>
{{#text}}
    <em>{{{.}}}</em>
{{/text}}
{{{helpbutton}}}
<span class="form-text text-danger" id="id_error_{{element.name}}" {{^error}} style="display: none;"{{/error}}>
    {{{error}}}
</span>
{{^element.frozen}}
{{#js}}
require(['theme_coursemos/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
