<label class="checkbox-inline {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}}">
{{^element.hardfrozen}}
    {{#element.frozen}}
        <input type="hidden" name="{{element.name}}" value="{{element.frozenvalue}}">
    {{/element.frozen}}
{{/element.hardfrozen}}
<input type="checkbox" name="{{element.name}}" class="{{element.extraclasses}}"
    id="{{element.id}}"
    {{#element.value}}
        value="{{element.value}}"
    {{/element.value}}
    {{^element.value}}
        value="1"
    {{/element.value}}
    {{#element.checked}}checked{{/element.checked}}
    size="{{element.size}}"
    {{#error}}
        autofocus aria-describedby="id_error_{{element.name}}"
    {{/error}}
    {{#element.frozen}}
        disabled
    {{/element.frozen}}
    {{{element.attributes}}} >
    {{{label}}}
</label>
{{#text}}
    <em>{{{.}}}</em>
{{/text}}
{{{helpbutton}}}
<span class="form-check text-danger" id="id_error_{{element.name}}" {{^error}} style="display: none;"{{/error}}>
    {{{error}}}
</span>
{{^element.frozen}}
{{#js}}
require(['theme_coursemos/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
