{{< core_form/element-template }}
    {{$element}}
        <div class="fdate_time_selector">
        {{#element.elements}}
            {{{html}}}
        {{/element.elements}}
        </div>
    {{/element}}
{{/ core_form/element-template }}
