<div class="searchform">
    <form action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="id" value="{{courseid}}">
        <div class="input-group">
            <label class="sr-only" for="searchform_search">{{#str}}search{{/str}}</label>
            <input id="searchform_search" name="search" type="text" class="form-control" size="10">
			<span class="input-group-btn">
				<button class="btn btn-default" id="searchform_button" type="submit">{{#str}}go{{/str}}</button>
			</span>
        </div>
        </fieldset>
    </form>
    <div class="mt-2">
        <a href="{{advancedsearchurl}}">{{#str}}advancedsearch, block_search_forums{{/str}}</a>
        {{#helpicon}}
            {{>core/help_icon}}
        {{/helpicon}}
    </div>
</div>
