<form id="ubboard-list-form" method="post" action="action.php">
	<div class="table-responsive">
		<table class="table table-bordered table-coursemos">
			<colgroup>
				{{# permissions.manage}}
				<col class="wp-40" />
				{{/ permissions.manage}}
				
				<col class="wp-50" />
				
				{{# ubboard.category}}
				<col class="wp-130" />
				{{/ ubboard.category}}
				
				{{# ubboard.isOpenColumn }}
				<col class="wp-100" />
				{{/ ubboard.isOpenColumn }}
				
				{{# ubboard.isBoardType.group}}
				<col class="wp-120" />
				{{/ ubboard.isBoardType.group}}
				
				<col />
				<col class="wp-150" />
				<col class="wp-120" />
				<col class="wp-70" />
			</colgroup>
			<thead>
				<tr>
					{{# permissions.manage}}
					<th class="text-center">
						<input type="checkbox" name="all_checked" />
					</th>
					{{/ permissions.manage}}
					
					<th class="text-center">{{# str}} number, local_ubion {{/ str}}</th>
					
					{{# ubboard.category}}
					<th class="text-center">
						<div class="form-inline">
						<select name="categoryid" class="form-control form-control-sm form-control-category">
							{{# categories }}
							<option value="{{id}}" {{# isSelected}} selected="selected"{{/ isSelected}}>{{name}}</option>
							{{/ categories }}
						</select>
						
						{{# permissions.manage}}
						<a href="{{ buttons.category_manage.url }}">
							<img src="{{{icons.category}}}" alt="{{# str}} category_manage, ubboard {{/ str}}" />
						</a>
						{{/ permissions.manage}}
						</div>
					</th>
					{{/ ubboard.category}}
					
					{{# ubboard.isOpenColumn }}
					<th class="text-center">{{# str}}open_yn, ubboard{{/ str}}</th>
					{{/ ubboard.isOpenColumn }}
					
					{{# ubboard.isBoardType.group}}
					<th class="text-center">{{# str}}group{{/ str}}</th>
					{{/ ubboard.isBoardType.group}}
					
					<th class="">{{# str}}subject, ubboard{{/ str}}</th>
					<th class="text-center">{{# str}}writer, ubboard{{/ str}}</th>
					<th class="text-center">{{# str}}datecreated, ubboard{{/ str}}</th>
					<th class="text-center">{{# str}}viewcount, ubboard{{/ str}}</th>
				</tr>
			</thead>
			<tbody>
				{{# notices}}
				<tr class="{{trclass}}">
					{{# permissions.manage}}
					<td class="text-center">
						<input type="checkbox" name="manage[]" value="{{ id }}" />
					</td>
					{{/ permissions.manage}}
					
					<td class="text-center">
						<img src="{{{ icons.notice }}}" alt="notice" />
					</td>
					
					{{# ubboard.category}}
						{{! 최상위 글인 경우에만 카테고리 명칭 출력 => 카테고리명이 너무 많이 출력되니 지저분해보이고 관계글인지 잘 파악이 안됨. }}
						<td class="text-center">
						{{^ parent}}
							{{ categoryname }}
						{{/ parent}}
						</td>
					{{/ ubboard.category}}
					
					{{# ubboard.isOpenColumn }}
					<td class="text-center">{{openname}}</td>
					{{/ ubboard.isOpenColumn }}
					
					
					{{# ubboard.isBoardType.group}}
					<td class="text-center"> {{ groupname }} </td>
					{{/ ubboard.isBoardType.group}}
					<td>
						{{# reply }}
							<img src="{{{ icons.reply }}}" alt="reply" style="margin-left:{{ leftmargin }}px" />
						{{/ reply }}
						
						{{# link}}
						<a href="{{{link}}}">
						{{/ link}}
						
						{{{ subject }}}
						
						{{# link}}
						</a>
						{{/ link}}
						
						{{# ubboard.comment}}
							{{# comment_cnt}}
								[{{ comment_cnt}}]
							{{/ comment_cnt}}
						{{/ ubboard.comment}}
						
						{{# file_cnt}}
							<img src="{{{ icons.file}}}" alt="file" />
						{{/ file_cnt}}
						
						{{# secret}}
							<img src="{{{ icons.secret }}}" alt="secret" />
						{{/ secret}}
					</td>
					<td class="text-center">{{{ fullname }}}</td>
					<td class="text-center"><span title="{{fulldate}}">{{ date }}</span></td>
					<td class="text-center">{{ view_cnt }}</td>
				</tr>
				{{/ notices}}
				{{# lists}}
				<tr class="{{trclass}}">
					{{# permissions.manage}}
					<td class="text-center">
						<input type="checkbox" name="manage[]" value="{{ id }}" />
					</td>
					{{/ permissions.manage}}
					
					<td class="text-center">
					{{# isCurrent}}
						>>
					{{/ isCurrent}}
					{{^ isCurrent}}
						{{ number }}
					{{/ isCurrent}}
					
					</td>
					
					{{# ubboard.category}}
						<td class="text-center">
						{{! 최상위 글인 경우에만 카테고리 명칭 출력 => 카테고리명이 너무 많이 출력되니 지저분해보이고 관계글인지 잘 파악이 안됨. }}
						{{^ parent}}
							{{ categoryname }}
						{{/ parent}}
						</td>
					{{/ ubboard.category}}
					
					{{# ubboard.isOpenColumn }}
					<td class="text-center">{{openname}}</td>
					{{/ ubboard.isOpenColumn }}
					
					{{# ubboard.isBoardType.group}}
					<td class="text-center"> {{ groupname }} </td>
					{{/ ubboard.isBoardType.group}}
					<td>
						{{# reply }}
							<img src="{{{ icons.reply }}}" alt="reply" style="margin-left:{{ leftmargin }}px" />
						{{/ reply }}
						
						{{# link}}
						<a href="{{{link}}}">
						{{/ link}}
						{{{ subject }}}
						{{# link}}
						</a>
						{{/ link}}
						{{# ubboard.comment}}
							{{# comment_cnt}}
								[{{ comment_cnt}}]
							{{/ comment_cnt}}
						{{/ ubboard.comment}}
						
						{{# file_cnt}}
							<img src="{{{ icons.file}}}" alt="file" />
						{{/ file_cnt}}
						
						{{# secret}}
							<img src="{{{ icons.secret }}}" alt="secret" />
						{{/ secret}}
					</td>
					<td class="text-center">{{{ fullname }}}</td>
					<td class="text-center"><span title="{{fulldate}}">{{ date }}</span></td>
					<td class="text-center">{{ view_cnt }}</td>
				</tr>
				{{/ lists}}
				{{^ lists}}
				<tr>
					<td colspan="{{ colspan }}" class="noarticles">{{# str}}noarticles, ubboard{{/ str}}</td>
				</tr>
				{{/ lists}}
			</tbody>
			{{# permissions.manage }}
			<tfoot>
				<tr>
					<td colspan="{{colspan}}">
						<input type="hidden" name="{{formtypename}}" />
						<input type="hidden" name="id" value="{{getParameter.id}}" />
						<input type="hidden" name="sesskey" value="{{sesskey}}" />
						<input type="hidden" name="open" value="" />
						<input type="hidden" name="categoryid" value="" />
						{{! returnurl은 일단 보류함. }}
						<input type="hidden" name="returnurl" value="" />
						
						
						<span>{{#str}} selected_article, ubboard {{/str}}</span>
						
						<div class="btn-group">
						{{# selectedButtons}}
							<button type="button" class="{{class}}" data-url="{{{url}}}">{{text}}</button>
						{{/ selectedButtons}}
						</div>
					</td>
				</tr>
			</tfoot>
			{{/ permissions.manage }}
		</table>
	</div>
</form>
{{{ paging.html }}}

{{# ubboard.isOpenColumn }}
<div class="modal modal-article-open">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
		        </button>
		    	<h5 class="modal-title">{{# str}}open_yn, ubboard{{/ str}}</h5>
		  	</div>
	
		  	<div class="modal-body">
		  		<div class="form-horizontal">
		  			<div class="form-group">
		  				<label class="col-sm-3 control-label">
		  					{{# str}}open_yn, ubboard{{/ str}}
		  				</label>
		  				<div class="col-sm-9">
		  					<select name="public" class="form-control form-control-open">
					  			<option value="1">{{# str}}open_1, ubboard{{/ str}}</option>
					  			<option value="0">{{# str}}open_0, ubboard{{/ str}}</option>
					  		</select>
					  		<div class="form-text text-muted">
					  			{{# str}}open_help, ubboard{{/ str}}
					  		</div>
				  		</div>
		  			</div>
		  			<div class="form-group">
		  				<div class="col-sm-offset-3 col-sm-9">
			  				<button type="button" class="btn btn-primary btn-open-save">{{# str}}save, local_ubion{{/ str}}</button>
			  				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{# str}}close, local_ubion{{/ str}}</button>
		  				</div>
		  			</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
{{/ ubboard.isOpenColumn }}

{{# ubboard.category }}
<div class="modal modal-article-move">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
		        </button>
				<h3 class="modal-title">{{# str}}move_article, ubboard{{/ str}}</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">
		  					{{# str}}category, ubboard{{/ str}}
		  				</label>
		  				<div class="col-sm-9">
							<select name="movecategoryid" class="form-control form-control-movecategoryid">
								{{# categories }}
									{{# id}}
								<option value="{{id}}" {{# isSelected}} selected="selected"{{/ isSelected}}>{{name}}</option>
									{{/ id}}
								{{/ categories }}
							</select>
						</div>
					</div>
					<div class="form-group">
		  				<div class="col-sm-offset-3 col-sm-9">
			  				<button type="button" class="btn btn-primary btn-move-save">{{# str}}btn_move, ubboard{{/ str}}</button>
			  				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{# str}}close, local_ubion{{/ str}}</button>
		  				</div>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/ ubboard.category }}

{{# permissions.manage }}
<div class="modal modal-share">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
		        </button>
				<h3 class="modal-title">{{# str}}share, ubboard{{/ str}}</h3>
		  	</div>
	
		  	<div class="modal-body">
		  		Loading...
			</div>
		</div>
	</div>
</div>
{{/ permissions.manage }}