{{< mod_ubboard/default_layout }}
	{{$ content}}
		<p class="text-info">{{# str}}category_arrow_move, ubboard{{/ str}}</p>
		
		<table class="table table-bordered table-coursemos coursemos-sortable">
			<colgroup>
				<col class="w80" />
				<col />
				<col class="w150" />
				<col class="w150" />
				<col class="w150" />
			</colgroup>
			<thead>
				<tr>
					<th class="header">&nbsp;</th>
					<th class="header">{{# str}}category_name, ubboard{{/ str}}</th>
					<th class="header">{{# str}}articlecount, ubboard{{/ str}}</th>
					<th class="header">{{# str}}category_created, ubboard{{/ str}}</th>
					<th class="header">{{# str}}etc, local_ubion{{/ str}}</th>
				</tr>
			</thead>
			<tbody>
				{{# categories}}
				<tr id="tr-category-{{id}}" data-id="{{id}}">
					<td class="text-center">
						<img src="{{icons.sortorder}}" alt="" class="orders" />
					</td>
					<td>
						<a href="{{link}}">{{name}}</a>
					</td>
					<td class="text-center">{{cnt}}</td>
					<td class="text-center"><span title="{{fulldate}}">{{date}}</span></td>
					<td class="text-center">
						<div class="btn-group">
							{{{buttonModify}}}
							{{{buttonDelete}}}
						</div>
					</td>
				</tr>
				{{/ categories}}
				
				{{^ categories}}
				<tr>
					<td colspan="5" class="text-center">
						{{# str}}notfound_category, ubboard{{/ str}}
					</td>
				</tr>
				{{/ categories}}
			</tbody>
		</table>
		
		<div class="category-buttons">
			<div class=" pull-right">
				<a href="{{buttons.add.url}}" class="btn btn-primary">{{buttons.add.text}}</a>
			</div>
			
			<a href="{{buttons.list.url}}" class="btn btn-default">{{buttons.list.text}}</a>
		</div>
	{{/ content}}
{{/ mod_ubboard/default_layout }}