{{< mod_ubboard/default_layout }}
	{{$ content }}
		{{# ubboard.isBoardType.group}}
		<div class="well">
			{{{ groupSelect }}}
		</div>
		{{/ ubboard.isBoardType.group}}
		<div class="well mb-3">
			<div class="paging-info text-md-right form-inline mb-3">
				<div class="form-control-static mr-3">
					{{paging.strtc}} : <span class="text-warning">{{paging.total}}</span>
				</div>
				
				{{# paging.totalPage}}
				<div class="form-control-static mr-3">
					{{paging.strtp}} : <span class="text-success">{{paging.currentPage}} / {{paging.totalPage}}</span>
				</div>
				{{/ paging.totalPage}}
	
				
				<select name="ls" class="form-control input-sm form-control-ls">
					{{# listSizes}}
					<option value="{{key}}" {{selected}}>{{value}}</option>
					{{/ listSizes}}
				</select>
				
	
				{{# alldownload.is}}
				<div class="form-control-static">
					<a href="{{alldownload.url}}" class="btn btn-sm btn-default btn-alldownload">{{alldownload.title}}</a>
				</div>
				{{/ alldownload.is}}
			</div>
			
				
			<div class="lists">
				{{> mod_ubboard/default_list}}
			</div>
		</div>
		<div class="buttons text-right mb-3">
			<div class="pull-left">
				<a href="{{ buttons.list.url }}" class="btn btn-default">{{ buttons.list.text }}</a>
			</div>
			
			
			{{# permissions.write }}
				<a href="{{ buttons.write.url }}" class="btn btn-primary">{{ buttons.write.text }}</a>
			{{/ permissions.write }}
		</div>
		
		<div class="search text-center">
			<form action="view.php" method="get" class="form-inline keyword_search">
				<fieldset>					
					<input type="hidden" name="id" value="{{getParameter.id}}" />

					<select name="keyfield">
						{{# keyfieldOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{name}}</option>
						{{/ keyfieldOption}}
					</select>

					
					<input type="text" name="keyword" placeholder="{{#str}}keyword, local_ubion{{/str}}" value="{{getParameter.keyword}}" class="required" minlength="2" />
					<button type="submit" class="btn btn-default">{{# str}} search {{/str}}</button>
					{{# issearch}}
					<a href="{{ buttons.list.url }}" class="btn btn-default btn-search-cancel">{{# str}}search_cancel, local_ubion{{/ str}}</a>
					{{/ issearch}}
				 </fieldset>
			</form>
		</div>
	{{/ content }}
{{/ mod_ubboard/default_layout }}