<h2>{{ubboard.name}}</h2>
 
{{# ubboard.intro }}
	<div class="well">
	{{{ ubboard.intro }}}
	</div>
{{/ ubboard.intro }}

<div class="ubboard ubboard-mobile">
	{{$ content }}
		content
	{{/ content }}
</div>