<ul class="list-group">
	{{# notices}}
	<li class="list-group-item">
		{{# link}}
		<a href="{{{link}}}">
		{{/ link}}
		
		<h4 class="list-group-item-heading">
		
			{{# ubboard.category}}
				[{{ categoryname }}]
			{{/ ubboard.category}}
			
			{{{ subject }}}
			
			{{# ubboard.comment}}
				{{# comment_cnt}}
					<span class="commentcount">[{{ comment_cnt}}]</span>
				{{/ comment_cnt}}
			{{/ ubboard.comment}}
		</h4>
		<p class="list-group-item-text">{{{ fullname }}}</p>
		<p class="list-group-item-text">{{ date }}</p>
		
		{{# link}}
		</a>
		{{/ link}}
	</li>
	{{/ notices}}
	
	{{# lists}}
	<li class="list-group-item {{trclass}}">
		{{# link}}
		<a href="{{{link}}}">
		{{/ link}}
		
		<h4 class="list-group-item-heading">
		
			{{# ubboard.category}}
				[{{ categoryname }}]
			{{/ ubboard.category}}
			
			{{{ subject }}}
			
			{{# ubboard.comment}}
				{{# comment_cnt}}
					<span class="commentcount small">[{{ comment_cnt}}]</span>
				{{/ comment_cnt}}
			{{/ ubboard.comment}}
		</h4>
		<p class="list-group-item-text">{{{ fullname }}}</p>
		<p class="list-group-item-text">{{ date }}</p>
		
		{{# link}}
		</a>
		{{/ link}}
	</li>
	{{/ lists}}
	
	{{^ lists}}
	<li class="list-group-item noarticles">{{# str}}noarticles, ubboard{{/ str}}</li>
	{{/ lists}}
</ul>

{{{ paging.html }}}