{{< mod_ubboard/mobile_layout }}
	{{$ content}}
		<div class="well well-article">
			<div class="article-subject">
				<h3>{{{article.subject}}}</h3>
			</div>
			<div class="article-info">
				<div class="row container-fluid">
					<div class="col-sm-4 col-lg-5 col-info">
						<strong>{{# str}}writer, ubboard{{/ str}}</strong> : {{{article.fullname}}}
					</div>
					<div class="col-sm-5 col-lg-5 col-info text-md-right">
						<strong>{{# str}}datecreated, ubboard{{/ str}}</strong> : {{ article.date }}
					</div>
					<div class="col-sm-3 col-lg-2 col-info text-md-right">
						<strong>{{# str}}viewcount, ubboard{{/ str}}</strong> : {{ article.numformat_view }}
					</div>
				</div>
			</div>
			
			{{# article.attachments.count}}
			<div class="article-files">
				<div class="d-inline-block align-top">
					<strong>{{# str}}attachments, ubboard{{/ str}}</strong>
				</div>
				<div class="d-inline-block ml-2">
					<ul class="files">
					{{# article.attachments.files }}
						<li>
							<a href="{{{url}}}">
								<img src="{{{icon}}}" alt="{{{alt}}}" /> {{{ text}}}
							</a>
						</li>
					{{/ article.attachments.files }}
					</ul>
				</div>
			</div>
			{{/ article.attachments.count}}
			
		
		
			<div class="article-content">
			
				{{{ article.content }}}
		
				{{# article.attachments.count}}
					{{# article.attachments.images}}
					<p>
						<a href="{{{url}}}" class="lightbox_image">
							<img src="{{{url}}}" alt="{{alt}}" />
						</a>
					</p>
					{{/ article.attachments.images}}
				{{/ article.attachments.count}}
				
				
				{{# share.articleCount}}
				<div class="panel panel-default float-md-right panel-share">
					<div class="panel-heading">{{# str}}shared_courses, ubboard{{/ str}}</div>
					<div class="panel-body">
						<ul>
							{{# share.articles}}
							<li>
								<a href="{{{url}}}">{{{coursename}}}</a>
							</li>
							{{/ share.articles}}
						</ul>
					</div>
				</div>
				{{/ share.articleCount}}
			</div>
		</div>
		
		<div class="article-buttons mb-5">
			<a href="{{buttons.list.url}}" class="{{buttons.list.class}}">{{buttons.list.text}}</a>
			
			{{# buttons.open}}
			<button type="button" class="{{buttons.open.class}}" data-open="{{buttons.open.url}}">{{buttons.open.text}}</button>
			{{/ buttons.open}}
		
			
			{{# buttons.write}}
			<a href="{{buttons.write.url}}" class="{{buttons.write.class}}">{{buttons.write.text}}</a>
			{{/ buttons.write}}
			{{# buttons.reply}}
			<a href="{{buttons.reply.url}}" class="{{buttons.reply.class}}">{{buttons.reply.text}}</a>
			{{/ buttons.reply}}
			{{# buttons.write}}
			<a href="{{buttons.modify.url}}" class="{{buttons.modify.class}}">{{buttons.modify.text}}</a>
			{{/ buttons.write}}
			{{# buttons.delete}}
				{{# share.articleCount}}
					<button type="button" class="btn btn-danger btn-popover-delete">{{buttons.delete.text}}</button>
					
					<div class="popover-delete-content hide">
						<a href="{{buttons.delete.url}}" class="btn btn-danger btn-sm btn-delete my-2">해당글만 삭제</a>
						<a href="{{buttons.delete.url}}" class="btn btn-danger btn-sm btn-delete-shareall my-2">공유된 글 모두 삭제</a>
					</div>
				{{/ share.articleCount}}
				{{^ share.articleCount}}
					<a href="{{buttons.delete.url}}" class="{{buttons.delete.class}}">{{buttons.delete.text}}</a>
				{{/ share.articleCount}}
			{{/ buttons.delete}}
		</div>
		
		{{# ubboard.comment}}
		<div id="ubboard-comment">
			{{# commentCount}}
			<div class="well well-comment-list mb-3">
				{{# comment}}
				<div class="comment-lists" style="margin-left:{{ leftmargin }}px" id="comment-{{id}}">
					<div class="media">
						<div class="media-left">{{{userpicture}}}</div>
						<div class="media-body">
							<div class="userinfo">
								{{# isButtons}}
								<div class="pull-right">
									
									{{# isReply}}
									<button type="button" class="btn btn-xs btn-default btn-comment-reply" data-id="{{id}}">{{# str}}btn_reply, ubboard{{/ str}}</button>
									{{/ isReply}}
									
									{{# isModifyDelete}}
									<button type="button" class="btn btn-xs btn-default btn-comment-modify" data-id="{{id}}">{{# str}}btn_modify, ubboard{{/ str}}</button>
									<button type="button" class="btn btn-xs btn-danger btn-comment-delete" data-id="{{id}}">{{# str}}btn_delete, ubboard{{/ str}}</button>
									{{/ isModifyDelete}}
								</div>
								{{/ isButtons}}
								
								<div class="info">
									{{# userlink}}
									<a href="{{userlink}}">{{fullname}}</a>
									{{/ userlink}}
									
									{{^ userlink}}
									{{fullname}}
									{{/ userlink}}
								</div>
								<div class="info">
									<span title="{{fulldate}}">{{date}}</span>
								</div>
							</div>
							<div class="comment-content">
								{{{ comment }}}
							</div>
						</div>
					</div>
				</div>
				{{/ comment}}
			</div>
			{{/ commentCount}}
			
			{{# permissions.comment}}
			<div class="comment-form">
				<div class="well well-comment-form mb-5" >
					<form method="post" class="form-validate form-comment" action="action.php">
						<div class="form-group m-0">
							{{# ubboard.isBoardType.anonymous}}
							<div class="form-group form-inline mb-3">
								<input type="text" name="nickname" class="form-control form-control-nickname" placeholder="{{# str}} nickname, ubboard {{/ str}}" />
								<span class="text-info">{{# str}} nickname_input, ubboard {{/ str}}</span>
							</div>
							{{/ ubboard.isBoardType.anonymous}}
							<div class="form-group">
								<textarea name="comment" id="comment" class="required form-control form-control-comment" rows="4" cols="50" placeholder="{{# str}}comment, ubboard{{/ str}}"></textarea>
								
								<input type="hidden" name="{{formtypename}}" value="commentInsert" />
								<input type="hidden" name="id" value="{{getParameter.id}}" />
								<input type="hidden" name="bwid" value="{{getParameter.bwid}}" />
								<input type="hidden" name="bcid" value="" />
								<input type="hidden" name="sesskey" value="{{sesskey}}" />
							</div>
							
							<div class="text-right m-1">
								<div class="btn-group">
									<button type="submit" class="btn btn-primary btn-sm btn-comment-save">{{# str}}save, local_ubion{{/ str}}</button>
									<button type="button" class="btn btn-default btn-sm btn-comment-cancel">{{# str}}cancel{{/ str}}</button>
								</div>
							</div>
							
						</div>
					</form>
				</div>
			</div>
			{{/ permissions.comment}}
		</div>
		{{/ ubboard.comment}}
		
		<div class="lists article-lists">
			{{> mod_ubboard/mobile_list}}
		</div>
	{{/ content}}
{{/ mod_ubboard/mobile_layout }}