{{< mod_ubboard/mobile_layout }}
	{{$ content }}
		{{# ubboard.isBoardType.group}}
		<div class="well">
			{{{ groupSelect }}}
		</div>
		{{/ ubboard.isBoardType.group}}
		<div class="lists mb-3">
			{{> mod_ubboard/mobile_list}}
		</div>
		
		<div class="buttons text-right mb-3">
			<div class="pull-left">
				<a href="{{ buttons.list.url }}" class="btn btn-default">{{ buttons.list.text }}</a>
			</div>
			
			{{# permissions.write }}
				<a href="{{ buttons.write.url }}" class="btn btn-primary">{{ buttons.write.text }}</a>
			{{/ permissions.write }}
		</div>
		
		<div class="search text-center well mt-4">
			<form action="view.php" method="get">
				<div class="form-group">					
					<input type="hidden" name="id" value="{{getParameter.id}}" />

					<select name="keyfield">
						{{# keyfieldOption}}
						<option value="{{key}}" {{# selected}}selected="selected"{{/ selected}}>{{name}}</option>
						{{/ keyfieldOption}}
					</select>

				</div>
				<div class="form-group">
					<div class="input-group">	
						<input type="text" name="keyword" placeholder="{{#str}}keyword, local_ubion{{/str}}" value="{{getParameter.keyword}}" class="required" minlength="2" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">{{# str}} search {{/str}}</button>
							{{# issearch}}
								<a href="{{ buttons.list.url }}" class="btn btn-default btn-search-cancel">{{# str}}search_cancel, local_ubion{{/ str}}</a>
							{{/ issearch}}
						</span>
					</div>
				</div>
			</form>
		</div>
	{{/ content }}
{{/ mod_ubboard/mobile_layout }}