.format-ubsweeks #completionprogressid { top : 28px; margin-right:30px; }
.format-ubsweeks #completionprogressid .btn { vertical-align: top; padding:0; }

.format-ubsweeks .course-content { position:relative; }

/* 강좌 공통 */
.format-ubsweeks .course-content h2.main,
.format-ubsweeks .course-content .section-title-one { font-size:16px; margin:0; color:#333333; font-weight:bold; padding: 21px 28px 20px; border-bottom: 1px solid #d9dbdb; background-color:#e4f0eb; }

/* 강좌 개요 영역 */
.format-ubsweeks .course_box { border:1px solid #d9dbdb; background-color:white; }


.format-ubsweeks .course-content .course_box0 { margin-bottom:1.5rem; }
.format-ubsweeks .course-content .course_box0 h2.main { font-size:20px; color:#333; padding: 29px 0 28px; border-bottom: 1px solid #ebebeb; margin:0 30px; background-color:transparent; }
.format-ubsweeks .course-content .course_box0 ul li.section { border-bottom:0px; padding:22px 30px 18px 30px; }


/* 특정 모듈 선택 */
.format-ubsweeks .total-sections .course-filter { float:right; margin:12px 15px; }
.format-ubsweeks .total-sections .course-filter select { border-radius:0px; }

/* section 영역 */
/* section 공통 */
.format-ubsweeks .course-content li.section { border:0px; border-bottom:1px solid #e0e0e0; margin:0; padding:39px 27px 38px 27px; }
.format-ubsweeks .course-content li.section:last-child { border-bottom:0px; }

.format-ubsweeks .course-content ul.ubsweeks li.section { 
    padding: 39px 27px 38px 27px;
    border-bottom: 1px solid #e0e0e0;
}
.format-ubsweeks .course-content ul.ubsweeks li.section .left,
.format-ubsweeks .course-content ul.ubsweeks li.section .right { display:none; }

.format-ubsweeks .course-content li.section ul.section { margin:26px 0 0 0; padding:0; }

.format-ubsweeks .course-content li.section .sectionname,
.format-ubsweeks .course-content .section-summary .section-title,
.format-ubsweeks .course-content li.section .sectionname a,
.format-ubsweeks .course-content .section-summary .section-title a { padding:0px; font-size:16px; margin:.5rem 0; }

.format-ubsweeks .course-content li.section .content .summary,
.format-ubsweeks .course-content .section-summary .summarytext { color:#666; }

.format-ubsweeks .course-content li.section .content .section_availability,
.format-ubsweeks .course-content li.section .content .summary,
.format-ubsweeks .course-content .section-summary .summarytext { margin:1rem; }


.format-ubsweeks .course-content li.section li.activity { padding:7px 12px; }
.format-ubsweeks .course-content li.activity.label { border-width: 1px 0 0 0; border-radius: 0;}
.format-ubsweeks .course-content li.activity:first-child { border-top:0px; }
.format-ubsweeks .course-content li.activity:hover { background-color:#f0f2f2; }


.format-ubsweeks .course-content li.activity a { color:#333; }
.format-ubsweeks .course-content li.activity a.editing_title { display:none; }
.format-ubsweeks .course-content li.activity img.activityicon { vertical-align:middle; margin-right:10px; }
.format-ubsweeks .course-content li.activity .displayoptions,
.format-ubsweeks .course-content li.activity .resourcelinkdetails { color:#f3773a; font-size:12px; }

.format-ubsweeks .course-content li.activity .dropdown-toggle img { margin:0; }
.format-ubsweeks .course-content li.activity .dropdown-toggle::after { display:none; }








/* 0 주차는 모양이 달라짐 */
.format-ubsweeks .course-content li#section-0 ul { margin:0px; }
.format-ubsweeks .course-content li#section-0 li.activity { 
	display:inline-block; 
	width:104px; max-width:104px; 
	text-align:center; vertical-align:top; 
	padding:0px;
	border:1px solid transparent; 
	border-radius: 5px;
	margin:0 1px;
}
.format-ubsweeks .course-content li#section-0 li.activity:hover { background-color:#f6f6f6; border-color:#ebebeb; }
.format-ubsweeks .course-content li#section-0 li.activity > div { padding:5px 0; }
.format-ubsweeks .course-content li#section-0 li.activity .mod-indent-outer { padding:0; display:block; }
.format-ubsweeks .course-content li#section-0 li.activity .mod-indent-outer .mod-indent { display:none; }
.format-ubsweeks .course-content li#section-0 li.activity .activityinstance {  display:block; padding:0px; }
.format-ubsweeks .course-content li#section-0 li.activity .activityinstance > a { display:block; padding:13px 8px; text-align:center; text-indent:0; }
.format-ubsweeks .course-content li#section-0 li.activity .activityinstance .groupinglabel { padding-left:0px; }
.format-ubsweeks .course-content li#section-0 li.activity img.activityicon { width:auto; height:auto; margin-right:0px; }
.format-ubsweeks .course-content li#section-0 li.activity .instancename { display:block; margin-top:11px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; font-size:12px; color:#666; }
.format-ubsweeks .course-content li#section-0 li.activity span.commands { display:inline-block; *display:inline; *zoom:1; width:90%; text-align:center; margin:0 auto; }
.format-ubsweeks .course-content li#section-0 li.activity img.new_modules { position:absolute; top:12px; left:40px; }
.format-ubsweeks .course-content li#section-0 li.activity.dndupload-hidden { display:none; }
.format-ubsweeks .course-content li#section-0 li.activity .dimmed .instancename { color:#999; }
.format-ubsweeks .course-content li#section-0 li.activity .actions { top:inherit; right:inherit; position:relative; display:block; margin:5px 0; }
.format-ubsweeks .course-content li#section-0 li.activity .actions .filler { display:none; }
.format-ubsweeks .course-content li#section-0 span.autocompletion,
.format-ubsweeks .course-content li#section-0 form.togglecompletion { top:-125px; position:absolute; right:0; }
.format-ubsweeks .course-content li#section-0 li.activity .editing_title { visibility:hidden; }
.format-ubsweeks .course-content li#section-0 li.activity .actions .caret { display:none; }

.format-ubsweeks .course-content li#section-0 li.activity .availabilityinfo,
.format-ubsweeks .course-content li#section-0 li.activity .contentafterlink { margin:0px 5px; font-size:12px; }


.format-ubsweeks .course-content hr.exclude_hr { }
.format-ubsweeks .course-content ul.exclude_mod { margin:0; }
.format-ubsweeks .course-content ul.exclude_mod .no-overflow { margin-bottom:0px; }


/* 현재 주차 */
.format-ubsweeks .course-content .course_box_current { margin-bottom:1.5rem; }

/* editing */
.format-ubsweeks.editing .section .activity .activityinstance .quickeditlink { display:none; }
.format-ubsweeks.editing .section .activity .editing_move .icon { margin-right:0px; }

.format-ubsweeks.editing .course-content ul.ubsweeks li.section .left,
.format-ubsweeks.editing .course-content ul.ubsweeks li.section .right { display:block; }

.format-ubsweeks.editing .course-content li#section-0 span.autocompletion,
.format-ubsweeks.editing .course-content li#section-0 form.togglecompletion { top:-102px; }

.format-ubsweeks.editing .course-content ul.ubsweeks li.section .content { margin:0px 1rem; }


/* 편집 버튼을 학습자원/활동명 바로 뒤에 위치하게 하고 싶은 경우 
.format-ubsweeks .course-content li.activity .activityinstance { padding-right:15px; }
.format-ubsweeks.editing .section .activity .actions { position:static; top: inherit; right: inherit; }

.format-ubsweeks .course-content li.activity span.autocompletion, 
.format-ubsweeks .course-content li.activity form.togglecompletion { position:absolute; top:5px; right:0px; }
*/

/* 편집 버튼을 무들 기본으로 설정하고 싶은 경우 */
.format-ubsweeks .course-content li.activity .activityinstance { padding-right:5rem; }
.format-ubsweeks .course-content li.activity .actions img { vertical-align: text-bottom; }


/* 탭형 보기인 경우 */
.format-ubsweeks .course-content ul.ubsweeks.tab-pane li.section { min-height:300px; }

@media (max-width: 576px) {
    .format-ubsweeks .course-content .course_box0 h2.main { margin:0 20px; }
    .format-ubsweeks .course-content ul.ubsweeks li.section { padding:20px; }
    .format-ubsweeks .course-content li#section-0 li.activity { width:92px; max-width:92px; }
    
    
    .format-ubsweeks .course-content ul.ubsweeks.tab-pane li.section { min-height:inherit; }
}