<div class="user-progress">
    <div class="userinfo">
        <div class="col-md-12 col-sm-12 font-weight-bold page-title" style="text-align: center;">
            <span style="font-size: 22px; color: white;">CHƯƠNG TRÌNH ĐÀO TẠO CƠ BẢN ATOMY VIỆT NAM</span>
        </div>
        <div class="form-horizontal form-userinfo">
            <div class="form-group">
                <label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}username{{/str}}</label>
                <div class="col-xs-7 col-sm-9 col-md-10">
                    <p class="form-control-static">{{userinfo.username}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}fullnameuser{{/str}}</label>
                <div class="col-xs-7 col-sm-9 col-md-10">
                    <p class="form-control-static">{{userinfo.fullname}}</p>
                </div>
            </div>
            {{# userinfo.enrolPeriod}}
            <div class="form-group">
                <label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}study_completion_period, local_vn{{/str}}</label>
                <div class="col-xs-7 col-sm-9 col-md-10">
                    <p class="form-control-static">{{{userinfo.enrolPeriod}}}</p>
                </div>
            </div>
            {{/ userinfo.enrolPeriod}}
        </div>
    </div>

    <div class="container-fluid user-progress-well">
        {{#isTab}}
        <div class="nav-tab-container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {{#online.current}}class="active"{{/online.current}}><a href="{{{online.url}}}">{{online.text}}</a></li>
                <li role="presentation" {{#offline.current}}class="active"{{/offline.current}}><a href="{{{offline.url}}}">{{offline.text}}</a></li>
            </ul>
        </div>
        {{/isTab}}
        <div class="row mb-5">
            <div class="col-md-4">
                {{{progress_tags}}}
            </div>
            <div class="col-md-8 mt-4">
                <h3 class="page-title">{{{pageTitle}}}</h3>

                {{#isComplete}}
                {{#str}}automove_complete_desc, local_vn{{/str}}
                {{/isComplete}}
            </div>
        </div>
    </div>
</div>