<div class="user-progress">
	<div class="userinfo">
        <div class="col-md-12 col-sm-12 font-weight-bold page-title" style="text-align: center;">
            <span style="font-size: 22px; color: white;">CHƯƠNG TRÌNH ĐÀO TẠO CƠ BẢN ATOMY VIỆT NAM</span>
        </div>
		<div class="form-horizontal form-userinfo">
			<div class="form-group">
				<label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}username{{/str}}</label>
				<div class="col-xs-7 col-sm-9 col-md-10">
					<p class="form-control-static">{{userinfo.username}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}fullnameuser{{/str}}</label>
				<div class="col-xs-7 col-sm-9 col-md-10">
					<p class="form-control-static">{{userinfo.fullname}}</p>
				</div>
			</div>
			{{# userinfo.enrolPeriod}}
			<div class="form-group">
				<label class="col-xs-5 col-sm-3 col-md-2 control-label">{{#str}}study_completion_period, local_vn{{/str}}</label>
				<div class="col-xs-7 col-sm-9 col-md-10">
					<p class="form-control-static">{{{userinfo.enrolPeriod}}}</p>
				</div>
			</div>
			{{/ userinfo.enrolPeriod}}
		</div>
	</div>
	
	<div class="container-fluid user-progress-well">
		{{#isTab}}
		<div class="nav-tab-container">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" {{#online.current}}class="active"{{/online.current}}><a href="{{{online.url}}}">{{online.text}}</a></li>
		    	<li role="presentation" {{#offline.current}}class="active"{{/offline.current}}><a href="{{{offline.url}}}">{{offline.text}}</a></li>
			</ul>
		</div>
		{{/isTab}}
		<div class="row mb-5">
		    <div class="col-md-4">
		        {{{progress_tags}}}
		    </div>
		    <div class="col-md-8 mt-4">
		    	<h3 class="page-title">{{{pageTitle}}}</h3>
		    	
		    	{{#isComplete}}
		    		{{#str}}automove_complete_desc, local_vn{{/str}}
		    	{{/isComplete}}
		    </div>
		</div>
		
		
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{#sections}}
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="section-heading-{{section}}">
		    		<div class="row">
		    		<div class="col-xs-9">
			      		<h4 class="panel-title">
			        		<a role="button" data-toggle="collapse" href="#section-{{section}}" aria-expanded="true" aria-controls="section-{{section}}">
			        			<span class="fa fa-plus"></span>
			          			{{{name}}}
			        		</a>
			      		</h4>
		      		</div>
		      		{{#isCompletionModule}}
		      		<div class="col-xs-3 text-right text-percent">
		      			<label class="badge badge-percent">{{percent}}%</label>
		      		</div>
		      		{{/isCompletionModule}}
		      		</div>
		    	</div>
		    	<div id="section-{{section}}" class="panel-collapse collapse {{#current}}in{{/current}}" role="tabpanel" aria-labelledby="section-heading-{{section}}">
		      		<div class="panel-body">
		      			<ul class="ul-activities">
		      			{{#cmidsinfo}}
		      				<li class="row li-activity">
			        			<div class="col-xs-9 col-md-10 div-activityname">
			        				<a href="{{{url}}}" {{#onclick}}onclick="{{{onclick}}}"{{/onclick}}>
				        				<img src="{{{icon}}}" alt="{{modname}}" class="mod-icon" />
				        				{{name}}
			        				</a>
			        			</div>
			        			<div class="col-xs-3 col-md-2 text-right text-percent">
			        				{{percent}}%
		        				</div>
		        			</li>
		        		{{/cmidsinfo}}
		        		{{^cmidsinfo}}
		        		<li class="li-activity">
		        			{{#str}}no_modules,local_ubion{{/str}}
		        		</li>
		        		{{/cmidsinfo}}
		        		</ul>
		      		</div>
		    	</div>
		  	</div>
		{{/sections}}
		</div>
	</div>
</div>