<div class="local-vn">
	<div class="table-responsive">
		<table class="table table-bordered table-coursemos">
			<colgroup>
				<col class="wp-80" />
				<col />
				<col class="wp-200" />
				<col class="wp-120" />
			</colgroup>
			<thead>
				<tr>
					<th>{{#str}}attempt, local_vn{{/str}}</th>
					<th>{{#str}}study_period, local_vn{{/str}}</th>
					<th>{{#str}}completion_time, local_vn{{/str}}</th>
					<th>{{#str}}log, local_vn{{/str}}</th>
				</tr>
			</thead>
			<tbody>
				{{#attempts}}
				<tr>
					<td class="text-center">{{attempt}}</td>
					<td class="text-center">
						{{start}} ~ {{end}}
					</td>
					<td class="text-center">
						{{{timecompleteText}}}
					</td>
					<td class="text-center">
						<button type="button" class="btn btn-sm btn-default btn-activity-log" data-attemptid="{{id}}">
							{{#str}}log, local_vn{{/str}}
						</button>
					</td>
				</tr>
				{{/attempts}}
				
				{{^attempts}}
				<tr>
					<td colspan="4" class="p-4">
						{{#str}}no_study, local_vn{{/str}}
					</td>
				</tr>
				{{/attempts}}
			</tbody>
		</table>
	</div>
	
	
	<div id="modal-attempt-activity" class="modal" tabindex="-1" role="dialog">
       	<div class="modal-dialog modal-lg" role="document">
       		<div class="modal-content">
       			<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       				<h4 class="modal-title"></h4>
       			</div>
       			<div class="modal-body">
       				<table class="table table-bordered table-coursemos">
       					<colgroup>
       						<col class="wp-80" />
       						<col />
       						<col class="wp-200" />
       					</colgroup>
       					<thead>
       						<tr>
       							<th>{{#str}}number, local_ubion{{/str}}</th>
       							<th>{{#str}}activity_name, local_vn{{/str}}</th>
       							<th>{{#str}}completion_time, local_vn{{/str}}</th>
       						</tr>
       					</thead>
       					<tbody class="table-body">
       					
       					</tbody>
       				</table>
       			</div>
       			<div class="modal-footer">
       				<button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}close, local_ubion{{/str}}</button>
       			</div>
       		</div><!-- /.modal-content -->
       	</div><!-- /.modal-dialog -->
       </div><!-- /.modal -->
</div>